[Unit]
Description=.NET Web API App 'Cisp.Updater' running on debian

[Service]
WorkingDirectory=/home/projects/CispPro/
ExecStart=/usr/bin/dotnet /home/projects/CispPro/Cisp.Updater.dll
Restart=always

[Install]
WantedBy=multi-user.target
