<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" createDirs="true" fileName="./nlog/cisp-updater.txt" encoding="UTF-8" archiveEvery="Sunday" maxArchiveFiles="4" />
  </targets>

  <rules>
    <logger name="*" minlevel="info" writeTo="logfile" />
  </rules>
</nlog>