-- PLACE HERE SCRIPTS WHICH WILL BE PROCESSED JUST AFTER SUCCESSFULL INSTALLATION
IF NOT EXISTS(SELECT 1 FROM APP_DATABASES WHERE NAME = 'CISPPRO')
BEGIN
    DECLARE @IS_EMPTY BIT = CASE WHEN EXISTS(SELECT 1 FROM APP_DATABASES) THEN 0 ELSE 1 END
    INSERT INTO APP_DATABASES(NAME, SHORT_NAME, NOTE, IS_DEFAULT)
    SELECT 
        'CISPPRO', 
        CASE WHEN @IS_EMPTY = 0 THEN 'PRO' END,
        'База данных CISPPRO',
        @IS_EMPTY
END
GO
