
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'APP_DATABASES_SUBJECTS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [APP_DATABASES_SUBJECTS] FOR CISP_SHARED..[APP_DATABASES_SUBJECTS]
GO
