IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'BDR_ARTICLES_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [BDR_ARTICLES_STATUSES] FOR CISP_SHARED..[BDR_ARTICLES_STATUSES]
GO
