
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'DEALS_CREDITS_MOVES_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [DEALS_CREDITS_MOVES_TYPES] FOR CISP_SHARED..[DEALS_CREDITS_MOVES_TYPES]
GO
