IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_STATUSES')
    CREATE SYNONYM DEALS_STATUSES FOR CISP_SHARED..DEALS_STATUSES
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_MAP_INSTANTS_BACK')
    CREATE SYNONYM DEALS_MAP_INSTANTS_BACK FOR CISP_SHARED..DEALS_MAP_INSTANTS_BACK
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_MAP_GROSSES_BACK')
    CREATE SYNONYM DEALS_MAP_GROSSES_BACK FOR CISP_SHARED..DEALS_MAP_GROSSES_BACK
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_MAP_ALIASES_BACK')
    CREATE SYNONYM DEALS_MAP_ALIASES_BACK FOR CISP_SHARED..DEALS_MAP_ALIASES_BACK
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_DOCS_SPECS')
    CREATE SYNONYM DEALS_DOCS_SPECS FOR CISP_SHARED..DEALS_DOCS_SPECS
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_DOCS_PRINCIPALS_SPECS')
    CREATE SYNONYM DEALS_DOCS_PRINCIPALS_SPECS FOR CISP_SHARED..DEALS_DOCS_PRINCIPALS_SPECS
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_DOCS_PRINCIPALS_COMMISSIONS')
    CREATE SYNONYM DEALS_DOCS_PRINCIPALS_COMMISSIONS FOR CISP_SHARED..DEALS_DOCS_PRINCIPALS_COMMISSIONS
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_DOCS_PRINCIPALS')
    CREATE SYNONYM DEALS_DOCS_PRINCIPALS FOR CISP_SHARED..DEALS_DOCS_PRINCIPALS
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_DOCS_DOGOVORS')
    CREATE SYNONYM DEALS_DOCS_DOGOVORS FOR CISP_SHARED..DEALS_DOCS_DOGOVORS
GO

IF NOT EXISTS (SELECT * FROM SYS.SYNONYMS WHERE NAME = 'DEALS_DOCS')
    CREATE SYNONYM DEALS_DOCS FOR CISP_SHARED..DEALS_DOCS
GO
