
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'DOCUMENTS_DICT_ROUTES_POINTS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [DOCUMENTS_DICT_ROUTES_POINTS] FOR CISP_SHARED..[DOCUMENTS_DICT_ROUTES_POINTS]
GO
