
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'DOCUMENTS_DICT_RESPONSIBLES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [DOCUMENTS_DICT_RESPONSIBLES] FOR CISP_SHARED..[DOCUMENTS_DICT_RESPONSIBLES]
GO
