
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'FINDOCS_TAGS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [FINDOCS_TAGS_STATUSES] FOR CISP_SHARED..[FINDOCS_TAGS_STATUSES]
GO
