
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_EQUIPMENTS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_EQUIPMENTS_STATUSES] FOR CISP_SHARED..[MFR_EQUIPMENTS_STATUSES]
GO
