IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_PLANS_JOBS_EXEC_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_PLANS_JOBS_EXEC_STATUSES] FOR CISP_SHARED..[MFR_PLANS_JOBS_EXEC_STATUSES]
GO
