
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_EXT_PROBABILITIES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_EXT_PROBABILITIES] FOR CISP_SHARED..[MFR_EXT_PROBABILITIES]
GO
