
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_R_PROVIDES_XSLICES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_R_PROVIDES_XSLICES] FOR CISP_SHARED..[MFR_R_PROVIDES_XSLICES]
GO
