
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_SDOCS_PRIORITIES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_SDOCS_PRIORITIES] FOR CISP_SHARED..[MFR_SDOCS_PRIORITIES]
GO
