
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'OBJS_FOLDERS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [OBJS_FOLDERS_STATUSES] FOR CISP_SHARED..[OBJS_FOLDERS_STATUSES]
GO
