
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RESULTS_CATEGORIES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RESULTS_CATEGORIES] FOR CISP_SHARED..[PROJECTS_RESULTS_CATEGORIES]
GO
