
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RISKS_CATEGORIES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RISKS_CATEGORIES] FOR CISP_SHARED..[PROJECTS_RISKS_CATEGORIES]
GO
