
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RISKS_ACTIONS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RISKS_ACTIONS] FOR CISP_SHARED..[PROJECTS_RISKS_ACTIONS]
GO
