
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RESOURCES_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RESOURCES_TYPES] FOR CISP_SHARED..[PROJECTS_RESOURCES_TYPES]
GO
