
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_REPS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_REPS_STATUSES] FOR CISP_SHARED..[PROJECTS_REPS_STATUSES]
GO
