
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RESOURCES_AGGREGATIONS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RESOURCES_AGGREGATIONS] FOR CISP_SHARED..[PROJECTS_RESOURCES_AGGREGATIONS]
GO
