
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RESOURCES_DISTRIBUTIONS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RESOURCES_DISTRIBUTIONS] FOR CISP_SHARED..[PROJECTS_RESOURCES_DISTRIBUTIONS]
GO
