
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SDOCS_MFR_CONTENTS_CANCELREASONS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SDOCS_MFR_CONTENTS_CANCELREASONS] FOR CISP_SHARED..[SDOCS_MFR_CONTENTS_CANCELREASONS]
GO
