
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SDOCS_MFR_DRAFTS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SDOCS_MFR_DRAFTS_STATUSES] FOR CISP_SHARED..[SDOCS_MFR_DRAFTS_STATUSES]
GO
