
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SDOCS_GOALS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SDOCS_GOALS_STATUSES] FOR CISP_SHARED..[SDOCS_GOALS_STATUSES]
GO
