
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SDOCS_PROVIDES_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SDOCS_PROVIDES_STATUSES] FOR CISP_SHARED..[SDOCS_PROVIDES_STATUSES]
GO
