USE [CISP_SHARED]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[APP_DATABASES_SUBJECTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [APP_DATABASES_SUBJECTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DBNAME] [varchar](30) NULL,
	[SUBJECT_ID] [int] NULL,
	[IS_DEFAULT] [bit] NULL,
 CONSTRAINT [PK_APP_DATABASES_SUBJECTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING ON

GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[APP_DATABASES_SUBJECTS]') AND name = N'IX_APP_DATABASES_SUBJECTS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_APP_DATABASES_SUBJECTS] ON [APP_DATABASES_SUBJECTS]
(
	[DBNAME] ASC,
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_APP_DATABASES_SUBJECTS_NAME]') AND parent_object_id = OBJECT_ID(N'[APP_DATABASES_SUBJECTS]'))
ALTER TABLE [APP_DATABASES_SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_APP_DATABASES_SUBJECTS_NAME] FOREIGN KEY([DBNAME])
REFERENCES [APP_DATABASES] ([NAME])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_APP_DATABASES_SUBJECTS_NAME]') AND parent_object_id = OBJECT_ID(N'[APP_DATABASES_SUBJECTS]'))
ALTER TABLE [APP_DATABASES_SUBJECTS] CHECK CONSTRAINT [FK_APP_DATABASES_SUBJECTS_NAME]
GO
