USE [CISP_SHARED]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CALENDAR]') AND type in (N'U'))
BEGIN
CREATE TABLE [CALENDAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WORKDAY_ID] [int] NULL,
	[DAY_DATE] [datetime] NULL,
	[TYPE] [int] NULL,
 CONSTRAINT [PK_CALENDAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[CALENDAR]') AND name = N'IX_DAY_DATE')
CREATE UNIQUE NONCLUSTERED INDEX [IX_DAY_DATE] ON [CALENDAR]
(
	[DAY_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[CALENDAR]') AND name = N'IX_WORKDAY')
CREATE NONCLUSTERED INDEX [IX_WORKDAY] ON [CALENDAR]
(
	[WORKDAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
