USE [CISP_SHARED]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MOLS_STATUSES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MOLS_STATUSES](
	[STATUS_ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
	[SORT] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [MOLS_STATUSES] ADD [SHORT_NAME] [varchar](8) NULL
ALTER TABLE [MOLS_STATUSES] ADD [IMG_URL] [varchar](256) NULL
 CONSTRAINT [PK_MOLS_STATUSES] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
END
GO
