USE [CISP_SHARED]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_RISKS_ACTIONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_RISKS_ACTIONS](
	[RISK_ID] [int] NOT NULL,
	[ACTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](max) NULL,
	[ACTIONS] [varchar](max) NULL,
	[D_RESPONSE] [varchar](max) NULL,
	[IS_DELETED] [bit] NOT NULL,
	[ADD_DATE] [datetime] NULL,
 CONSTRAINT [PK_PROJECTS_RISKS_ACTIONS] PRIMARY KEY CLUSTERED 
(
	[ACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
