USE [CISP_SHARED]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_TYPES]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_RESOURCES_TYPES](
	[TYPE_ID] [int] NOT NULL,
	[NAME] [varchar](30) NULL,
	[NOTE] [varchar](max) NULL,
 CONSTRAINT [PK_PROJECTS_RESOURCES_TYPES] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
