if object_id('app_export') is not null drop proc app_export
go
create proc app_export
  @group_id uniqueidentifier
as
begin
	set nocount on;

  -- build xml
		declare c_exports cursor local read_only for 
			select export_id from app_exports where group_id = @group_id
		
		declare @export_id int
		
		open c_exports; fetch next from c_exports into @export_id
			while (@@fetch_status != -1)
			begin
				if (@@fetch_status != -2) exec app_export;2 @export_id
				fetch next from c_exports into @export_id
			end
		close c_exports; deallocate c_exports

  -- results
    select * from app_exports where group_id = @group_id
end
GO
CREATE proc [app_export];2
  @export_id int
as
begin
	set nocount on;

  -- параметры
    declare
      @date_from date,
      @date_to date,
      @folder_id int,
      @obj_type varchar(20)

      select
        @date_from = d_from,
        @date_to = d_to,
        @folder_id = folder_id,
        @obj_type = obj_type
      from app_exports
      where export_id = @export_id 

    declare @result table(data xml)

  -- материалы: поступление на склад
    if (@obj_type = 'SD') 
      insert into @result
      exec app_export;20 @export_id, @date_from, @date_to, @folder_id

  -- материалы: выдача в производство
    if (@obj_type = 'MFTRF') 
      insert into @result
      exec app_export;30 @export_id, @date_from, @date_to, @folder_id

  -- табельное время
    if (@obj_type = 'MFW') 
      insert into @result
      exec app_export;50 @export_id, @date_from, @date_to, @folder_id

  -- save result
    update app_exports set data = (select top 1 data from @result)
    where export_id = @export_id
end
GO
-- материалы: поступление на склад
CREATE procedure [app_export];20
  @export_id int,
  @date_from date = null,
  @date_to date = null,
  @folder_id int = null
as
begin
  declare @subjectId int = 30
  declare @subjectPrefix varchar(10) = concat(@subjectId, '-')
  declare @objs app_pkids
  declare @folder_name varchar(255) = (select name from objs_folders where (folder_id = @folder_id))

  -- tables
    create table #docs (
      doc_id int primary key,
      subject_name varchar(255),
      d_doc datetime,
      number varchar(50),
      note varchar(max),
      principal_dogovor_number varchar(255),
      principal_dogovor_date datetime,
      agent_name varchar(500),
      agent_inn varchar(50),
      d_doc_ext datetime,
      division_to_id int,
      division_to varchar(50),
      mol_to_id int,
      mol_to_name varchar(255),
      mol_to_extern_id varchar(100),
      acc_register_name varchar(255),
      acc_register_note varchar(max)
      )
    create table #docs_details (
      doc_id int,
      product_id int,
      item_id varchar(32),
      item_name varchar(500),
      item_unit_name varchar(20),
      mfr_number varchar(50),
      unit_name varchar(20),
      quantity float,
      sum_pc float,
      sum_pct float
      )

  -- @objs
    if (@folder_id is not null) begin
      insert into @objs
      select obj_id
      from objs_folders_details fd
        join sdocs sd on sd.doc_id = fd.obj_id and sd.type_id = 9
      where (folder_id = @folder_id)
        and obj_type = 'SD'

    end else begin
      insert into @objs
        select doc_id from sdocs
        where (type_id = 9) and
            (d_doc between isnull(@date_from,d_doc) and isnull(@date_to, d_doc))
    end

  -- список документов
    insert into #docs(
      doc_id, subject_name, d_doc, number, note, principal_dogovor_number, principal_dogovor_date, agent_name, agent_inn, d_doc_ext,  division_to_id, division_to, mol_to_id, mol_to_name, mol_to_extern_id, acc_register_name, acc_register_note
      )
    select
        h.doc_id, s.name, h.d_doc, h.number, h.note, principal_dogovor_number = p.number, principal_dogovor_date = p.d_doc,
        agent_name = a.name, agent_inn = a.inn, h.d_doc_ext, division_to_id = h.place_to_id, division_to = l2.name,
        h.mol_to_id,
        mol_to_name = concat(m.surname, ' ' + m.name1, ' ' + m.name2),
        mol_to_extern_id = m.tab_number,
        acc_register_name = r.name,
        acc_register_note = r.note
      from
        sdocs h
          left join subjects s on (h.subject_id = s.subject_id)
          left join documents p on (h.principal_dogovor_id = p.document_id)
          left join agents a on (h.agent_id = a.agent_id)
          left join mfr_places l2 on (h.place_to_id = l2.place_id)
          left join mols m on (h.mol_to_id = m.mol_id)
          left join accounts_registers r on (h.acc_register_id = r.acc_register_id)
          -- фильтр по документам
          join @objs f on (f.id = h.doc_id)

  -- табличная часть
    insert into #docs_details(
      doc_id, product_id, item_id, item_name, item_unit_name, mfr_number, unit_name, quantity, sum_pc, sum_pct)
    select
        h.doc_id, p.product_id, item_id = '', item_name = p.name, item_unit_name = u0.name, d.mfr_number,
        unit_name = u1.name, d.quantity, sum_pc = d.value_pure, sum_pct = d.value_rur
      from
        #docs h
          join sdocs_products d on (h.doc_id = d.doc_id)
          join products p on (d.product_id = p.product_id)
          left join products_units u1 on (d.unit_id = u1.unit_id)
          left join products_units u0 on (p.unit_id = u0.unit_id)

    -- залечим ITEM_ID из названия (конструкторский код)
    update d set d.item_id = substring(d.item_name, 2, charindex(']', d.item_name) - 2)
      from #docs_details d
      where
        (left(d.item_name, 1) = '[')
    -- залечим ITEM_ID из названия (1c-ный код)
    update d set d.item_id = e.extern_id
      from
        #docs_details d
          inner join (
            select e.product_id, extern_id = max(replace(replace(ltrim(rtrim(e.extern_id)), '37-', ''), 'SPB.M1C.', ''))
              from mfr_replications_products e
              group by e.product_id
          ) e on (d.product_id = e.product_id)
      where
        (d.item_id = '') and
        (left(d.item_name, 1) != '[')

    -- исправим названия
    update d set
        d.item_name = replace(d.item_name, '[' + d.item_id + '] ', '')
      from #docs_details d
      where (d.item_id is not null)

  -- выгрузим в xml
  select
    (
    select
        [@Источник]     = db_name(),
        [@Организация]  = 'ЛЭЗ',
        [@Агент]        = 'CISP',
        [@ВерсияАгента] = '1',
        [@Запрос]       = @export_id,
        [@Папка]        = @folder_name + ' (' + convert(varchar(20), @folder_id, 104) + ')',
        (-- документы
         select (
           select
               [@ДокументКод]        = h.doc_id,
               [@Субъект]            = h.subject_name,
               [@ДокументДата]       = convert(varchar(10), h.d_doc, 104),
               [@ДокументНомер]      = h.number,
               [@ДокументТип]        = 'Поступление материала на склад',
               [@ДокументПримечание] = h.note,
               [@ПринципалДоговор]   = h.principal_dogovor_number,
               [@ПринципалДоговорДата] = convert(varchar(10), h.principal_dogovor_date, 104),
               [@Клиент]             = h.agent_name,
               [@КлиентИНН]          = h.agent_inn,
               [@КлиентДата]         = convert(varchar(10), h.d_doc_ext, 104),
               [@ЦехПолучательКод]   = h.division_to_id,
               [@ЦехПолучатель]      = isnull(h.division_to, ''),
               [@Кладовщик]          = h.mol_to_name,
               [@КладовщикТаб]       = h.mol_to_extern_id,
               [@РазделительКод]     = h.acc_register_name,
               [@РазделительПрим]    = h.acc_register_note,
               [@Строк]              = isnull(w.n, 0),
               (-- табличная часть
                select (
                  select
                      [@МатериалГруппа]    = a1.attr_value,
                      [@МатериалПодгруппа] = a2.attr_value,
                      [@ProductId]    = d.product_id,
                      [@Код]          = d.item_id,
                      [@Наименование] = d.item_name,
                      [@ОснЕдИзм]       = d.item_unit_name,
                      [@Заказ]        = d.mfr_number,
                      [@ЕдИзм]        = d.unit_name,
                      [@Количество]   = cast(d.quantity as decimal(19,6)),
                      [@СуммаБНДС]    = cast(d.sum_pc as decimal(19,6)),
                      [@СуммаСНДС]    = cast(d.sum_pct as decimal(19,6))
                    from
                      #docs_details d
                        left join dbo.products_attrs a1 on (d.product_id = a1.product_id) and (a1.attr_id = 34)
                        left join dbo.products_attrs a2 on (d.product_id = a2.product_id) and (a2.attr_id = 270)
                    where (h.doc_id = d.doc_id)
                    for xml path('Строка'), type
                ) for xml path('Строки'), type
               )
             from #docs h left join (
                            select doc_id, n = count(*) from #docs_details group by doc_id
                          ) w on (h.doc_id = w.doc_id)
             for xml path('Документ'), type
         ) for xml path('Документы'), type
        )
      for xml path('Сообщение')
    )

  --
  exec drop_temp_table '#docs,#docs_details'
end
GO
-- материалы: выдача в производство
CREATE procedure [app_export];30
  @export_id int,
  @date_from date = null,
  @date_to date = null,
  @folder_id int = null
as
begin
  declare @subjectId int = 30
  declare @subjectPrefix varchar(10) = concat(@subjectId, '-')
  declare @objs app_pkids
  declare @folder_name varchar(255) = (select name from objs_folders where (folder_id = @folder_id))

  -- tables
    create table #docs (
      doc_id int,
      subject_name varchar(255),
      d_doc datetime,
      number varchar(50),
      principal_dogovor_number varchar(255),
      principal_dogovor_date datetime,
      division_from_id int,
      division_from varchar(50),
      mol_id int,
      mol_name varchar(255),
      mol_extern_id varchar(100),
      division_to_id int,
      division_to varchar(50),
      mol_to_id int,
      mol_to_name varchar(255),
      mol_to_extern_id varchar(100),
      acc_register_name varchar(255),
      acc_register_note varchar(max),
      note varchar(max)
      )
    create table #docs_details (
      doc_id int,
      product_id int,
      item_id varchar(32),
      item_name varchar(500),
      item_unit_name varchar(20),
      mfr_doc_no varchar(50),
      unit_name varchar(20),
      quantity float
      )

  -- @objs
    if (@folder_id is not null) begin
      insert into @objs
      select obj_id
      from objs_folders_details
      where (folder_id = @folder_id)
        and obj_type = 'MFTRF'
    end else begin
      insert into @objs
        select obj_id = doc_id
        from sdocs
        where (type_id = 12)
          and (d_doc between isnull(@date_from,d_doc) and isnull(@date_to, d_doc))
    end

  -- список документов
    insert into #docs(
      doc_id, subject_name, d_doc, number, principal_dogovor_number, principal_dogovor_date, division_from_id, division_from, mol_id, mol_name, mol_extern_id, division_to_id, division_to, mol_to_id, mol_to_name, mol_to_extern_id, note, acc_register_name, acc_register_note)
    select
        h.doc_id, s.name, h.d_doc, h.number, principal_dogovor_number = p.number, principal_dogovor_date = p.d_doc,
        division_from_id = h.place_id, division_from = p1.name,
        mol_id        = m1.mol_id,
        mol_name      = concat(m1.surname, ' ' + m1.name1, ' ' + m1.name2),
        mol_extern_id = m1.tab_number,
        division_to_id = h.place_to_id, division_to   = p2.name,
        mol_to_id     = m2.mol_id,
        mol_to_name   = concat(m2.surname, ' ' + m2.name1, ' ' + m2.name2),
        mol_to_extern_id = m2.tab_number,
        note          = h.note,
        acc_register_name = r.name,
        acc_register_note = r.note
      from
        sdocs h
          left join subjects s on (h.subject_id = s.subject_id)
          left join documents p on (h.principal_dogovor_id = p.document_id)
          left join mfr_places p1 on (h.place_id = p1.place_id)
          left join mols m1 on (h.mol_id = m1.mol_id)
          left join mfr_places p2 on (h.place_to_id = p2.place_id)
          left join mols m2 on (h.mol_to_id = m2.mol_id)
          left join accounts_registers r on (h.acc_register_id = r.acc_register_id)
          -- фильтр по документам
          join @objs f on (h.doc_id = f.id)

  -- табличная часть
    insert into #docs_details (doc_id, product_id, item_id, item_name, item_unit_name, mfr_doc_no, unit_name, quantity)
      select
          h.doc_id, p.product_id, item_id = '', item_name = ltrim(rtrim(p.name)), item_unit_name = u0.name, mfr_doc_no = d.mfr_number,
          unit_name = u1.name, d.quantity
        from
          #docs h
            join sdocs_products d on (h.doc_id = d.doc_id)
            join products p on (d.product_id = p.product_id)
            left join products_units u1 on (d.unit_id = u1.unit_id)
            left join products_units u0 on (p.unit_id = u0.unit_id)

    -- залечим ITEM_ID из названия (конструкторский код)
    update d set d.item_id = substring(d.item_name, 2, charindex(']', d.item_name) - 2)
      from #docs_details d
      where
        (nullif(d.item_id, '') is null) and
        (left(d.item_name, 1) = '[')
    -- залечим ITEM_ID из названия (1c-ный код)
    update d set d.item_id = e.extern_id
      from
        #docs_details d
          inner join (
            select e.product_id, extern_id = max(replace(replace(ltrim(rtrim(e.extern_id)), '37-', ''), 'SPB.M1C.', ''))
              from mfr_replications_products e
              group by e.product_id
          ) e on (d.product_id = e.product_id)
      where
        (nullif(d.item_id, '') is null) and
        (left(d.item_name, 1) != '[')

    -- исправим названия
    update d set
        d.item_name = replace(d.item_name, '[' + d.item_id + '] ', '')
      from #docs_details d
      where (d.item_id is not null)


  -- выгрузим в xml
  select
    (
    select
        [@Источник]     = db_name(),
        [@Организация]  = 'ЛЭЗ',
        [@Агент]        = 'CISP',
        [@ВерсияАгента] = '1',
        [@Запрос]       = @export_id,
        [@Папка]        = @folder_name + ' (' + convert(varchar(20), @folder_id, 104) + ')',
        (-- документы
         select (
           select
               [@ДокументКод]     = h.doc_id,
               [@Субъект]         = isnull(h.subject_name, ''),
               [@ДокументДата]    = convert(varchar(10), h.d_doc, 104),
               [@ДокументНомер]   = h.number,
               [@ДокументТип]     = 'Выдача материала в производство',
               [@Примечание]      = h.note,
               [@ПринципалДоговор]     = isnull(h.principal_dogovor_number, ''),
               [@ПринципалДоговорДата] = isnull(convert(varchar(10), h.principal_dogovor_date, 104), ''),
               [@ПодразделениеИзКод]   = h.division_from_id,
               [@ПодразделениеИз] = h.division_from,
               [@КладовщикИз]     = h.mol_name,
               [@КладовщикИзТаб]  = h.mol_extern_id,
               [@ПодразделениеВКод]    = h.division_to_id,
               [@ПодразделениеВ]  = h.division_to,
               [@КладовщикВ]      = h.mol_to_name,
               [@КладовщикВТаб]   = h.mol_to_extern_id,
               [@РазделительКод]  = h.acc_register_name,
               [@РазделительПрим] = h.acc_register_note,
               [@Строк]           = isnull(w.n, 0),
               (-- табличная часть
                select (
                  select
                      [@МатериалГруппа]    = a1.attr_value,
                      [@МатериалПодгруппа] = a2.attr_value,
                      [@ProductId]      = d.product_id,
                      [@Код]            = d.item_id,
                      [@Наименование]   = d.item_name,
                      [@ОснЕдИзм]       = d.item_unit_name,
                      [@Заказ]          = d.mfr_doc_no,
                      [@ЕдИзм]          = d.unit_name,
                      [@КоличествоФакт] = cast(d.quantity as decimal(19,6))
                    from
                      #docs_details d
                        left join dbo.products_attrs a1 on (d.product_id = a1.product_id) and (a1.attr_id = 34)
                        left join dbo.products_attrs a2 on (d.product_id = a2.product_id) and (a2.attr_id = 270)
                    where (h.doc_id = d.doc_id)
                    for xml path('Строка'), type
                ) for xml path('Строки'), type
               )
             from #docs h left join (
                            select doc_id, n = count(*) from #docs_details group by doc_id
                          ) w on (h.doc_id = w.doc_id)
             for xml path('Документ'), type
         ) for xml path('Документы'), type
        )
      for xml path('Сообщение')
    )

  --
  exec drop_temp_table '#docs,#docs_details'
end
GO
-- табельное время
CREATE procedure [app_export];50
  @export_id int,
  @date_from date = null,
  @date_to date = null,
  @folder_id int = null
as
begin
  declare @subjectId int = 37
  declare @subjectPrefix varchar(10) = concat(@subjectId, '-')
  declare @objs app_pkids

  -- tables
    create table #data (
      fact_date datetime,
      full_name varchar(400),
      dep_name varchar(255),
      dep_name_full varchar(255),
      mfr_no varchar(150),
      fact_hour decimal(19,3)
    )

  -- @objs
    if (@folder_id is not null) begin
      insert into @objs
      select obj_id
      from objs_folders_details
      where (folder_id = @folder_id)
        and obj_type = 'MFW'
    end 
    
    else begin
      insert into @objs
        select wk_sheet_id
        from mfr_wk_sheets
        where d_doc between isnull(@date_from, d_doc) and isnull(@date_to, d_doc)
    end

  -- реестр данных
    insert into #data (fact_date, full_name, dep_name, dep_name_full, mfr_no, fact_hour)
      select fact_date, full_name, dep_name, dep_name_full, mfr_no, sum(fact_hour)
      from (
        select
            fact_date     = f.d_doc,
            full_name     = ltrim(rtrim(m.surname + ' ' + isnull(m.name1, '') + ' ' + isnull(m.name2, ''))),
            dep_name      = left(isnull(p.name, '---'), 3),
            dep_name_full = p.full_name,
            mfr_no        = h1.number,
            fact_hour     = f.duration_wk * dur.factor / dur_h.factor
        from
            mfr_wk_sheets h
                join mfr_wk_sheets_jobs f on (h.wk_sheet_id = f.wk_sheet_id)
                    join mfr_plans_jobs_details jd on jd.id = f.detail_id
                        join sdocs h1 on (jd.mfr_doc_id = h1.doc_id)
                    join projects_durations dur on dur.duration_id = f.duration_wk_id
                    join projects_durations dur_h on dur_h.duration_id = 2
                join mols m on (f.mol_id = m.mol_id)
                left join (
                    select mol_id, place_id = max(place_id) from mfr_places_mols group by mol_id
                ) e on (m.mol_id = e.mol_id)
                left join mfr_places p on (e.place_id = p.place_id)
                -- фильтр по документам
                join @objs o on (o.id = h.wk_sheet_id)
        where (f.duration_wk is not null)
        ) x
      group by fact_date, full_name, dep_name, dep_name_full, mfr_no

  -- выгрузим в xml
    select
      (
      select
          [@Источник]     = db_name(),
          [@Организация]  = 'ЛЭЗ',
          [@Агент]        = 'CISP',
          [@ВерсияАгента] = '1',
          [@Запрос]       = @export_id,
          [@Папка]        = convert(varchar(20), @folder_id, 104),
          [@Тест]         = 'нет',
          (-- исполнители
            select
                [Дата]            = convert(varchar(10), h.fact_date, 104),
                [Исполнитель]     = h.full_name,
                [Заказ]           = h.mfr_no,
                [ОтработаноЧасов] = h.fact_hour
              from #data h
              for xml path('ИсполнителиГОСЗаказов'), type
          )
        for xml path('Корневой')
      )

  --
  exec drop_temp_table '#data'
end
GO
