/****** Object:  View [BDR_ARTICLES_NAMES]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[BDR_ARTICLES_NAMES]'))
EXEC dbo.sp_executesql @statement = N'
CREATE VIEW [BDR_ARTICLES_NAMES]
AS

SELECT ARTICLE_ID, NAME, SHORT_NAME, DIRECTION
FROM BDR_ARTICLES
' 
GO
