/****** Object:  View [DOCUMENTS_NAMES]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[DOCUMENTS_NAMES]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [DOCUMENTS_NAMES] AS SELECT DOCUMENT_ID, DOCUMENT_ID as NODE_ID, NAME FROM DOCUMENTS WHERE IS_DELETED = 0' 
GO
