/****** Object:  View [MFR_RESOURCES_REFS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[MFR_RESOURCES_REFS]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [MFR_RESOURCES_REFS] AS SELECT RESOURCE_ID, NAME FROM MFR_RESOURCES' 
GO
