/****** Object:  View [MFR_PDM_OPTIONS_REFS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPTIONS_REFS]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [MFR_PDM_OPTIONS_REFS] AS SELECT PDM_OPTION_ID, GROUP_NAME, NAME FROM MFR_PDM_OPTIONS
' 
GO
