/****** Object:  View [PA_PERSONS_STATUSES]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[PA_PERSONS_STATUSES]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [PA_PERSONS_STATUSES] AS SELECT STATUS_ID, NAME FROM MOLS_STATUSES
' 
GO
