/****** Object:  View [PA_PERSONS_ENTITIES_REF]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[PA_PERSONS_ENTITIES_REF]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [PA_PERSONS_ENTITIES_REF] AS 
	SELECT PERSON_ENTITY_ID, NAME
	FROM PA_PERSONS_ENTITIES
' 
GO
