/****** Object:  View [PA_PERSONS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[PA_PERSONS]'))
EXEC dbo.sp_executesql @statement = N'
CREATE VIEW [PA_PERSONS]
AS 
SELECT
    MOL_ID AS PERSON_ID,
	STATUS_ID,
	BRANCH_ID,
	DEPT_ID,
	CHIEF_ID,
	POST_ID,
    NAME,
    SURNAME,
    NAME1,
    NAME2,
    EMAIL,
    NAME_SKYPE,
    BIRTHDAY,
    IS_MAN,
	PHONE_LOCAL,
	PHONE,
	PHONE_MOBILE,
	ROOM,
	NOTE, ADD_DATE, ADD_MOL_ID, UPDATE_DATE, UPDATE_MOL_ID
FROM MOLS' 
GO
