/****** Object:  View [PROJECTS_TASKS_NAMES]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[PROJECTS_TASKS_NAMES]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [PROJECTS_TASKS_NAMES]
AS
	SELECT PROJECT_ID, TASK_ID, NAME, TASK_NUMBER, CODE, D_FROM, D_TO
	FROM PROJECTS_TASKS' 
GO
