/****** Object:  View [PROJECTS_TASKS_COMMENTS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[PROJECTS_TASKS_COMMENTS]'))
EXEC dbo.sp_executesql @statement = N'
CREATE VIEW [PROJECTS_TASKS_COMMENTS]
WITH SCHEMABINDING
AS

SELECT
	T.PROJECT_ID,
	0 as REP_ID,
	T.TASK_ID,
	T.TASK_NUMBER,
	TH.HIST_ID as ID,
	TH.PARENT_ID as TALK_ID,
	TH.MOL_ID,
	TH.D_ADD AS D_DOC,
	TH.BODY AS NOTE
FROM DBO.PROJECTS_TASKS T
	JOIN DBO.TALKS_HISTS TH ON TH.PARENT_ID = T.TALK_ID
where isnull(th.body,'''') <> ''''' 
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [IX_PROJECTS_TASKS_COMMENTS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROJECTS_TASKS_COMMENTS]') AND name = N'IX_PROJECTS_TASKS_COMMENTS')
CREATE UNIQUE CLUSTERED INDEX [IX_PROJECTS_TASKS_COMMENTS] ON [PROJECTS_TASKS_COMMENTS]
(
	[TASK_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
