/****** Object:  View [PROJECTS_NODES]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[PROJECTS_NODES]'))
EXEC dbo.sp_executesql @statement = N'
CREATE VIEW [PROJECTS_NODES]
AS
	SELECT
		PROJECT_ID,
		PARENT_ID,
		TASK_ID,
		NODE_ID = TASK_ID,
		NAME,
		TASK_NUMBER,
		HAS_CHILDS,
		LEVEL_ID = OUTLINE_LEVEL,
		SORT_ID,
		IS_DELETED
	FROM PROJECTS_TASKS
' 
GO
