/****** Object:  View [REPLICATE_PROJECTS_TASKS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[REPLICATE_PROJECTS_TASKS]'))
EXEC dbo.sp_executesql @statement = N'
CREATE VIEW [REPLICATE_PROJECTS_TASKS]
AS
SELECT 
	PROJECT_ID,
	TASK_ID,
	TASK_NUMBER,
	NAME,
	DURATION,
	DURATION_INPUT,
	DURATION_ID,
	PREDECESSORS,
	--
	PARENT_ID,
	HAS_CHILDS,
	OUTLINE_LEVEL,
	SORT_ID
FROM PROJECTS_TASKS
where is_deleted = 0


' 
GO
