/****** Object:  View [SDOCS_TYPE1_MILESTONES]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[SDOCS_TYPE1_MILESTONES]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [SDOCS_TYPE1_MILESTONES] AS
	SELECT MILESTONE_ID = ID, NAME, SHORT_NAME FROM OPTIONS_LISTS WHERE L_GROUP = ''SdocType1Milestones''
' 
GO
