/****** Object:  View [SDOCS_MILESTONES_NAMES]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[SDOCS_MILESTONES_NAMES]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [SDOCS_MILESTONES_NAMES] AS
	SELECT CAST(ID AS INT) AS MILESTONE_ID, NAME FROM OPTIONS_LISTS
	WHERE L_GROUP = ''SupplyPaysMilestones''	' 
GO
