/****** Object:  View [V_MFR_R_PLANS_JOBS_ITEMS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[V_MFR_R_PLANS_JOBS_ITEMS]'))
EXEC dbo.sp_executesql @statement = N'-- SELECT TOP 100 * FROM V_MFR_R_PLANS_JOBS_ITEMS
CREATE VIEW [V_MFR_R_PLANS_JOBS_ITEMS]
AS
SELECT 
	X.PLAN_ID,
	X.MFR_DOC_ID,
	X.CONTENT_ID,
	C.PRODUCT_ID,
	X.ITEM_ID,
	X.OPER_ID,
	X.OPER_DATE,
	X.OPER_NUMBER,
	X.JOB_ID,
	X.JOB_DETAIL_ID,
	X.JOB_DATE,	
	CLOSED_DATE = CASE WHEN X.JOB_STATUS_ID = 100 THEN X.JOB_DATE END,
	X.PLAN_Q,
	X.FACT_Q,
	CLOSED_Q = CASE WHEN X.JOB_STATUS_ID = 100 THEN X.FACT_Q END,
	IS_FINAL = CASE WHEN D.IS_PRODUCT = 1 AND O.IS_LAST = 1 THEN 1 ELSE 0 END,
	X.SLICE
FROM MFR_R_PLANS_JOBS_ITEMS X WITH(NOLOCK)
	JOIN SDOCS_MFR_CONTENTS C WITH(NOLOCK) ON C.CONTENT_ID = X.CONTENT_ID
		JOIN MFR_DRAFTS D WITH(NOLOCK) ON D.DRAFT_ID = C.DRAFT_ID
	JOIN SDOCS_MFR_OPERS O WITH(NOLOCK) ON O.OPER_ID = X.OPER_ID' 
GO
