/****** Object:  View [V_MFR_PLANS_JOBS_DETAILS_HANGS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[V_MFR_PLANS_JOBS_DETAILS_HANGS]'))
EXEC dbo.sp_executesql @statement = N'-- SELECT TOP 100 * FROM V_MFR_PLANS_JOBS_DETAILS_HANGS
CREATE VIEW [V_MFR_PLANS_JOBS_DETAILS_HANGS]
AS
SELECT 
	X.ID,	
	JOB_REF = concat(''https://cisp.ruselprom.ru/mfrs/jobs/'', x.plan_job_id),
	J.D_DOC,
	J.NUMBER,
	STATUS_NAME = JS.NAME,
	MFR_NUMBER = SD.NUMBER,
	CONTENT_REF = concat(''https://cisp.ruselprom.ru/mfrs/docs/'', x.mfr_doc_id, ''/contents?search='', ip.name),
	ITEM_NAME = I.NAME,
	X.OPER_NAME,
	X.PLAN_Q,
	X.FACT_Q,
	X.FACT_DEFECT_Q,
	X.PLAN_DURATION_WK,
	X.DURATION_WK,
	X.COUNT_EXECUTORS
FROM MFR_PLANS_JOBS_DETAILS X
	JOIN MFR_PLANS_JOBS J ON J.PLAN_JOB_ID = X.PLAN_JOB_ID
		JOIN MFR_JOBS_STATUSES JS ON JS.STATUS_ID = J.STATUS_ID
	JOIN SDOCS SD ON SD.DOC_ID = X.MFR_DOC_ID
	JOIN PRODUCTS I ON I.PRODUCT_ID = X.ITEM_ID
	LEFT JOIN PRODUCTS IP ON IP.PRODUCT_ID = X.PARENT_ITEM_ID
WHERE J.TYPE_ID IN (1,4)
	AND J.STATUS_ID >= 0
	AND NOT EXISTS(SELECT 1 FROM SDOCS_MFR_CONTENTS WHERE CONTENT_ID = X.CONTENT_ID)
' 
GO
