/****** Object:  View [V_PROJECTS_TASKS_LINKS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[V_PROJECTS_TASKS_LINKS]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [V_PROJECTS_TASKS_LINKS]
AS

SELECT
	L.*,
	T1.TASK_NUMBER AS SOURCE_NUMBER,
	T2.TASK_NUMBER AS TARGET_NUMBER
FROM PROJECTS_TASKS_LINKS L
	INNER JOIN PROJECTS_TASKS T1 ON T1.TASK_ID = L.SOURCE_ID
	INNER JOIN PROJECTS_TASKS T2 ON T2.TASK_ID = L.TARGET_ID
' 
GO
