/****** Object:  View [V_SDOCS_MFR_ITEMS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[V_SDOCS_MFR_ITEMS]'))
EXEC dbo.sp_executesql @statement = N'-- SELECT TOP 10 * FROM V_SDOCS_MFR_ITEMS
CREATE VIEW [V_SDOCS_MFR_ITEMS]
AS
SELECT * FROM SDOCS_MFR_CONTENTS WHERE IS_BUY = 0' 
GO
