/****** Object:  View [V_SDOCS_MFR_OPERS]    Script Date: 9/18/2024 3:26:25 PM ******/
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[V_SDOCS_MFR_OPERS]'))
EXEC dbo.sp_executesql @statement = N'-- SELECT TOP 10 * FROM V_SDOCS_MFR_OPERS
CREATE VIEW [V_SDOCS_MFR_OPERS]
AS
SELECT 
	X.OPER_ID,
	X.NEXT_ID,
	X.STATUS_ID,
	STATUS_NAME = ST.NAME,
	XC.PLAN_ID,
	X.MFR_DOC_ID,
	MFR_NUMBER = SD.NUMBER,	
	X.PRODUCT_ID,
	X.MILESTONE_ID,
	X.MILESTONE_NAME,
	X.CONTENT_ID,
	XC.ITEM_ID,
	X.WORK_TYPE_ID,
	ITEM_NAME = XC.NAME,
	PLACE_NAME = PL.NAME,
	X.PLACE_ID,	
	X.NAME,
	X.NUMBER,
	X.D_BEFORE,
	X.D_AFTER,
	X.D_FROM,
	X.D_TO,
	X.D_TO_PLAN,
	X.D_TO_PREDICT,
	X.D_TO_FACT,
	-- 
	X.PLAN_Q,	
	X.FACT_Q,
	X.FACT_DEFECT_Q,
	XC.UNIT_NAME,
	X.PROGRESS
FROM SDOCS_MFR_OPERS X
	JOIN SDOCS SD ON SD.DOC_ID = X.MFR_DOC_ID
	JOIN SDOCS_MFR_CONTENTS XC ON XC.CONTENT_ID = X.CONTENT_ID
	JOIN MFR_PLACES PL ON PL.PLACE_ID = X.PLACE_ID
	JOIN MFR_ITEMS_STATUSES ST ON ST.STATUS_ID = X.STATUS_ID
' 
GO
