/****** Object:  Table [AGENTS_DOGOVORS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AGENTS_DOGOVORS]') AND type in (N'U'))
BEGIN
CREATE TABLE [AGENTS_DOGOVORS](
	[DOGOVOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[AGENT_ID] [int] NOT NULL,
	[D_FROM] [datetime] NULL,
	[D_TO] [datetime] NULL,
	[NOTE] [nvarchar](max) NULL,
	[NAME] [nvarchar](30) NULL,
	[NUMBER] [nvarchar](30) NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[SUBJECT_ID] [int] NOT NULL DEFAULT ((-2)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[ACCOUNT_LEVEL_ID] [int] NULL,
	[STATUS_ID] [int] NULL,
 CONSTRAINT [PK_AGENTS_DOGOVORS] PRIMARY KEY CLUSTERED 
(
	[DOGOVOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO
/****** Object:  Index [IX_AGENTS_DOGOVORS_AGENT_ID]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[AGENTS_DOGOVORS]') AND name = N'IX_AGENTS_DOGOVORS_AGENT_ID')
CREATE NONCLUSTERED INDEX [IX_AGENTS_DOGOVORS_AGENT_ID] ON [AGENTS_DOGOVORS]
(
	[AGENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_AGENTS_DOGOVORS_AGENTS_AGENT_ID]') AND parent_object_id = OBJECT_ID(N'[AGENTS_DOGOVORS]'))
ALTER TABLE [AGENTS_DOGOVORS]  WITH CHECK ADD  CONSTRAINT [FK_AGENTS_DOGOVORS_AGENTS_AGENT_ID] FOREIGN KEY([AGENT_ID])
REFERENCES [AGENTS] ([AGENT_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_AGENTS_DOGOVORS_AGENTS_AGENT_ID]') AND parent_object_id = OBJECT_ID(N'[AGENTS_DOGOVORS]'))
ALTER TABLE [AGENTS_DOGOVORS] CHECK CONSTRAINT [FK_AGENTS_DOGOVORS_AGENTS_AGENT_ID]
GO
