/****** Object:  Table [AGENTS_GROUPS_NAMES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AGENTS_GROUPS_NAMES]') AND type in (N'U'))
BEGIN
CREATE TABLE [AGENTS_GROUPS_NAMES](
	[GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[IS_DELETED] [bit] NULL DEFAULT ((0)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
 CONSTRAINT [PK_AGENTS_GROUPS_NAMES] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

