/****** Object:  Table [AGENTS_BANKS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[AGENTS_BANKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [AGENTS_BANKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AGENT_ID] [int] NOT NULL,
	[BANK] [nvarchar](80) NULL,
	[ACCOUNT] [nvarchar](30) NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[SUBJECT_ID] [int] NULL DEFAULT ((-2)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[BIC] [varchar](50) NULL,
	[CORR_ACCOUNT] [varchar](30) NULL,
	[NOTE] [varchar](max) NULL,
	[STATUS_ID] [int] NULL,
 CONSTRAINT [PK_AGENTS_BANKS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  Index [IX_AGENTS_BANKS_AGENT_ID]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[AGENTS_BANKS]') AND name = N'IX_AGENTS_BANKS_AGENT_ID')
CREATE NONCLUSTERED INDEX [IX_AGENTS_BANKS_AGENT_ID] ON [AGENTS_BANKS]
(
	[AGENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_AGENTS_BANKS_AGENTS_AGENT_ID]') AND parent_object_id = OBJECT_ID(N'[AGENTS_BANKS]'))
ALTER TABLE [AGENTS_BANKS]  WITH CHECK ADD  CONSTRAINT [FK_AGENTS_BANKS_AGENTS_AGENT_ID] FOREIGN KEY([AGENT_ID])
REFERENCES [AGENTS] ([AGENT_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_AGENTS_BANKS_AGENTS_AGENT_ID]') AND parent_object_id = OBJECT_ID(N'[AGENTS_BANKS]'))
ALTER TABLE [AGENTS_BANKS] CHECK CONSTRAINT [FK_AGENTS_BANKS_AGENTS_AGENT_ID]
GO
