/****** Object:  Table [APP_STATES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[APP_STATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [APP_STATES](
	[MOL_ID] [int] NOT NULL,
	[APPSTATE] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO
