/****** Object:  Table [BDR_PERIODS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[BDR_PERIODS]') AND type in (N'U'))
BEGIN
CREATE TABLE [BDR_PERIODS](
	[BDR_PERIOD_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_ID] [int] NULL,
	[NAME] [varchar](100) NULL,
	[DATE_START] [datetime] NULL,
	[DATE_END] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BDR_PERIOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

