/****** Object:  Table [BUDGETS_ARTICLES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[BUDGETS_ARTICLES]') AND type in (N'U'))
BEGIN
CREATE TABLE [BUDGETS_ARTICLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BUDGET_ID] [int] NOT NULL,
	[PARENT_ID] [int] NULL,
	[ARTICLE_ID] [int] NOT NULL,
	[PAYDELAY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
