/****** Object:  Table [BUDGETS_TOTALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[BUDGETS_TOTALS]') AND type in (N'U'))
BEGIN
CREATE TABLE [BUDGETS_TOTALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BUDGET_ID] [int] NOT NULL,
	[GOAL_ACCOUNT_ID] [int] NOT NULL CONSTRAINT [DF_BUDGETS_TOTALS_GOAL_ACCOUNT_ID]  DEFAULT ((0)),
	[ARTICLE_ID] [int] NULL,
	[PLAN_BDR] [decimal](18, 2) NULL,
	[PLAN_DDS] [decimal](18, 2) NULL,
	[PLAN_DDS_CURRENT] [decimal](18, 2) NULL,
	[FACT_DDS] [decimal](18, 2) NULL,
	[FACT_DDS_GOAL] [decimal](18, 2) NULL,
	[NAME] [varchar](100) NULL,
	[NODE] [hierarchyid] NULL,
	[PARENT_ID] [int] NULL,
	[HAS_CHILDS] [bit] NOT NULL CONSTRAINT [DF__BUDGETS_T__HAS_C__390515B7]  DEFAULT ((0)),
	[SORT_ID] [float] NULL,
	[LEVEL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL CONSTRAINT [DF__BUDGETS_T__IS_DE__39F939F0]  DEFAULT ((0)),
	[NODE_PRIORITY] [int] NULL,
	[PLAN_DDS_DETAILED] [decimal](18, 2) NULL,
	[FACT_DDS_SELF] [decimal](18, 2) NULL,
	[FACT_DDS_EXT] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_BUDGETS_TOTALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[BUDGETS_TOTALS]') AND name = N'IX_BUDGETS_TOTALS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_BUDGETS_TOTALS] ON [BUDGETS_TOTALS]
(
	[BUDGET_ID] ASC,
	[GOAL_ACCOUNT_ID] ASC,
	[ARTICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
