/****** Object:  Table [DEALS_MAP_GROSSES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_MAP_GROSSES]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_MAP_GROSSES](
	[GROSS_ID] [int] NOT NULL,
	[GROSS_NAME] [varchar](50) NULL,
	[TASK_NAME] [varchar](50) NULL,
	[ARTICLE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GROSS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

