/****** Object:  Table [DEALS_ARTICLES_PRIORITY]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_ARTICLES_PRIORITY]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_ARTICLES_PRIORITY](
	[ARTICLE_SHORT_NAME] [varchar](100) NOT NULL,
	[SORT_STD] [float] NULL,
	[SORT_NDS0] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ARTICLE_SHORT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

