/****** Object:  Table [DEALS_COSTS_KOEFS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_COSTS_KOEFS]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_COSTS_KOEFS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SLICE] [varchar](50) NOT NULL,
	[SUBJECT_ID] [int] NOT NULL,
	[SHORT_NAME] [varchar](50) NOT NULL,
	[ARTICLE_RATIO] [float] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[SLICE] ASC,
	[SUBJECT_ID] ASC,
	[SHORT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_DEALS_COSTS_KOEFS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[DEALS_COSTS_KOEFS]') AND name = N'IX_DEALS_COSTS_KOEFS')
CREATE CLUSTERED INDEX [IX_DEALS_COSTS_KOEFS] ON [DEALS_COSTS_KOEFS]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
