/****** Object:  Table [DEALS_FUNDING]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_FUNDING]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_FUNDING](
	[DEAL_ID] [int] NULL,
	[BUDGET_ID] [int] NULL,
	[LAYER] [varchar](20) NULL,
	[D_CALC] [date] NOT NULL DEFAULT (getdate()),
	[VALUE_BDS] [float] NULL,
	[VALUE_PAID] [float] NULL,
	[VALUE_TRANZIT] [float] NULL,
	[VALUE_TRANSFER] [float] NULL,
	[VALUE_EXP1] [float] NULL,
	[VALUE_EXP2] [float] NULL,
	[VALUE_EXP3] [float] NULL,
	[VALUE_EXP4] [float] NULL,
	[VALUE_EXP5] [float] NULL,
	[VALUE_EXP6] [float] NULL,
	[VALUE_EXP_NOINC_1] [float] NULL,
	[VALUE_EXP_NOINC_2] [float] NULL,
	[VALUE_EXP_NOINC_3] [float] NULL,
	[VALUE_EXP_NOINC_31] [float] NULL,
	[VALUE_EXP_NOINC_32] [float] NULL,
	[CALC_MOL_ID] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_DEAL_FUNDING]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[DEALS_FUNDING]') AND name = N'IX_DEAL_FUNDING')
CREATE UNIQUE CLUSTERED INDEX [IX_DEAL_FUNDING] ON [DEALS_FUNDING]
(
	[DEAL_ID] ASC,
	[LAYER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_BUDGET]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[DEALS_FUNDING]') AND name = N'IX_BUDGET')
CREATE NONCLUSTERED INDEX [IX_BUDGET] ON [DEALS_FUNDING]
(
	[BUDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
