/****** Object:  Table [DEALS_COSTS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_COSTS_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_COSTS_DETAILS](
	[DEAL_ID] [int] NULL,
	[DEAL_NUMBER] [varchar](50) NULL,
	[COST_INFO] [xml] NULL,
	[COUNT_PRODUCTS] [int] NULL,
	[VALUE_BDR] [decimal](18, 2) NULL,
	[VALUE_BDS] [decimal](18, 2) NULL,
	[VALUE_TRANSFER_BDR] [decimal](18, 2) NULL,
	[VALUE_TRANSFER_BDS] [decimal](18, 2) NULL,
	[UPDATE_DATE] [datetime] NULL
)
END
GO

/****** Object:  Index [IX_DEAL]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[DEALS_COSTS_DETAILS]') AND name = N'IX_DEAL')
CREATE NONCLUSTERED INDEX [IX_DEAL] ON [DEALS_COSTS_DETAILS]
(
	[DEAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DEAL_NUMBER]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[DEALS_COSTS_DETAILS]') AND name = N'IX_DEAL_NUMBER')
CREATE NONCLUSTERED INDEX [IX_DEAL_NUMBER] ON [DEALS_COSTS_DETAILS]
(
	[DEAL_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
