/****** Object:  Table [DEALS_MAP_BUDGETS_BACK]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_MAP_BUDGETS_BACK]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_MAP_BUDGETS_BACK](
	[ARTICLE_ID] [int] NOT NULL,
	[BudgetId] [int] NULL,
	[BudgetName] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ARTICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

