/****** Object:  Table [DEALS_R_FUNDING]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_R_FUNDING]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_R_FUNDING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEAL_ID] [int] NULL,
	[STATUS_NAME] [varchar](50) NULL,
	[MFR_NUMBER] [varchar](50) NULL,
	[ARTICLE_ID] [int] NULL,
	[FUND_PAYORDER_ID] [int] NULL,
	[PLAN_PAY_NAME] [varchar](50) NULL,
	[D_MFR] [datetime] NULL,
	[D_ISSUE] [datetime] NULL,
	[D_ISSUE_PLAN] [datetime] NULL,
	[D_SHIP] [datetime] NULL,
	[D_ORDER] [datetime] NULL,
	[D_DELIVERY] [datetime] NULL,
	[D_PLAN_PAY] [datetime] NULL,
	[D_FACT_PAY] [datetime] NULL,
	[D_FUND] [datetime] NULL,
	[VALUE_PLAN] [decimal](18, 2) NULL,
	[VALUE_FACT] [decimal](18, 2) NULL,
	[VALUE_FUND] [decimal](18, 2) NULL,
	[VALUE_PLAN_PAY] [decimal](18, 2) NULL,
	[D_CALC] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_DEAL]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[DEALS_R_FUNDING]') AND name = N'IX_DEAL')
CREATE NONCLUSTERED INDEX [IX_DEAL] ON [DEALS_R_FUNDING]
(
	[DEAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
