/****** Object:  Table [DEALS_CREDITS_LEFTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEALS_CREDITS_LEFTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [DEALS_CREDITS_LEFTS](
	[SUBJECT_ID] [int] NULL,
	[D_DOC] [datetime] NULL,
	[BUDGET_ID] [int] NULL,
	[ARTICLE_ID] [int] NULL,
	[VALUE] [decimal](18, 2) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_DEALS_CREDITS_LEFTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[DEALS_CREDITS_LEFTS]') AND name = N'IX_DEALS_CREDITS_LEFTS')
CREATE UNIQUE CLUSTERED INDEX [IX_DEALS_CREDITS_LEFTS] ON [DEALS_CREDITS_LEFTS]
(
	[SUBJECT_ID] ASC,
	[D_DOC] ASC,
	[BUDGET_ID] ASC,
	[ARTICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
