/****** Object:  Table [EVENTS_MOLS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[EVENTS_MOLS]') AND type in (N'U'))
BEGIN
CREATE TABLE [EVENTS_MOLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EVENT_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[READ_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_EVENTS_MOLS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[EVENTS_MOLS]') AND name = N'IX_EVENTS_MOLS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_EVENTS_MOLS] ON [EVENTS_MOLS]
(
	[EVENT_ID] ASC,
	[MOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_EVENTS_MOLS_EVENTS_EVENT_ID]') AND parent_object_id = OBJECT_ID(N'[EVENTS_MOLS]'))
ALTER TABLE [EVENTS_MOLS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_MOLS_EVENTS_EVENT_ID] FOREIGN KEY([EVENT_ID])
REFERENCES [EVENTS] ([EVENT_ID])
ON DELETE CASCADE
GO
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_EVENTS_MOLS_EVENTS_EVENT_ID]') AND parent_object_id = OBJECT_ID(N'[EVENTS_MOLS]'))
ALTER TABLE [EVENTS_MOLS] CHECK CONSTRAINT [FK_EVENTS_MOLS_EVENTS_EVENT_ID]
GO
