/****** Object:  Table [EVENTS_CACHE]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[EVENTS_CACHE]') AND type in (N'U'))
BEGIN
CREATE TABLE [EVENTS_CACHE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[FEED_ID] [int] NULL,
	[TASK_ID] [int] NULL,
	[TALK_ID] [int] NULL,
	[OWNER_NAME] [varchar](80) NULL,
	[OWNER_MOL_ID] [int] NULL,
	[OWNER_MOL_NAME] [varchar](50) NULL,
	[HREF] [varchar](250) NULL,
	[LAST_MESSAGE] [varchar](150) NULL,
	[LAST_DATE] [datetime] NULL,
	[COUNT_UNREADS] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_USER]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[EVENTS_CACHE]') AND name = N'IX_USER')
CREATE NONCLUSTERED INDEX [IX_USER] ON [EVENTS_CACHE]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
