/****** Object:  Table [FIN_TZ_STEP2_DEFS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[FIN_TZ_STEP2_DEFS]') AND type in (N'U'))
BEGIN
CREATE TABLE [FIN_TZ_STEP2_DEFS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VENDOR_ID] [int] NULL,
	[SLICE] [varchar](12) NULL,
	[FLOW] [int] NULL,
	[BUDGET_ID] [int] NULL,
	[FINDOC_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_FIN_TZ_STEP2_DEFS1]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FIN_TZ_STEP2_DEFS]') AND name = N'IX_FIN_TZ_STEP2_DEFS1')
CREATE NONCLUSTERED INDEX [IX_FIN_TZ_STEP2_DEFS1] ON [FIN_TZ_STEP2_DEFS]
(
	[VENDOR_ID] ASC,
	[SLICE] ASC,
	[FLOW] ASC,
	[BUDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FIN_TZ_STEP2_DEFS2]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FIN_TZ_STEP2_DEFS]') AND name = N'IX_FIN_TZ_STEP2_DEFS2')
CREATE NONCLUSTERED INDEX [IX_FIN_TZ_STEP2_DEFS2] ON [FIN_TZ_STEP2_DEFS]
(
	[VENDOR_ID] ASC,
	[SLICE] ASC,
	[FLOW] ASC,
	[FINDOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
