/****** Object:  Table [FIN_GOALS_META_EXCLUDES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[FIN_GOALS_META_EXCLUDES]') AND type in (N'U'))
BEGIN
CREATE TABLE [FIN_GOALS_META_EXCLUDES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FOLDER_ID] [int] NULL,
	[BUDGET_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_FIN_GOALS_META_EXCLUDES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FIN_GOALS_META_EXCLUDES]') AND name = N'IX_FIN_GOALS_META_EXCLUDES')
CREATE UNIQUE NONCLUSTERED INDEX [IX_FIN_GOALS_META_EXCLUDES] ON [FIN_GOALS_META_EXCLUDES]
(
	[FOLDER_ID] ASC,
	[BUDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
