/****** Object:  Table [FIN_TZ_FOLDERS_DEALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[FIN_TZ_FOLDERS_DEALS]') AND type in (N'U'))
BEGIN
CREATE TABLE [FIN_TZ_FOLDERS_DEALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOL_ID] [int] NULL,
	[FOLDER_ID] [int] NULL,
	[BUDGET_ID] [int] NULL,
	[VALUE_START] [decimal](18, 2) NULL,
	[VALUE_IN] [decimal](18, 2) NULL,
	[VALUE_HELD] [decimal](18, 2) NULL,
	[VALUE_UNDEFINED] [decimal](18, 2) NULL,
	[VALUE_OUT] [decimal](18, 2) NULL,
	[VALUE_OUT_CALC] [decimal](18, 2) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_FIN_TZ_FOLDERS_DEALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FIN_TZ_FOLDERS_DEALS]') AND name = N'IX_FIN_TZ_FOLDERS_DEALS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_FIN_TZ_FOLDERS_DEALS] ON [FIN_TZ_FOLDERS_DEALS]
(
	[MOL_ID] ASC,
	[FOLDER_ID] ASC,
	[BUDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
