/****** Object:  Table [FINDOCS_CACHE]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[FINDOCS_CACHE]') AND type in (N'U'))
BEGIN
CREATE TABLE [FINDOCS_CACHE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOL_ID] [int] NULL,
	[FINDOC_ID] [int] NULL,
	[D_ADD] [datetime] default GETDATE()
 CONSTRAINT [PK_FINDOCS_CACHE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_FINDOCS_CACHE]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FINDOCS_CACHE]') AND name = N'IX_FINDOCS_CACHE')
CREATE NONCLUSTERED INDEX [IX_FINDOCS_CACHE] ON [FINDOCS_CACHE]
(
	[MOL_ID] ASC,
	[FINDOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
