/****** Object:  Table [FINDOCS_AZ_BUDGETS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[FINDOCS_AZ_BUDGETS]') AND type in (N'U'))
BEGIN
CREATE TABLE [FINDOCS_AZ_BUDGETS](
	[MOL_ID] [int] NULL,
	[BUDGET_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_FINDOCS_AZ_BUDGETS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FINDOCS_AZ_BUDGETS]') AND name = N'IX_FINDOCS_AZ_BUDGETS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_FINDOCS_AZ_BUDGETS] ON [FINDOCS_AZ_BUDGETS]
(
	[MOL_ID] ASC,
	[BUDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
