/****** Object:  Table [FINDOCS_TAGS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[FINDOCS_TAGS]') AND type in (N'U'))
BEGIN
CREATE TABLE [FINDOCS_TAGS](
	[TAG_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](128) NOT NULL,
	[STATUS_ID] [int] NOT NULL DEFAULT ((1)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TAG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

