/****** Object:  Table [FINDOCS_UPLOAD_DETAILS1]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[FINDOCS_UPLOAD_DETAILS1]') AND type in (N'U'))
BEGIN
CREATE TABLE [FINDOCS_UPLOAD_DETAILS1](
	[PayId] [int] IDENTITY(1,1) NOT NULL,
	[findoc_id] [int] NULL,
	[DocDate] [datetime] NULL,
	[Number] [varchar](100) NULL,
	[ValueCcy] [decimal](18, 2) NULL,
	[Duplicated] [bit] NULL DEFAULT ((0)),
	[CreatedUserId] [int] NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
	[ProcessedUserId] [datetime] NULL,
	[ProcessedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_FINDOCS_UPLOAD_DETAILS1]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FINDOCS_UPLOAD_DETAILS1]') AND name = N'IX_FINDOCS_UPLOAD_DETAILS1')
CREATE NONCLUSTERED INDEX [IX_FINDOCS_UPLOAD_DETAILS1] ON [FINDOCS_UPLOAD_DETAILS1]
(
	[ValueCcy] ASC,
	[DocDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_FINDOCS_UPLOAD_DETAILS1_FINDOC]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[FINDOCS_UPLOAD_DETAILS1]') AND name = N'IX_FINDOCS_UPLOAD_DETAILS1_FINDOC')
CREATE NONCLUSTERED INDEX [IX_FINDOCS_UPLOAD_DETAILS1_FINDOC] ON [FINDOCS_UPLOAD_DETAILS1]
(
	[findoc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
