/****** Object:  Table [MFR_WK_SHEETS_FIFO]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_WK_SHEETS_FIFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_WK_SHEETS_FIFO](
	[MOL_ID] [int] NULL,
	[WK_DATE] [datetime] NULL,
	[WK_SHEET_ID] [int] NULL,
	[WK_PLACE_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[JOB_DATE] [datetime] NULL,
	[JOB_ID] [int] NULL,
	[JOB_PLACE_ID] [int] NULL,
	[JOB_STATUS_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[OPER_ID] [int] NULL,
	[OPER_NAME] [varchar](100) NULL,
	[WK_HOURS] [float] NULL,
	[JOB_HOURS] [float] NULL,
	[SLICE] [varchar](30) NULL
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_MFR_WK_SHEETS_FIFO]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_WK_SHEETS_FIFO]') AND name = N'IX_MFR_WK_SHEETS_FIFO')
CREATE NONCLUSTERED INDEX [IX_MFR_WK_SHEETS_FIFO] ON [MFR_WK_SHEETS_FIFO]
(
	[MOL_ID] ASC,
	[WK_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
