/****** Object:  Table [MFR_REPLICATIONS_PRODUCTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_REPLICATIONS_PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_REPLICATIONS_PRODUCTS](
	[EXTERN_ID] [varchar](32) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[NAME] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EXTERN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_MFR_REPLICATIONS_PRODUCTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_REPLICATIONS_PRODUCTS]') AND name = N'IX_MFR_REPLICATIONS_PRODUCTS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_MFR_REPLICATIONS_PRODUCTS] ON [MFR_REPLICATIONS_PRODUCTS]
(
	[EXTERN_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRODUCT]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_REPLICATIONS_PRODUCTS]') AND name = N'IX_PRODUCT')
CREATE NONCLUSTERED INDEX [IX_PRODUCT] ON [MFR_REPLICATIONS_PRODUCTS]
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
