/****** Object:  Table [MFR_PLANS_JOBS_PROBLEMS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_PROBLEMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_JOBS_PROBLEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DETAIL_ID] [int] NULL,
	[PROBLEM_ID] [int] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_MOL_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLANS_JOBS_PROBLEMS_DETAIL_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_PROBLEMS]'))
ALTER TABLE [MFR_PLANS_JOBS_PROBLEMS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_PLANS_JOBS_PROBLEMS_DETAIL_ID] FOREIGN KEY([DETAIL_ID])
REFERENCES [MFR_PLANS_JOBS_DETAILS] ([ID])
ON DELETE CASCADE
GO
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLANS_JOBS_PROBLEMS_DETAIL_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_PROBLEMS]'))
ALTER TABLE [MFR_PLANS_JOBS_PROBLEMS] CHECK CONSTRAINT [FK_MFR_PLANS_JOBS_PROBLEMS_DETAIL_ID]
GO
