/****** Object:  Table [MFR_PLACES_MOLS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLACES_MOLS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLACES_MOLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PLACE_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[NOTE] [varchar](max) NULL,
	[IS_MASTER] [bit] NOT NULL,
	[IS_CHIEF] [bit] NOT NULL DEFAULT ((0)),
	[IS_DISPATCH] [bit] NOT NULL DEFAULT ((0)),
	[PARENT_ID] [int] NULL,
	[NAME] [varchar](250) NULL,
	[LEVEL_ID] [int] NULL,
	[HAS_CHILDS] [bit] NULL,
	[NODE] [hierarchyid] NULL,
	[SORT_ID] [float] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  Index [IX_MFR_PLACES_MOLS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLACES_MOLS]') AND name = N'IX_MFR_PLACES_MOLS')
CREATE UNIQUE CLUSTERED INDEX [IX_MFR_PLACES_MOLS] ON [MFR_PLACES_MOLS]
(
	[PLACE_ID] ASC,
	[MOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_MOLS_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_MOLS]'))
ALTER TABLE [MFR_PLACES_MOLS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_PLACES_MOLS_PLACE_ID] FOREIGN KEY([PLACE_ID])
REFERENCES [MFR_PLACES] ([PLACE_ID])
ON DELETE CASCADE
GO
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_MOLS_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_MOLS]'))
ALTER TABLE [MFR_PLACES_MOLS] CHECK CONSTRAINT [FK_MFR_PLACES_MOLS_PLACE_ID]
GO
