/****** Object:  Table [MFR_DOCS_INFOS_MATERIALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_DOCS_INFOS_MATERIALS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_DOCS_INFOS_MATERIALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INFO_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[SLICE] [varchar](20) NULL,
	[ITEM_ID] [int] NULL,
	[D_TO_PLAN] [date] NULL,
	[D_TO_FACT] [date] NULL,
	[DURATION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [MFR_DOCS_INFOS_MATERIALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_DOCS_INFOS_MATERIALS]') AND name = N'MFR_DOCS_INFOS_MATERIALS')
CREATE NONCLUSTERED INDEX [MFR_DOCS_INFOS_MATERIALS] ON [MFR_DOCS_INFOS_MATERIALS]
(
	[INFO_ID] ASC,
	[SLICE] ASC,
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
