/****** Object:  Table [MFR_R_ITEMS_BALANCE]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_BALANCE]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_ITEMS_BALANCE](
	[PLACE_ID] [int] NULL,
	[PLACE_FROM_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[CONTENT_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[JOB_ID] [int] NULL,
	[D_DOC] [date] NULL,
	[QUANTITY] [float] NULL,
	[UNIT_NAME] [varchar](20) NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT (getdate())
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_GROUP]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_BALANCE]') AND name = N'IX_GROUP')
CREATE NONCLUSTERED INDEX [IX_GROUP] ON [MFR_R_ITEMS_BALANCE]
(
	[PLACE_ID] ASC,
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
