/****** Object:  Table [MFR_R_ITEMS_UNFINISHED]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_UNFINISHED]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_ITEMS_UNFINISHED](
	[MFR_DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[CONTENT_ID] [int] NOT NULL,
	[STATUS_ID] [int] NULL,
	[NODE_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[PLACE_ID] [int] NULL,
	[MATERIALS_V] [float] NULL,
	[FACT_HOURS] [float] NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT getdate()
PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_JOIN1]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_UNFINISHED]') AND name = N'IX_JOIN1')
CREATE NONCLUSTERED INDEX [IX_JOIN1] ON [MFR_R_ITEMS_UNFINISHED]
(
	[MFR_DOC_ID] ASC,
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_JOIN2]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_UNFINISHED]') AND name = N'IX_JOIN2')
CREATE NONCLUSTERED INDEX [IX_JOIN2] ON [MFR_R_ITEMS_UNFINISHED]
(
	[MFR_DOC_ID] ASC,
	[PRODUCT_ID] ASC,
	[NODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
