/****** Object:  Table [MFR_PDM_OPERS_EXECUTORS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_EXECUTORS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDM_OPERS_EXECUTORS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PDM_ID] [int] NULL,
	[OPER_ID] [int] NULL,
	[POST_ID] [int] NULL,
	[DURATION_WK] [float] NULL,
	[DURATION_WK_ID] [int] NULL,
	[RATE_PRICE] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  Index [IX_MFR_PDM_OPERS_EXECUTORS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_EXECUTORS]') AND name = N'IX_MFR_PDM_OPERS_EXECUTORS')
CREATE CLUSTERED INDEX [IX_MFR_PDM_OPERS_EXECUTORS] ON [MFR_PDM_OPERS_EXECUTORS]
(
	[PDM_ID] ASC,
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_MFR_PDM_OPERS_EXECUTORS_OPER]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_EXECUTORS]') AND name = N'IX_MFR_PDM_OPERS_EXECUTORS_OPER')
CREATE NONCLUSTERED INDEX [IX_MFR_PDM_OPERS_EXECUTORS_OPER] ON [MFR_PDM_OPERS_EXECUTORS]
(
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
