/****** Object:  Table [MFR_R_PLANS_JOBS_ITEMS_FACTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS_FACTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_PLANS_JOBS_ITEMS_FACTS](
	[PLACE_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[CONTENT_ID] [int] NULL,
	[STATUS_ID] [int] NULL,
	[D_PLAN] [date] NULL,
	[D_FACT] [date] NULL,
	[PLAN_Q] [float] NULL,
	[FACT_Q] [float] NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT (getdate())
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_MFR_R_PLANS_JOBS_ITEMS_FACTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS_FACTS]') AND name = N'IX_MFR_R_PLANS_JOBS_ITEMS_FACTS')
CREATE NONCLUSTERED INDEX [IX_MFR_R_PLANS_JOBS_ITEMS_FACTS] ON [MFR_R_PLANS_JOBS_ITEMS_FACTS]
(
	[PLACE_ID] ASC,
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
