/****** Object:  Table [MFR_R_PLANS_JOBS_ITEMS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_PLANS_JOBS_ITEMS](
	[PLAN_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[CONTENT_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[OPER_ID] [int] NULL,
	[OPER_DATE] [date] NULL,
	[OPER_NUMBER] [int] NULL,
	[JOB_ID] [int] NULL,
	[JOB_DETAIL_ID] [int] NULL,
	[JOB_DATE] [date] NULL,
	[JOB_STATUS_ID] [int] NULL,
	[PLAN_Q] [float] NULL,
	[FACT_Q] [float] NULL,
	[SLICE] [varchar](20) NULL,
	[D_CALC] [datetime] NULL DEFAULT (getdate())
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_MFR_R_PLANS_JOBS_ITEMS1]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS]') AND name = N'IX_MFR_R_PLANS_JOBS_ITEMS1')
CREATE NONCLUSTERED INDEX [IX_MFR_R_PLANS_JOBS_ITEMS1] ON [MFR_R_PLANS_JOBS_ITEMS]
(
	[PLAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_MFR_R_PLANS_JOBS_ITEMS2]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS]') AND name = N'IX_MFR_R_PLANS_JOBS_ITEMS2')
CREATE NONCLUSTERED INDEX [IX_MFR_R_PLANS_JOBS_ITEMS2] ON [MFR_R_PLANS_JOBS_ITEMS]
(
	[MFR_DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_MFR_R_PLANS_JOBS_ITEMS3]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS]') AND name = N'IX_MFR_R_PLANS_JOBS_ITEMS3')
CREATE NONCLUSTERED INDEX [IX_MFR_R_PLANS_JOBS_ITEMS3] ON [MFR_R_PLANS_JOBS_ITEMS]
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_MFR_R_PLANS_JOBS_ITEMS4]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS]') AND name = N'IX_MFR_R_PLANS_JOBS_ITEMS4')
CREATE NONCLUSTERED INDEX [IX_MFR_R_PLANS_JOBS_ITEMS4] ON [MFR_R_PLANS_JOBS_ITEMS]
(
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_MFR_R_PLANS_JOBS_ITEMS5]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_JOBS_ITEMS]') AND name = N'IX_MFR_R_PLANS_JOBS_ITEMS5')
CREATE NONCLUSTERED INDEX [IX_MFR_R_PLANS_JOBS_ITEMS5] ON [MFR_R_PLANS_JOBS_ITEMS]
(
	[JOB_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
