/****** Object:  Table [MFR_PLACES_OPERS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLACES_OPERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PLACE_ID] [int] NULL,
	[NAME] [varchar](100) NULL,
	[NOTE] [varchar](max) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO
/****** Object:  Index [IX_MFR_PLACES_OPERS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]') AND name = N'IX_MFR_PLACES_OPERS')
CREATE UNIQUE CLUSTERED INDEX [IX_MFR_PLACES_OPERS] ON [MFR_PLACES_OPERS]
(
	[PLACE_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_OPERS_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]'))
ALTER TABLE [MFR_PLACES_OPERS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_PLACES_OPERS_PLACE_ID] FOREIGN KEY([PLACE_ID])
REFERENCES [MFR_PLACES] ([PLACE_ID])
ON DELETE CASCADE
GO
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_OPERS_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]'))
ALTER TABLE [MFR_PLACES_OPERS] CHECK CONSTRAINT [FK_MFR_PLACES_OPERS_PLACE_ID]
GO
