/****** Object:  Table [MFR_PLANS_RESOURCES_FIFO]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_RESOURCES_FIFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_RESOURCES_FIFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RESOURCE_ID] [int] NULL,
	[RESOURCE_DATE] [datetime] NULL,
	[PLAN_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[CONTENT_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[OPER_ID] [int] NULL,
	[OPER_PLACE_ID] [int] NULL,
	[OPER_FROM] [datetime] NULL,
	[OPER_TO] [datetime] NULL,
	[LOADING] [float] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_MFR_PLANS_RESOURCES_FIFO1]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLANS_RESOURCES_FIFO]') AND name = N'IX_MFR_PLANS_RESOURCES_FIFO1')
CREATE NONCLUSTERED INDEX [IX_MFR_PLANS_RESOURCES_FIFO1] ON [MFR_PLANS_RESOURCES_FIFO]
(
	[RESOURCE_ID] ASC,
	[RESOURCE_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_MFR_PLANS_RESOURCES_FIFO2]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLANS_RESOURCES_FIFO]') AND name = N'IX_MFR_PLANS_RESOURCES_FIFO2')
CREATE NONCLUSTERED INDEX [IX_MFR_PLANS_RESOURCES_FIFO2] ON [MFR_PLANS_RESOURCES_FIFO]
(
	[PLAN_ID] ASC,
	[MFR_DOC_ID] ASC,
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
