/****** Object:  Table [MFR_WK_SHEETS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_WK_SHEETS_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_WK_SHEETS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WK_SHEET_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[WK_HOURS] [float] NULL,
	[TIME_FROM] [varchar](5) NULL,
	[TIME_TO] [varchar](5) NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[QUEUE_HOURS] [float] NULL,
	[FACT_HOURS] [float] NULL,
	[PLAN_HOURS] [float] NULL,
	[WK_POST_ID] [int] NULL,
	[WK_KTU] [float] NULL DEFAULT ((1)),
	[PARENT_ID] [int] NULL,
	[NAME] [varchar](200) NULL,
	[HAS_CHILDS] [bit] NULL,
	[NODE] [hierarchyid] NULL,
	[LEVEL_ID] [int] NULL,
	[SORT_ID] [float] NULL,
	[WK_K_INC] [float] NULL,
	[WK_KTD] [float] NULL,
	[WK_COMPLETION] [float] NULL,
	[SALARY_SCALE] [float] NULL,
	[WK_EXEC_ROWS] [int] NULL,
	[WK_EXEC_ROWS_COMPLETED] [int] NULL,
	[BRIG_EXECUTORS] [int] NULL,
	[BRIG_WK_HOURS] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO


/****** Object:  Index [IX_MFR_WK_SHEETS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_WK_SHEETS_DETAILS]') AND name = N'IX_MFR_WK_SHEETS_DETAILS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_MFR_WK_SHEETS_DETAILS] ON [MFR_WK_SHEETS_DETAILS]
(
	[WK_SHEET_ID] ASC,
	[MOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_WK_SHEETS_DETAILS]'))
ALTER TABLE [MFR_WK_SHEETS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID] FOREIGN KEY([WK_SHEET_ID])
REFERENCES [MFR_WK_SHEETS] ([WK_SHEET_ID])
ON DELETE CASCADE
GO
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_WK_SHEETS_DETAILS]'))
ALTER TABLE [MFR_WK_SHEETS_DETAILS] CHECK CONSTRAINT [FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID]
GO
