/****** Object:  Table [MFR_PLANS_RATES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_RATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_RATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_GROUP_ID] [int] NULL,
	[D_DOC] [date] NULL,
	[LIMIT_Q] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT(0)
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  Index [IX_MFR_PLANS_RATES_PRODUCT]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLANS_RATES]') AND name = N'IX_MFR_PLANS_RATES_PRODUCT')
CREATE UNIQUE NONCLUSTERED INDEX [IX_MFR_PLANS_RATES_PRODUCT] ON [MFR_PLANS_RATES]
(
	[PRODUCT_GROUP_ID] ASC,
	[D_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
