/****** Object:  Table [MOLS_FRIENDS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MOLS_FRIENDS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MOLS_FRIENDS](
	[MOL_ID] [int] NOT NULL,
	[FRIEND_ID] [int] NOT NULL,
	[D_ADD] [datetime] NOT NULL CONSTRAINT [DF_MOLS_FRIENDS_D_ADD]  DEFAULT (getdate()),
	[IS_ALERT_BIRTHDAY] [bit] NOT NULL CONSTRAINT [DF_MOLS_FRIENDS_IS_MAIL_BIRTHDAY]  DEFAULT ((0)),
 CONSTRAINT [PK_MOLS_FRIENDS] PRIMARY KEY CLUSTERED 
(
	[MOL_ID] ASC,
	[FRIEND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
