/****** Object:  Table [MOLS_POSTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MOLS_POSTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MOLS_POSTS](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](150) NULL,
	[SUBJECT_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL CONSTRAINT [DF__MOLS_POST__IS_DE__62906FD8]  DEFAULT ((0)),
	[NOTE] [varchar](255) NULL,
	[RATE_PRICE] [float] NULL,
	[EXTERN_ID] [varchar](32) NULL,
 CONSTRAINT [PK_MOLS_POSTS] PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

