/****** Object:  Table [OBJS_META_REFS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OBJS_META_REFS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OBJS_META_REFS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_OBJ_TYPE] [varchar](8) NULL,
	[TO_OBJ_TYPE] [varchar](30) NULL,
	[TO_OBJ_NAME] [varchar](100) NULL,
	[URL] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO
/****** Object:  Index [IX_OBJS_META_REFS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[OBJS_META_REFS]') AND name = N'IX_OBJS_META_REFS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_OBJS_META_REFS] ON [OBJS_META_REFS]
(
	[FROM_OBJ_TYPE] ASC,
	[TO_OBJ_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
