/****** Object:  Table [OBJS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OBJS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OBJS](
	[OBJ_UID] [int] IDENTITY(1,1) NOT NULL,
	[OWNER_TYPE] [varchar](3) NULL,
	[OWNER_ID] [int] NULL,
	[OWNER_NAME] [varchar](250) NULL,
	[CONTENT] [text] NULL,
 CONSTRAINT [PK_OBJS] PRIMARY KEY CLUSTERED 
(
	[OBJ_UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  FullTextIndex     Script Date: 9/18/2024 3:24:46 PM ******/
IF not EXISTS (SELECT * FROM sys.fulltext_indexes fti WHERE fti.object_id = OBJECT_ID(N'[OBJS]'))
CREATE FULLTEXT INDEX ON [OBJS](
[CONTENT] LANGUAGE 'Russian')
KEY INDEX [PK_OBJS]ON ([CATALOG], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = SYSTEM)


GO
