/****** Object:  Table [PA_BRANCHES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PA_BRANCHES]') AND type in (N'U'))
BEGIN
CREATE TABLE [PA_BRANCHES](
	[BRANCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECT_ID] [int] NULL,
	[NAME] [varchar](250) NULL,
	[SHORT_NAME] [varchar](10) NULL,
	[HEAD_STAFF_POSITION_ID] [int] NULL,
	[IS_DELETED] [bit] NULL DEFAULT ((0)),
	[CITY_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

