/****** Object:  Table [PAYORDERS_PARTIALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PAYORDERS_PARTIALS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PAYORDERS_PARTIALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAYORDER_ID] [int] NULL,
	[D_DOC] [datetime] NULL,
	[VALUE_CCY] [decimal](18, 2) NULL,
	[NOTE] [varchar](250) NULL,
	[FOLDER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_PAYORDERS_PARTIALS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PAYORDERS_PARTIALS]') AND name = N'IX_PAYORDERS_PARTIALS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PAYORDERS_PARTIALS] ON [PAYORDERS_PARTIALS]
(
	[PAYORDER_ID] ASC,
	[D_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
