/****** Object:  Table [PRODMETA_CLASSES_ATTRS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRODMETA_CLASSES_ATTRS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PRODMETA_CLASSES_ATTRS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASS_ID] [int] NULL,
	[ATTR_ID] [int] NULL,
	[IS_COLUMN] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_PRODMETA_CLASSES_ATTRS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PRODMETA_CLASSES_ATTRS]') AND name = N'IX_PRODMETA_CLASSES_ATTRS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PRODMETA_CLASSES_ATTRS] ON [PRODMETA_CLASSES_ATTRS]
(
	[CLASS_ID] ASC,
	[ATTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_PRODMETA_CLASSES_ATTRS_CLASS_ID]') AND parent_object_id = OBJECT_ID(N'[PRODMETA_CLASSES_ATTRS]'))
ALTER TABLE [PRODMETA_CLASSES_ATTRS]  WITH CHECK ADD  CONSTRAINT [FK_PRODMETA_CLASSES_ATTRS_CLASS_ID] FOREIGN KEY([CLASS_ID])
REFERENCES [PRODMETA_CLASSES] ([CLASS_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_PRODMETA_CLASSES_ATTRS_CLASS_ID]') AND parent_object_id = OBJECT_ID(N'[PRODMETA_CLASSES_ATTRS]'))
ALTER TABLE [PRODMETA_CLASSES_ATTRS] CHECK CONSTRAINT [FK_PRODMETA_CLASSES_ATTRS_CLASS_ID]
GO
