/****** Object:  Table [PRODUCTS_CACHE]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRODUCTS_CACHE]') AND type in (N'U'))
BEGIN
CREATE TABLE [PRODUCTS_CACHE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOL_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[A_COL1] [varchar](max) NULL,
	[A_COL2] [varchar](max) NULL,
	[A_COL3] [varchar](max) NULL,
	[A_COL4] [varchar](max) NULL,
	[A_COL5] [varchar](max) NULL,
	[A_COL6] [varchar](max) NULL,
	[A_COL7] [varchar](max) NULL,
	[A_COL8] [varchar](max) NULL,
	[A_COL9] [varchar](max) NULL,
	[A_COL10] [varchar](max) NULL,
	[SORT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MOL_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  Index [IX_ID]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PRODUCTS_CACHE]') AND name = N'IX_ID')
CREATE NONCLUSTERED INDEX [IX_ID] ON [PRODUCTS_CACHE]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_MOL]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PRODUCTS_CACHE]') AND name = N'IX_MOL')
CREATE NONCLUSTERED INDEX [IX_MOL] ON [PRODUCTS_CACHE]
(
	[MOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
