/****** Object:  Table [PRODUCTS_UNITS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRODUCTS_UNITS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PRODUCTS_UNITS](
	[UNIT_ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
	[main_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_PRODUCTS_UNITS_NAME]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PRODUCTS_UNITS]') AND name = N'IX_PRODUCTS_UNITS_NAME')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PRODUCTS_UNITS_NAME] ON [PRODUCTS_UNITS]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
