/****** Object:  Table [PRODUCTS_MAPS_RULES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRODUCTS_MAPS_RULES]') AND type in (N'U'))
BEGIN
CREATE TABLE [PRODUCTS_MAPS_RULES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SLICE] [varchar](32) NOT NULL,
	[PROCESSOR] [varchar](32) NOT NULL,
	[SOURCE_RULE] [varchar](500) NOT NULL,
	[TARGET_RULE] [varchar](500) NOT NULL,
	[SORT_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

