/****** Object:  Table [PROJECTS_RESOURCES_CHARTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_CHARTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_RESOURCES_CHARTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[TASK_ID] [int] NOT NULL,
	[TASK_RESOURCE_ID] [int] NOT NULL,
	[QUANTITY] [decimal](18, 3) NOT NULL DEFAULT ((0)),
	[D_DOC] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_PROJECTS_RESOURCES_CHARTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_CHARTS]') AND name = N'IX_PROJECTS_RESOURCES_CHARTS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PROJECTS_RESOURCES_CHARTS] ON [PROJECTS_RESOURCES_CHARTS]
(
	[RESOURCE_ID] ASC,
	[TASK_ID] ASC,
	[D_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_PROJECTS_RESOURCES_CHARTS2]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_CHARTS]') AND name = N'IX_PROJECTS_RESOURCES_CHARTS2')
CREATE NONCLUSTERED INDEX [IX_PROJECTS_RESOURCES_CHARTS2] ON [PROJECTS_RESOURCES_CHARTS]
(
	[PROJECT_ID] ASC,
	[RESOURCE_ID] ASC,
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
