/****** Object:  Table [PROJECTS_BUYS_SHEETS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_BUYS_SHEETS_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_BUYS_SHEETS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[IN_DOC_ID] [int] NULL,
	[IN_D_DOC] [datetime] NULL,
	[OUT_DOC_ID] [int] NULL,
	[OUT_D_DOC] [datetime] NULL,
	[QUANTITY] [float] NULL,
	[Q_BUY] [float] NULL,
	[Q_STOCK] [float] NULL,
	[Q_MFS] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_PROJECTS_BUYS_SHEETS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROJECTS_BUYS_SHEETS_DETAILS]') AND name = N'IX_PROJECTS_BUYS_SHEETS_DETAILS')
CREATE NONCLUSTERED INDEX [IX_PROJECTS_BUYS_SHEETS_DETAILS] ON [PROJECTS_BUYS_SHEETS_DETAILS]
(
	[PROJECT_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
