/****** Object:  Table [PROJECTS_TASKS_LINKS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_TASKS_LINKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_TASKS_LINKS](
	[PROJECT_ID] [int] NOT NULL,
	[LINK_ID] [int] IDENTITY(1,1) NOT NULL,
	[SOURCE_ID] [int] NULL,
	[TARGET_ID] [int] NULL,
	[TYPE_ID] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[LINK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
