/****** Object:  Table [PROJECTS_RESOURCES_AZ_TASKS_DAYS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_AZ_TASKS_DAYS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_RESOURCES_AZ_TASKS_DAYS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TREE_ID] [int] NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
	[D_DOC] [datetime] NOT NULL,
	[OUTPUT_Q] [decimal](18, 3) NULL,
	[OVERLIMIT_Q] [decimal](18, 3) NULL,
	[HAS_CHILDS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_PROJECTS_RESOURCES_AZ_TASKS_DAYS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_AZ_TASKS_DAYS]') AND name = N'IX_PROJECTS_RESOURCES_AZ_TASKS_DAYS')
CREATE NONCLUSTERED INDEX [IX_PROJECTS_RESOURCES_AZ_TASKS_DAYS] ON [PROJECTS_RESOURCES_AZ_TASKS_DAYS]
(
	[TREE_ID] ASC,
	[RESOURCE_ID] ASC,
	[D_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
