/****** Object:  Table [PROJECTS_PORTFOLIOS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_PORTFOLIOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_PORTFOLIOS](
	[PORTFOLIO_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_ID] [int] NULL DEFAULT ((1)),
	[NAME] [varchar](50) NULL,
	[NOTE] [varchar](max) NULL,
	[MOL_ID] [int] NULL,
	[D_ADD] [datetime] NULL DEFAULT (getdate()),
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[PORTFOLIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

