/****** Object:  Table [PROJECTS_REPS_BUDGETS_PAYS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_REPS_BUDGETS_PAYS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_REPS_BUDGETS_PAYS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REP_ID] [int] NULL,
	[ARTICLE_ID] [int] NULL,
	[FINDOC_ID] [int] NULL,
	[PLAN_INOUT] [int] NULL,
	[FACT_INOUT] [int] NULL,
	[FACT_BDS] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
