/****** Object:  Table [PROJECTS_RESOURCES_LIMITS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_LIMITS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_RESOURCES_LIMITS](
	[LIMIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TREE_ID] [int] NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
	[LIMIT_Q] [decimal](18, 3) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[MOL_ID] [int] NULL,
	[PRICE] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LIMIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_PROJECTS_RESOURCES_LIMITS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROJECTS_RESOURCES_LIMITS]') AND name = N'IX_PROJECTS_RESOURCES_LIMITS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PROJECTS_RESOURCES_LIMITS] ON [PROJECTS_RESOURCES_LIMITS]
(
	[TREE_ID] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
