/****** Object:  Table [PROJECTS_MOLS_SECTIONS_META]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_MOLS_SECTIONS_META]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_MOLS_SECTIONS_META](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NULL,
	[TREE_ID] [int] NULL,
	[SECTION_ID] [int] NULL,
	[A_READ] [tinyint] NOT NULL DEFAULT ((1)),
	[A_UPDATE] [tinyint] NOT NULL DEFAULT ((0)),
	[ADD_DATE] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_PROJECTS_MOLS_SECTIONS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROJECTS_MOLS_SECTIONS_META]') AND name = N'IX_PROJECTS_MOLS_SECTIONS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PROJECTS_MOLS_SECTIONS] ON [PROJECTS_MOLS_SECTIONS_META]
(
	[PROJECT_ID] ASC,
	[TREE_ID] ASC,
	[SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
