/****** Object:  Table [PROJECTS_BUYS_SHEETS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_BUYS_SHEETS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_BUYS_SHEETS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[QUANTITY] [float] NULL,
	[Q_BUY] [float] NULL,
	[Q_STOCK] [float] NULL,
	[Q_MFS] [float] NULL,
	[Q_LEFT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
