/****** Object:  Table [PROJECTS_REPS_TASKS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROJECTS_REPS_TASKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROJECTS_REPS_TASKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REP_ID] [int] NOT NULL,
	[D_TO_CURRENT] [datetime] NULL,
	[D_TO_DIFF] [int] NULL,
	[OLD_D_FROM] [datetime] NULL,
	[OLD_D_TO] [datetime] NULL,
	[PROGRESS_CURRENT] [float] NULL,
	[IS_CURRENT] [bit] NULL DEFAULT ((0)),
	[TASK_ID] [int] NOT NULL,
	[TASK_NUMBER] [int] NULL,
	[NAME] [varchar](500) NOT NULL,
	[D_FROM] [datetime] NULL,
	[D_TO] [datetime] NULL,
	[WK_D_FROM] [datetime] NULL,
	[WK_D_TO] [datetime] NULL,
	[D_FROM_FACT] [datetime] NULL,
	[D_TO_FACT] [datetime] NULL,
	[D_AFTER] [datetime] NULL,
	[D_BEFORE] [datetime] NULL,
	[PREDECESSORS] [varchar](max) NULL,
	[DURATION] [float] NULL,
	[DURATION_INPUT] [float] NULL,
	[DURATION_ID] [int] NULL,
	[DURATION_BUFFER] [int] NULL,
	[DURATION_FACT] [float] NULL,
	[PROGRESS] [float] NULL,
	[IS_NODE] [bit] NULL DEFAULT ((0)),
	[IS_CRITICAL] [bit] NOT NULL DEFAULT ((0)),
	[IS_LONG] [bit] NULL,
	[IS_OVERLONG] [bit] NULL,
	[EXECUTE_LEVEL] [int] NULL,
	[NODE] [hierarchyid] NULL,
	[PARENT_ID] [int] NULL,
	[OUTLINE_LEVEL] [int] NULL DEFAULT ((0)),
	[HAS_CHILDS] [bit] NOT NULL DEFAULT ((0)),
	[SORT_ID] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[PRIORITY_ID] [int] NULL,
	[TAGS] [varchar](max) NULL,
	[HAS_FILES] [bit] NULL,
	[COUNT_CHECKS] [int] NULL,
	[COUNT_CHECKS_ALL] [int] NULL,
	[TALK_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_PROJECTS_REPS_TASKS_PROJECTS_REPS]') AND parent_object_id = OBJECT_ID(N'[PROJECTS_REPS_TASKS]'))
ALTER TABLE [PROJECTS_REPS_TASKS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_REPS_TASKS_PROJECTS_REPS] FOREIGN KEY([REP_ID])
REFERENCES [PROJECTS_REPS] ([REP_ID])
ON DELETE CASCADE
GO
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_PROJECTS_REPS_TASKS_PROJECTS_REPS]') AND parent_object_id = OBJECT_ID(N'[PROJECTS_REPS_TASKS]'))
ALTER TABLE [PROJECTS_REPS_TASKS] CHECK CONSTRAINT [FK_PROJECTS_REPS_TASKS_PROJECTS_REPS]
GO
