/****** Object:  Table [SDOCS_MFR_CONTENTS_CANCELREASONS_SAVED]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS_CANCELREASONS_SAVED]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_CONTENTS_CANCELREASONS_SAVED](
	[PARENT_CONTENT_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[CANCEL_REASON_ID] [int] NULL,
	[CANCEL_NOTE] [varchar](100) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PARENT_CONTENT_ID] ASC,
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

