/****** Object:  Table [SDOCS_GOALS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_GOALS_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_GOALS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GOAL_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[ID_ORDER] [int] NULL,
	[D_ORDER] [datetime] NULL,
	[D_MFR] [datetime] NULL,
	[D_SHIP] [datetime] NULL,
	[STOCK_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[Q_ORDER] [decimal](18, 2) NULL,
	[V_ORDER] [decimal](18, 2) NULL,
	[Q_MFR] [decimal](18, 2) NULL,
	[Q_ISSUE] [decimal](18, 2) NULL,
	[Q_SHIP] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_SDOCS_GOALS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_GOALS_DETAILS]') AND name = N'IX_SDOCS_GOALS_DETAILS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SDOCS_GOALS_DETAILS] ON [SDOCS_GOALS_DETAILS]
(
	[GOAL_ID] ASC,
	[MOL_ID] ASC,
	[ID_ORDER] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
