/****** Object:  Table [SDOCS_STOCKS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_STOCKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_STOCKS](
	[STOCK_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](150) NULL,
	[SUBJECT_ID] [int] NULL,
	[EXT_SUBJECT_ID] [int] NULL,
	[NOTE] [varchar](max) NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

