/****** Object:  Table [SDOCS_MILESTONES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MILESTONES]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MILESTONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOC_ID] [int] NULL,
	[MILESTONE_ID] [int] NULL,
	[RATIO] [float] NULL,
	[RATIO_VALUE] [decimal](18, 2) NULL,
	[D_TO] [datetime] NULL,
	[D_TO_FACT] [datetime] NULL,
	[PROGRESS] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[DATE_LAG] [int] NULL,
 CONSTRAINT [PK_SDOCS_MILESTONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  Index [IX_SDOCS_MILESTONES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MILESTONES]') AND name = N'IX_SDOCS_MILESTONES')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SDOCS_MILESTONES] ON [SDOCS_MILESTONES]
(
	[DOC_ID] ASC,
	[MILESTONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

/****** Object:  Synonym [SUPPLY_INVOICES_MILESTONES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SUPPLY_INVOICES_MILESTONES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SUPPLY_INVOICES_MILESTONES] FOR [SDOCS_MILESTONES]
GO
