/****** Object:  Table [SDOCS_STOCKS_ADDRS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_STOCKS_ADDRS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_STOCKS_ADDRS](
	[ADDR_ID] [int] IDENTITY(1,1) NOT NULL,
	[STOCK_ID] [int] NULL,
	[NAME] [varchar](150) NULL,
	[IS_LOCKED] [bit] NOT NULL DEFAULT(0),
	[IS_DELETED] [bit] NOT NULL DEFAULT(0),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ADDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
