/****** Object:  Table [SDOCS_MFR_OPERS_RULES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_OPERS_RULES](
	[PLAN_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[PROJECT_ID] [int] NULL,
	[OPER_ID] [int] NOT NULL,
	[LAYER] [varchar](16) NOT NULL,
	[D_AFTER] [datetime] NULL,
	[D_BEFORE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OPER_ID] ASC,
	[LAYER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_SDOCS_MFR_OPERS_RULES1]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND name = N'IX_SDOCS_MFR_OPERS_RULES1')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_RULES1] ON [SDOCS_MFR_OPERS_RULES]
(
	[PLAN_ID] ASC,
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_SDOCS_MFR_OPERS_RULES2]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND name = N'IX_SDOCS_MFR_OPERS_RULES2')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_RULES2] ON [SDOCS_MFR_OPERS_RULES]
(
	[MFR_DOC_ID] ASC,
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [IX_SDOCS_MFR_OPERS_RULES3]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND name = N'IX_SDOCS_MFR_OPERS_RULES3')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_RULES3] ON [SDOCS_MFR_OPERS_RULES]
(
	[PROJECT_ID] ASC,
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
