/****** Object:  Table [SDOCS_MFR_OPERS_RESOURCES_LIMITS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RESOURCES_LIMITS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_OPERS_RESOURCES_LIMITS](
	[PLAN_ID] [int] NULL,
	[OPER_ID] [int] NOT NULL,
	[RESOURCE_ID] [int] NOT NULL,
	[RES_FROM] [datetime] NULL,
	[RES_TO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OPER_ID] ASC,
	[RESOURCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_SDOCS_MFR_OPERS_RESOURCES_LIMITS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RESOURCES_LIMITS]') AND name = N'IX_SDOCS_MFR_OPERS_RESOURCES_LIMITS')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_RESOURCES_LIMITS] ON [SDOCS_MFR_OPERS_RESOURCES_LIMITS]
(
	[PLAN_ID] ASC,
	[OPER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
