/****** Object:  Table [SDOCS_R_STOCKS_TURNS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_R_STOCKS_TURNS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_R_STOCKS_TURNS](
	[MOL_ID] [int] NULL,
	[D_FROM] [date] NULL,
	[D_TO] [date] NULL,
	[ACC_REGISTER_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[STOCK_ID] [int] NULL,
	[ADDR_ID] [int] NULL,
	[UNIT_ID] [int] NULL,
	[Q_START] [float] NULL,
	[Q_INPUT] [float] NULL,
	[Q_OUTPUT] [float] NULL,
	[Q_END] [float] NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT (getdate())
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_SDOCS_R_STOCKS_TURNS2]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_R_STOCKS_TURNS]') AND name = N'IX_SDOCS_R_STOCKS_TURNS2')
CREATE NONCLUSTERED INDEX [IX_SDOCS_R_STOCKS_TURNS2] ON [SDOCS_R_STOCKS_TURNS]
(
	[MOL_ID] ASC,
	[ACC_REGISTER_ID] ASC,
	[PRODUCT_ID] ASC,
	[STOCK_ID] ASC,
	[ADDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
