/****** Object:  Table [SDOCS_MFR_PARTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_PARTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_PARTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[PART_NUMBER] [int] NULL,
	[PART_DOC_ID] [int] NULL,
	[PART_QUANTITY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_SDOCS_MFR_PARTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_PARTS]') AND name = N'IX_SDOCS_MFR_PARTS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SDOCS_MFR_PARTS] ON [SDOCS_MFR_PARTS]
(
	[DOC_ID] ASC,
	[PRODUCT_ID] ASC,
	[PART_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
