/****** Object:  Table [SUBJECTS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SUBJECTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SUBJECTS](
	[SUBJECT_ID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[PRED_ID] [int] NULL,
	[IS_VENDOR] [bit] NULL,
	[SHORT_NAME] [varchar](20) NULL,
	[DBNAME] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

