/****** Object:  Table [SUPPLY_R_STOPLIST]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SUPPLY_R_STOPLIST]') AND type in (N'U'))
BEGIN
CREATE TABLE [SUPPLY_R_STOPLIST](
	[MFR_DOC_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_MFR_DOC]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SUPPLY_R_STOPLIST]') AND name = N'IX_MFR_DOC')
CREATE NONCLUSTERED INDEX [IX_MFR_DOC] ON [SUPPLY_R_STOPLIST]
(
	[MFR_DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
