/****** Object:  Table [SYS_PROCS_STATES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_PROCS_STATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [SYS_PROCS_STATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOL_ID] [int] NULL,
	[PROC_NAME] [sysname] NOT NULL,
	[PROC_PARAMS] [varchar](250) NULL,
	[PROGRESS_MESSAGE] [varchar](max) NULL,
	[PROGRESS] [decimal](18, 2) NULL,
	[CANCELED] [bit] NULL,
	[DATE_START] [datetime] NULL DEFAULT (getdate()),
	[DATE_END] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO
/****** Object:  Index [IX_SYS_PROCS_STATES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SYS_PROCS_STATES]') AND name = N'IX_SYS_PROCS_STATES')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SYS_PROCS_STATES] ON [SYS_PROCS_STATES]
(
	[MOL_ID] ASC,
	[PROC_NAME] ASC,
	[PROC_PARAMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
