/****** Object:  Table [TALKS_READS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TALKS_READS]') AND type in (N'U'))
BEGIN
CREATE TABLE [TALKS_READS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HIST_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[READ_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
