/****** Object:  Table [TASKS_ATTRS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TASKS_ATTRS]') AND type in (N'U'))
BEGIN
CREATE TABLE [TASKS_ATTRS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_ID] [int] NULL,
	[ATTR_NAME] [varchar](50) NULL,
	[ATTR_TYPE] [varchar](20) NULL,
	[ATTR_VALUE] [varchar](max) NULL,
	[NOTE] [varchar](max) NULL,
	[IS_REQUIRED] [bit] NULL,
	[IS_READONLY] [bit] NULL,
	[IS_HIDDEN] [bit] NULL,
	[ATTR_META] [varchar](max) NULL,
	[ATTR_ID] [int] NULL,
	[PARENT_ID] [int] NULL,
	[SORT_ID] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO
/****** Object:  Index [IX_TASKS_ATTRS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[TASKS_ATTRS]') AND name = N'IX_TASKS_ATTRS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_TASKS_ATTRS] ON [TASKS_ATTRS]
(
	[TASK_ID] ASC,
	[ATTR_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
