/****** Object:  Table [TASKS_DOCS_REFS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TASKS_DOCS_REFS]') AND type in (N'U'))
BEGIN
CREATE TABLE [TASKS_DOCS_REFS](
	[REF_ID] [int] IDENTITY(1,1) NOT NULL,
	[TASK_ID] [int] NULL,
	[HIST_ID] [int] NULL,
	[DOCUMENT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[REF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
