/****** Object:  Table [TASKS_COUNTERS_DETAILS]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TASKS_COUNTERS_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [TASKS_COUNTERS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTER_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[TASK_ID] [int] NULL,
	[IS_OVER] [int] NULL,
	[COUNTS_RISKS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
