/****** Object:  Table [TASKS_THEMES_MOLS_NODES]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TASKS_THEMES_MOLS_NODES]') AND type in (N'U'))
BEGIN
CREATE TABLE [TASKS_THEMES_MOLS_NODES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[THEME_ID] [int] NOT NULL,
	[MOL_NODE_ID] [int] NOT NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
