/****** Object:  Table [TRACE_LOG]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TRACE_LOG]') AND type in (N'U'))
BEGIN
CREATE TABLE [TRACE_LOG](
	[TRACE_ID] [int] NULL,
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRACE_NAME] [varchar](64) NULL,
	[DATE_START] [datetime] NULL DEFAULT (getdate()),
	[DATE_END] [datetime] NULL,
	[NOTE] [varchar](max) NULL,
	[ECHO] [bit] NULL,
	[IS_ALERT] [bit] NULL,
	[DATE_ALERT] [datetime] NULL,
 CONSTRAINT [PK_TRACE_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
)
END
GO

/****** Object:  Index [IX_TRACE_LOG]    Script Date: 9/18/2024 3:24:46 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[TRACE_LOG]') AND name = N'IX_TRACE_LOG')
CREATE NONCLUSTERED INDEX [IX_TRACE_LOG] ON [TRACE_LOG]
(
	[TRACE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
