
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ACCOUNTS_REGISTERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [ACCOUNTS_REGISTERS](
	[ACC_REGISTER_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_ID] [int] NOT NULL DEFAULT ((0)),
	[NAME] [varchar](100) NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACC_REGISTER_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[ACCOUNTS_REGISTERS]') AND name = N'IX_ACCOUNTS_REGISTERS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_ACCOUNTS_REGISTERS] ON [ACCOUNTS_REGISTERS]
(
	[NAME] ASC
)
GO
