
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ATTACHMENTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [ATTACHMENTS](
	[KEY] [varchar](256) NOT NULL,
	[ATTACHMENTS] [xml] NULL,
PRIMARY KEY CLUSTERED 
(
	[KEY] ASC
)
)
END
GO

