
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CLR_GANTT_TASKS_LINKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [CLR_GANTT_TASKS_LINKS](
	[GANTT_ID] [int] NULL,
	[SOURCE_ID] [int] NULL,
	[TARGET_ID] [int] NULL
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[CLR_GANTT_TASKS_LINKS]') AND name = N'IX_GANTT')
CREATE NONCLUSTERED INDEX [IX_GANTT] ON [CLR_GANTT_TASKS_LINKS]
(
	[GANTT_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CLR_GANTT_LINKS_GANTT_ID]') AND parent_object_id = OBJECT_ID(N'[CLR_GANTT_TASKS_LINKS]'))
ALTER TABLE [CLR_GANTT_TASKS_LINKS]  WITH CHECK ADD  CONSTRAINT [FK_CLR_GANTT_LINKS_GANTT_ID] FOREIGN KEY([GANTT_ID])
REFERENCES [CLR_GANTTS] ([GANTT_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CLR_GANTT_LINKS_GANTT_ID]') AND parent_object_id = OBJECT_ID(N'[CLR_GANTT_TASKS_LINKS]'))
ALTER TABLE [CLR_GANTT_TASKS_LINKS] CHECK CONSTRAINT [FK_CLR_GANTT_LINKS_GANTT_ID]
GO
