IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'MFR_WK_SHEETS_SALARY') AND type in (N'U'))
BEGIN
CREATE TABLE MFR_WK_SHEETS_SALARY(
	ID int IDENTITY PRIMARY KEY,
	WK_SHEET_ID int,
	WK_DETAIL_ID int,
	D_DOC date,
	PERIOD_FROM date,
	PERIOD_TO date,
	MOL_ID int,
	POST_ID int,
	WK_HOURS float,
	WK_SHIFT varchar(20),
	NOTE varchar(max),
	-- 
    PARENT_MOL_ID int,
	LEVEL_ID int,
	SORT_ID float,
	HAS_CHILDS bit,
    -- 
	K_INC float NULL DEFAULT (1),
	KTU float NULL DEFAULT (1),
	KTD float NULL DEFAULT (0),
	WK_COMPLETION float,
	WK_HOURS_PERIOD float,
	WK_COMPLETION_PERIOD float,
	KTD_PERIOD float NULL DEFAULT (0),
	SALARY_PERIOD decimal(18, 2),
	SALARY decimal(18, 2),
	SALARY_BASE decimal(18, 2),
	SALARY_BASE_PERIOD decimal(18, 2),
	SALARY_AWARD decimal(18, 2),
	SALARY_AWARD_PERIOD decimal(18, 2),
    -- 
    NORM_HOURS float,
    NORM_HOURS_PERIOD float,
    FACT_HOURS float,
    FACT_HOURS_PERIOD float,
    -- 
	ADD_DATE datetime DEFAULT getdate(),
	ADD_MOL_ID int
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'MFR_WK_SHEETS_SALARY') AND name = N'IX_CALC')
CREATE NONCLUSTERED INDEX IX_CALC ON MFR_WK_SHEETS_SALARY
(
	D_DOC ASC,
	MOL_ID ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'MFR_WK_SHEETS_SALARY') AND name = N'IX_JOIN')
CREATE NONCLUSTERED INDEX IX_JOIN ON MFR_WK_SHEETS_SALARY
(
	WK_SHEET_ID ASC,
	MOL_ID ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'FK_MFR_WK_SHEETS_SALARY_SHEET_ID') AND parent_object_id = OBJECT_ID(N'MFR_WK_SHEETS_SALARY'))
ALTER TABLE MFR_WK_SHEETS_SALARY  WITH CHECK ADD  CONSTRAINT FK_MFR_WK_SHEETS_SALARY_SHEET_ID FOREIGN KEY(WK_SHEET_ID)
REFERENCES MFR_WK_SHEETS (WK_SHEET_ID)
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'FK_MFR_WK_SHEETS_SALARY_SHEET_ID') AND parent_object_id = OBJECT_ID(N'MFR_WK_SHEETS_SALARY'))
ALTER TABLE MFR_WK_SHEETS_SALARY CHECK CONSTRAINT FK_MFR_WK_SHEETS_SALARY_SHEET_ID
GO
