IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'MFR_WK_SHEETS_JOBS') AND type in (N'U'))
BEGIN
CREATE TABLE MFR_WK_SHEETS_JOBS(
	WK_SHEET_ID int,
	PLAN_JOB_ID int,
	PLACE_ID int,
	MFR_NUMBER varchar(50),
	PRODUCT_ID int,
	ITEM_ID int,
	OPER_DATE datetime,
	OPER_NUMBER int,
	OPER_NAME varchar(100),
	OPER_NOTE varchar(max),
    -- 
	ID int,                 -- ссылка MFR_PLANS_JOBS_EXECUTORS.ID
	DETAIL_ID int,          -- ссылка MFR_PLANS_JOBS_DETAILS.ID
	MOL_ID int,             -- работник
	POST_ID int,            -- должность
	D_DOC date,             -- дата табеля
    WK_SHIFT varchar(10),   -- смена
	EXEC_STATUS_ID int,     -- статус исполнения
	SALARY_STATUS_ID int,   -- статус задания
    -- 
	NORM_HOURS float,       -- Тн(о)
	FACT_HOURS float,       -- Тф(о)
    PLAN_HOURS_DAY float,   -- Тп(о,тб) = Сумма Тп(о) на дату Табеля
	FACT_HOURS_DAY float,   -- Тп(о,тб) = Сумма Тп(о) на дату Табеля
    NORM_HOURS_MOL float,   -- Тн(о,р,<тб) = Сумма Тн(о,р) до даты Табеля
    FACT_HOURS_MOL float,   -- Тф(о,р,<тб) = Сумма Тф(о,р) до даты Табеля
    -- 
	PLAN_Q float,           -- Кп(о)
	FACT_Q float,           -- Кф(о)
	PLAN_DAY_Q float,       -- Кп(о,р,тб)
	FACT_DAY_Q float,       -- Кф(о,р,тб)
    -- 
	RATE_PRICE float,       -- стоимость нормочаса
	PLAN_SALARY float,      -- расчёт вознаграждения (по плановой трудоёмкости)
	FACT_SALARY float,      -- расчёт вознаграждения (по фактическрй трудоёмкости)
    -- 
	RESOURCE_ID int,        -- оборудование
	SLICE varchar(20)       -- слой (вспомогательное поле)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'MFR_WK_SHEETS_JOBS') AND name = N'IX_MFR_WK_SHEETS_JOBS')
CREATE CLUSTERED INDEX IX_MFR_WK_SHEETS_JOBS ON MFR_WK_SHEETS_JOBS(WK_SHEET_ID, MOL_ID, DETAIL_ID)
GO

DELETE X FROM MFR_WK_SHEETS_JOBS X
WHERE NOT EXISTS(SELECT 1 FROM MFR_WK_SHEETS WHERE WK_SHEET_ID = X.WK_SHEET_ID);

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'FK_MFR_WK_SHEETS_JOBS_WK_SHEET_ID') AND parent_object_id = OBJECT_ID(N'MFR_WK_SHEETS_JOBS'))
ALTER TABLE MFR_WK_SHEETS_JOBS  WITH CHECK ADD  CONSTRAINT FK_MFR_WK_SHEETS_JOBS_WK_SHEET_ID FOREIGN KEY(WK_SHEET_ID)
REFERENCES MFR_WK_SHEETS (WK_SHEET_ID)
ON DELETE CASCADE
GO
