
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPTIONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDM_OPTIONS](
	[PDM_OPTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXTERN_ID] [varchar](50) NULL,
	[PDM_ID] [int] NOT NULL,
	[GROUP_NAME] [varchar](50) NULL,
	[NAME] [varchar](255) NULL,
	[NOTE] [varchar](max) NULL,
	[IS_DEFAULT] [bit] NOT NULL DEFAULT(0),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT(0),
	[RESERVED] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PDM_OPTION_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPTIONS]') AND name = N'IX_RESERVED')
CREATE NONCLUSTERED INDEX [IX_RESERVED] ON [MFR_PDM_OPTIONS]
(
	[RESERVED] ASC
)
GO
