
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_RATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_RATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_GROUP_ID] [int] NULL,
	[D_DOC] [date] NULL,
	[LIMIT_Q] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT(0)
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLANS_RATES]') AND name = N'IX_MFR_PLANS_RATES_PRODUCT')
CREATE UNIQUE NONCLUSTERED INDEX [IX_MFR_PLANS_RATES_PRODUCT] ON [MFR_PLANS_RATES]
(
	[PRODUCT_GROUP_ID] ASC,
	[D_DOC] ASC
)
GO
