
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_FLOWS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_JOBS_FLOWS](
	[FLOW_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[FLOW_ID] ASC
)
)
END
GO

