
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_PLACES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_PLACES](
	[VERSION_ID] [int] NOT NULL DEFAULT ((0)),
	[MFR_DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[PLACE_ID] [int] NULL,
	[MFR_D_PLAN] [date] NULL,
	[D_PLAN] [date] NULL,
	[D_FACT] [date] NULL,
	[PLAN_Q] [float] NULL,
	[FACT_Q] [float] NULL,
	[D_CALC] [datetime] NULL DEFAULT (getdate()),
	[SLICE] [varchar](10) NULL
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLACES]') AND name = N'IX_SORT')
CREATE NONCLUSTERED INDEX [IX_SORT] ON [MFR_R_PLACES]
(
	[MFR_DOC_ID] ASC,
	[PLACE_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_R_PLACES_VERSION_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_R_PLACES]'))
ALTER TABLE [MFR_R_PLACES]  WITH CHECK ADD  CONSTRAINT [FK_MFR_R_PLACES_VERSION_ID] FOREIGN KEY([VERSION_ID])
REFERENCES [MFR_PLANS_VERS] ([VERSION_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_R_PLACES_VERSION_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_R_PLACES]'))
ALTER TABLE [MFR_R_PLACES] CHECK CONSTRAINT [FK_MFR_R_PLACES_VERSION_ID]
GO
