
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_QUEUES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_JOBS_QUEUES](
	[DETAIL_ID] [int] NOT NULL,
	[SUBJECT_ID] [int] NULL,
	[FLOW_ID] [int] NULL,
	[FLOW_NAME] [varchar](50) NULL,
	[PLACE_ID] [int] NULL,
	[PLACE_CODE] [varchar](50) NULL,
	[PLACE_NAME] [varchar](150) NULL,
	[JOB_NUMBER] [varchar](150) NULL,
	[PLAN_JOB_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[MFR_NUMBER] [varchar](50) NULL,
	[PRIORITY_ID] [int] NULL,
	[PRIORITY_SORT] [int] NULL,
	[PRIORITY_CSS] [varchar](50) NULL,
	[CONTENT_ID] [int] NULL,
	[PRODUCT_NAME] [varchar](255) NULL,
	[PARENT_ITEM_NAME] [varchar](255) NULL,
	[ITEM_ID] [int] NULL,
	[ITEM_TYPE_ID] [int] NULL,
	[ITEM_TYPE_NAME] [varchar](50) NULL,
	[ITEM_NAME] [varchar](255) NULL,
	[DRAFT_ID] [int] NULL,
	[DRAFT_IMG] [varchar](500) NULL,
	[OPER_ID] [int] NULL,
	[OPER_NAME] [varchar](250) NULL,
	[OPER_STATUS_ID] [int] NULL,
	[OPER_NUMBER] [int] NULL,
	[OPER_D_FROM] [date] NULL,
	[OPER_D_TO] [date] NULL,
	[OPER_D_FROM_PLAN] [date] NULL,
	[OPER_D_TO_PLAN] [date] NULL,
	[WORK_TYPE_ID] [int] NULL,
	[PLAN_Q] [float] NULL,
	[FACT_Q] [float] NULL,
	[NORM_HOURS] [float] NULL,
	[PLAN_HOURS] [float] NULL,
	[FACT_HOURS] [float] NULL,
	[QUEUE_HOURS] [float] NULL,
	[OVERLOADS_DURATION_WK] [float] NULL,
	[COUNT_EXECUTORS] [int] NULL,
	[EXECUTORS_NAMES] [varchar](max) NULL,
	[RESOURCE_ID] [int] NULL,
	[RESOURCE_NAME] [varchar](250) NULL,
	[MODERATOR_ID] [int] NULL,
	[EXECUTOR_ID] [int] NULL,
	[STATUS_ID] [int] NULL,
	[RATE_PRICE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DETAIL_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_QUEUES]') AND name = N'IX_MFR_PLANS_JOBS_QUEUES')
CREATE NONCLUSTERED INDEX [IX_MFR_PLANS_JOBS_QUEUES] ON [MFR_PLANS_JOBS_QUEUES]
(
	[MFR_DOC_ID] ASC,
	[DRAFT_ID] ASC
)
GO
SET ANSI_PADDING ON

GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_QUEUES]') AND name = N'IX_MFR_PLANS_JOBS_QUEUES2')
CREATE NONCLUSTERED INDEX [IX_MFR_PLANS_JOBS_QUEUES2] ON [MFR_PLANS_JOBS_QUEUES]
(
	[OPER_D_FROM_PLAN] ASC,
	[PRIORITY_SORT] ASC,
	[MFR_NUMBER] ASC,
	[OPER_NUMBER] ASC
)
GO
