IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'MFR_WK_SHEETS_DETAILS') AND type in (N'U'))
BEGIN

CREATE TABLE MFR_WK_SHEETS_DETAILS(
	ID int IDENTITY PRIMARY KEY,
	WK_SHEET_ID int,
	MOL_ID int,
	NAME varchar(200),
	-- 
	PARENT_ID int,
    HAS_CHILDS smallint,
	NODE hierarchyid,
	LEVEL_ID int,
	SORT_ID float,
    -- 
	WK_POST_ID int,
	WK_HOURS float,
	WK_KTU float default (1),
	WK_K_INC float,
	WK_KTD float,
	WK_RATIO float, -- коэф. участия работника в бригаде
	WK_COMPLETION float,
	WK_EXEC_ROWS int,
	WK_EXEC_ROWS_COMPLETED int,
	BRIG_EXECUTORS int,
	BRIG_WK_HOURS float,
	SALARY_SCALE float,
	SALARY_PRICE float,
	-- 
	TIME_FROM varchar(5),
	TIME_TO varchar(5),
	PLAN_HOURS float,
	FACT_HOURS float,
	QUEUE_HOURS float, -- obsolete
    -- 
    NOTE varchar(max),
	ADD_DATE datetime DEFAULT getdate(),
	ADD_MOL_ID int,
	UPDATE_DATE datetime,
	UPDATE_MOL_ID int,
	IS_DELETED smallint not null default (0)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'MFR_WK_SHEETS_DETAILS') AND name = N'IX_MFR_WK_SHEETS_DETAILS')
CREATE UNIQUE NONCLUSTERED INDEX IX_MFR_WK_SHEETS_DETAILS ON MFR_WK_SHEETS_DETAILS
(
	WK_SHEET_ID ASC,
	MOL_ID ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID') AND parent_object_id = OBJECT_ID(N'MFR_WK_SHEETS_DETAILS'))
ALTER TABLE MFR_WK_SHEETS_DETAILS  WITH CHECK ADD  CONSTRAINT FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID FOREIGN KEY(WK_SHEET_ID)
REFERENCES MFR_WK_SHEETS (WK_SHEET_ID)
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID') AND parent_object_id = OBJECT_ID(N'MFR_WK_SHEETS_DETAILS'))
ALTER TABLE MFR_WK_SHEETS_DETAILS CHECK CONSTRAINT FK_MFR_WK_SHEETS_DETAILS_WK_SHEET_ID
GO
