
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_MILESTONES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_MILESTONES](
	[MILESTONE_ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MILESTONE_ID] ASC
)
)
END
GO

