
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDM_OPERS](
	[PDM_ID] [int] NULL,
	[VARIANT_NUMBER] [int] NOT NULL DEFAULT ((1)),
	[OPER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [int] NULL,
	[OPERKEY] [varchar](20) NULL,
	[PLACE_ID] [int] NULL,
	[TYPE_ID] [int] NULL,
	[NAME] [varchar](100) NULL,
	[DURATION] [float] NULL,
	[DURATION_ID] [int] NULL,
	[DURATION_WK] [float] NULL,
	[DURATION_WK_ID] [int] NULL,
	[COUNT_WORKERS] [int] NULL,
	[COUNT_EXECUTORS] [int] NULL,
	[COUNT_RESOURCES] [int] NULL,
	[PREDECESSORS] [varchar](20) NULL,
	[IS_FIRST] [bit] NOT NULL DEFAULT ((0)),
	[IS_LAST] [bit] NOT NULL DEFAULT ((0)),
	[WORK_TYPE_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NULL,
	[RESERVED] [int] NULL,
	[PART_Q] [float] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[OPER_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS]') AND name = N'IX_MFR_PDM_OPERS')
CREATE UNIQUE CLUSTERED INDEX [IX_MFR_PDM_OPERS] ON [MFR_PDM_OPERS]
(
	[PDM_ID] ASC,
	[VARIANT_NUMBER] ASC,
	[NUMBER] ASC
)
GO
