
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_ITEMS_PRICES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_ITEMS_PRICES](
	[PRODUCT_ID] [int] NOT NULL,
	[D_LAST] [date] NULL,
	[UNIT_ID] [int] NULL,
	[PRICE_PURE] [float] NULL,
	[PRICE] [float] NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)
)
END
GO
