
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_DRAFTS_PDM]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_DRAFTS_PDM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRAFT_ID] [int] NULL,
	[PDM_ID] [int] NULL,
	[ROUTE_NUMBER] [int] NULL,
	[PDM_OPTION_ID] [int] NULL,
	[ANALOG_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO
