
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_TERMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_JOBS_TERMS](
	[TERM_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DOC] [date] NULL,
	[NUMBER] [uniqueidentifier] NULL,
	[STATUS_ID] [int] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TERM_ID] ASC
)
)
END
GO

