
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_VERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_VERS](
	[VERSION_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DOC] [date] NULL,
	[NAME] [varchar](50) NULL,
	[NOTE] [varchar](max) NULL,
	[INCLUDE_FORECAST] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[VERSION_ID] ASC
)
)
END
GO

