
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_RESOURCES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDM_OPERS_RESOURCES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PDM_ID] [int] NULL,
	[OPER_ID] [int] NULL,
	[RESOURCE_ID] [int] NULL,
	[LOADING] [float] NULL,
	[LOADING_PRICE] [float] NULL,
	[LOADING_VALUE] [decimal](18, 2) NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_RESOURCES]') AND name = N'IX_MFR_PDM_OPERS_RESOURCES')
CREATE CLUSTERED INDEX [IX_MFR_PDM_OPERS_RESOURCES] ON [MFR_PDM_OPERS_RESOURCES]
(
	[PDM_ID] ASC,
	[OPER_ID] ASC
)
GO
