
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLACES_OPERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PLACE_ID] [int] NULL,
	[NAME] [varchar](100) NULL,
	[NOTE] [varchar](max) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]') AND name = N'IX_MFR_PLACES_OPERS')
CREATE UNIQUE CLUSTERED INDEX [IX_MFR_PLACES_OPERS] ON [MFR_PLACES_OPERS]
(
	[PLACE_ID] ASC,
	[NAME] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_OPERS_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]'))
ALTER TABLE [MFR_PLACES_OPERS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_PLACES_OPERS_PLACE_ID] FOREIGN KEY([PLACE_ID])
REFERENCES [MFR_PLACES] ([PLACE_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_OPERS_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_OPERS]'))
ALTER TABLE [MFR_PLACES_OPERS] CHECK CONSTRAINT [FK_MFR_PLACES_OPERS_PLACE_ID]
GO
