
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_REPLICATIONS_PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_REPLICATIONS_PRODUCTS](
	[EXTERN_ID] [varchar](32) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[NAME] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EXTERN_ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_REPLICATIONS_PRODUCTS]') AND name = N'IX_MFR_REPLICATIONS_PRODUCTS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_MFR_REPLICATIONS_PRODUCTS] ON [MFR_REPLICATIONS_PRODUCTS]
(
	[EXTERN_ID] ASC,
	[PRODUCT_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_REPLICATIONS_PRODUCTS]') AND name = N'IX_PRODUCT')
CREATE NONCLUSTERED INDEX [IX_PRODUCT] ON [MFR_REPLICATIONS_PRODUCTS]
(
	[PRODUCT_ID] ASC
)
GO
