
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PRODUCTS_ISSUES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PRODUCTS_ISSUES](
	[PRODUCT_ISSUE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECT_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[NOTE_PRODUCT] [nvarchar](255) NULL,
	[NOTE_MISC] [nvarchar](255) NULL,
	[SERIAL_NUMBER] [varchar](100) NULL,
	[SCANCODE] [varchar](255) NULL,
	[QR_CODE] [varchar](255) NULL,
	[RFID_CODE] [varchar](255) NULL,
	[D_ISSUE] [datetime] NOT NULL,
	[MFR_NUMBER] [varchar](150) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
 CONSTRAINT [PK_MFR_PRODUCTS_ISSUES] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ISSUE_ID] ASC
)
)
END
GO

