
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_DOCS_INFOS_MATERIALS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_DOCS_INFOS_MATERIALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INFO_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[SLICE] [varchar](20) NULL,
	[ITEM_ID] [int] NULL,
	[D_TO_PLAN] [date] NULL,
	[D_TO_FACT] [date] NULL,
	[DURATION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_DOCS_INFOS_MATERIALS]') AND name = N'MFR_DOCS_INFOS_MATERIALS')
CREATE NONCLUSTERED INDEX [MFR_DOCS_INFOS_MATERIALS] ON [MFR_DOCS_INFOS_MATERIALS]
(
	[INFO_ID] ASC,
	[SLICE] ASC,
	[ITEM_ID] ASC
)
GO
