
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_RATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_PLANS_RATES](
	[VERSION_ID] [int] NOT NULL DEFAULT ((0)),
	[PRODUCT_GROUP_ID] [int] NULL,
	[D_DOC] [date] NULL,
	[MFR_DOC_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[PLAN_Q] [float] NULL,
	[ORDER_Q] [float] NULL,
	[SLICE] [varchar](20) NULL,
	[D_CALC] [datetime] NULL DEFAULT (getdate()),
	[D_ORDER] [date] NULL
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_PLANS_RATES]') AND name = N'IX_SORT')
CREATE NONCLUSTERED INDEX [IX_SORT] ON [MFR_R_PLANS_RATES]
(
	[VERSION_ID] ASC,
	[PRODUCT_GROUP_ID] ASC,
	[D_DOC] ASC,
	[MFR_DOC_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_R_PLANS_RATES_VERSION_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_R_PLANS_RATES]'))
ALTER TABLE [MFR_R_PLANS_RATES]  WITH CHECK ADD  CONSTRAINT [FK_MFR_R_PLANS_RATES_VERSION_ID] FOREIGN KEY([VERSION_ID])
REFERENCES [MFR_PLANS_VERS] ([VERSION_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_R_PLANS_RATES_VERSION_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_R_PLANS_RATES]'))
ALTER TABLE [MFR_R_PLANS_RATES] CHECK CONSTRAINT [FK_MFR_R_PLANS_RATES_VERSION_ID]
GO
