
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_MILESTONES_PF]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_MILESTONES_PF](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MFR_DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[MILESTONE_ID] [int] NULL,
	[D_PLAN] [date] NULL,
	[D_FACT] [date] NULL,
	[PLAN_Q] [float] NULL,
	[FACT_Q] [float] NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_MILESTONES_PF]') AND name = N'IX')
CREATE NONCLUSTERED INDEX [IX] ON [MFR_R_MILESTONES_PF]
(
	[MFR_DOC_ID] ASC,
	[MILESTONE_ID] ASC,
	[D_PLAN] ASC
)
GO
