
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_EXECUTORS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDM_OPERS_EXECUTORS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PDM_ID] [int] NULL,
	[OPER_ID] [int] NULL,
	[POST_ID] [int] NULL,
	[DURATION_WK] [float] NULL,
	[DURATION_WK_ID] [int] NULL,
	[RATE_PRICE] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_EXECUTORS]') AND name = N'IX_MFR_PDM_OPERS_EXECUTORS')
CREATE CLUSTERED INDEX [IX_MFR_PDM_OPERS_EXECUTORS] ON [MFR_PDM_OPERS_EXECUTORS]
(
	[PDM_ID] ASC,
	[OPER_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPERS_EXECUTORS]') AND name = N'IX_MFR_PDM_OPERS_EXECUTORS_OPER')
CREATE NONCLUSTERED INDEX [IX_MFR_PDM_OPERS_EXECUTORS_OPER] ON [MFR_PDM_OPERS_EXECUTORS]
(
	[OPER_ID] ASC
)
GO

if object_id('tg_mfr_pdm_opers_executors') is not null drop trigger tg_mfr_pdm_opers_executors
GO
create trigger tg_mfr_pdm_opers_executors on [MFR_PDM_OPERS_EXECUTORS]
for insert, update, delete as
begin
	set nocount on;
	if dbo.sys_triggers_enabled() = 0 return -- disabled

	update x
	set duration_wk = xx.duration_wk,
		duration_wk_id = 2,
		count_executors = xx.c_rows
	from mfr_pdm_opers x
		left join (
			select oper_id,
				sum(e.duration_wk * dur1.factor24 / dur2.factor24) as duration_wk,
				count(*) as c_rows
			from mfr_pdm_opers_executors e
				join projects_durations dur1 on dur1.duration_id = e.duration_wk_id
				join projects_durations dur2 on dur2.duration_id = 2
            where isnull(e.is_deleted, 0) = 0
			group by oper_id
		) xx on xx.oper_id = x.oper_id
	where x.oper_id in (
		select oper_id from inserted
		union select oper_id from deleted
		)
end
GO