
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLACES_POSTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLACES_POSTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PLACE_ID] [int] NULL,
	[POST_ID] [int] NULL,
	[QUANTITY] [float] NULL,
	[LOADING] [float] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PLACES_POSTS]') AND name = N'IX_MFR_PLACES_POST')
CREATE UNIQUE CLUSTERED INDEX [IX_MFR_PLACES_POST] ON [MFR_PLACES_POSTS]
(
	[PLACE_ID] ASC,
	[POST_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_POST_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_POSTS]'))
ALTER TABLE [MFR_PLACES_POSTS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_PLACES_POST_PLACE_ID] FOREIGN KEY([PLACE_ID])
REFERENCES [MFR_PLACES] ([PLACE_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLACES_POST_PLACE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_PLACES_POSTS]'))
ALTER TABLE [MFR_PLACES_POSTS] CHECK CONSTRAINT [FK_MFR_PLACES_POST_PLACE_ID]
GO
