
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_BALANCE]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_ITEMS_BALANCE](
	[PLACE_ID] [int] NULL,
	[PLACE_FROM_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[CONTENT_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[JOB_ID] [int] NULL,
	[D_DOC] [date] NULL,
	[QUANTITY] [float] NULL,
	[UNIT_NAME] [varchar](20) NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT (getdate())
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_BALANCE]') AND name = N'IX_GROUP')
CREATE NONCLUSTERED INDEX [IX_GROUP] ON [MFR_R_ITEMS_BALANCE]
(
	[PLACE_ID] ASC,
	[ITEM_ID] ASC
)
GO
