
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_ROUTES_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_ROUTES_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROUTE_ID] [int] NULL,
	[PLACE_ID] [int] NULL,
	[TYPE_ID] [int] NULL,
	[NAME] [varchar](150) NULL,
	[NUMBER] [int] NULL,
	[DURATION] [float] NULL,
	[DURATION_ID] [int] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[DURATION_WK] [float] NULL,
	[DURATION_WK_ID] [int] NULL,
	[PREDECESSORS] [varchar](20) NULL,
	[WORK_TYPE_ID] [int] NULL,
	[IS_FIRST] [bit] NULL,
	[IS_LAST] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_ROUTES_DETAILS]') AND name = N'IX_MFR_ROUTES_DETAILS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_MFR_ROUTES_DETAILS] ON [MFR_ROUTES_DETAILS]
(
	[ROUTE_ID] ASC,
	[NUMBER] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_ROUTES_DETAILS_ROUTE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_ROUTES_DETAILS]'))
ALTER TABLE [MFR_ROUTES_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_ROUTES_DETAILS_ROUTE_ID] FOREIGN KEY([ROUTE_ID])
REFERENCES [MFR_ROUTES] ([ROUTE_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_ROUTES_DETAILS_ROUTE_ID]') AND parent_object_id = OBJECT_ID(N'[MFR_ROUTES_DETAILS]'))
ALTER TABLE [MFR_ROUTES_DETAILS] CHECK CONSTRAINT [FK_MFR_ROUTES_DETAILS_ROUTE_ID]
GO
