
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDMS_UPLOADS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDMS_UPLOADS](
	[GROUP_ID] [uniqueidentifier] NULL,
	[UPLOAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[FILE_NAME] [varchar](1024) NULL,
	[FILE_URL] [varchar](1024) NULL,
	[DATA] [xml] NULL,
	[ERRORS] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UPLOAD_ID] ASC
)
)
END
GO

