
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_TERMS_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PLANS_JOBS_TERMS_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TERM_ID] [int] NULL,
	[BARCODE] [varchar](100) NULL,
	[JOB_ID] [int] NULL,
	[JOB_DETAIL_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[OPER_NUMBER] [int] NULL,
	[OPER_NAME] [varchar](100) NULL,
	[PLAN_Q] [float] NULL,
	[FACT_Q] [float] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLANS_JOBS_TERMS_DETAILS]') AND parent_object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_TERMS_DETAILS]'))
ALTER TABLE [MFR_PLANS_JOBS_TERMS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_MFR_PLANS_JOBS_TERMS_DETAILS] FOREIGN KEY([TERM_ID])
REFERENCES [MFR_PLANS_JOBS_TERMS] ([TERM_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_MFR_PLANS_JOBS_TERMS_DETAILS]') AND parent_object_id = OBJECT_ID(N'[MFR_PLANS_JOBS_TERMS_DETAILS]'))
ALTER TABLE [MFR_PLANS_JOBS_TERMS_DETAILS] CHECK CONSTRAINT [FK_MFR_PLANS_JOBS_TERMS_DETAILS]
GO
