
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_UNFINISHED]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_ITEMS_UNFINISHED](
	[MFR_DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[CONTENT_ID] [int] NOT NULL,
	[STATUS_ID] [int] NULL,
	[NODE_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[PLACE_ID] [int] NULL,
	[MATERIALS_V] [float] NULL,
	[FACT_HOURS] [float] NULL,
	[D_CALC] [datetime] NOT NULL DEFAULT getdate()
PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_UNFINISHED]') AND name = N'IX_JOIN1')
CREATE NONCLUSTERED INDEX [IX_JOIN1] ON [MFR_R_ITEMS_UNFINISHED]
(
	[MFR_DOC_ID] ASC,
	[ITEM_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_ITEMS_UNFINISHED]') AND name = N'IX_JOIN2')
CREATE NONCLUSTERED INDEX [IX_JOIN2] ON [MFR_R_ITEMS_UNFINISHED]
(
	[MFR_DOC_ID] ASC,
	[PRODUCT_ID] ASC,
	[NODE_ID] ASC
)
GO
