
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDM_ITEMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDM_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXTERN_ID] [varchar](50) NULL,
	[PDM_ID] [int] NOT NULL,
	[PLACE_ID] [int] NULL,
	[ITEM_TYPE_ID] [int] NULL,
	[PARENT_ID] [int] NULL,
	[HAS_CHILDS] [bit] NULL,
	[PDM_OPTION_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[NUMPOS] [varchar](50) NULL,
	[UNIT_NAME] [varchar](20) NULL,
	[Q_NETTO] [float] NULL,
	[Q_BRUTTO] [float] NULL,
	[IS_BUY] [bit] NOT NULL DEFAULT ((0)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[RESERVED] [int] NULL,
	[ITEM_VERSION] [varchar](30) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_ITEMS]') AND name = N'IX_MFR_PDM_ITEMS')
CREATE CLUSTERED INDEX [IX_MFR_PDM_ITEMS] ON [MFR_PDM_ITEMS]
(
	[PDM_ID] ASC,
	[ITEM_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDM_ITEMS]') AND name = N'IX_RESERVED')
CREATE NONCLUSTERED INDEX [IX_RESERVED] ON [MFR_PDM_ITEMS]
(
	[RESERVED] ASC
)
GO
