
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_R_SWAPS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_R_SWAPS](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[SWAP_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[DRAFT_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[QUANTITY] [float] NULL,
	[NEW_ITEM_ID] [int] NULL,
	[NEW_QUANTITY] [float] NULL,
	[D_CALC] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_R_SWAPS]') AND name = N'IX_JOIN')
CREATE NONCLUSTERED INDEX [IX_JOIN] ON [MFR_R_SWAPS]
(
	[DRAFT_ID] ASC,
	[ITEM_ID] ASC
)
GO
