
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MFR_PDMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [MFR_PDMS](
	[PDM_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXTERN_ID] [varchar](50) NULL,
	[VERSION_NUMBER] [varchar](30) NULL,
	[TYPE_ID] [int] NOT NULL DEFAULT ((0)),
	[ITEM_ID] [int] NULL,
	[STATUS_ID] [int] NULL,
	[NUMBER] [varchar](100) NULL,
	[D_DOC] [date] NULL,
	[SOURCE_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[EXECUTOR_ID] [int] NULL,
	[NOTE] [varchar](max) NULL,
	[IS_DEFAULT] [bit] NOT NULL DEFAULT ((0)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[RESERVED] [int] NULL,
	[EXEC_REGLAMENT_ID] [int] NULL,
	[ITEM_WEIGHT] [varchar](100) NULL,
	[UNIT_NAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PDM_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[MFR_PDMS]') AND name = N'IX_MFR_PDMS_ITEM')
CREATE NONCLUSTERED INDEX [IX_MFR_PDMS_ITEM] ON [MFR_PDMS]
(
	[ITEM_ID] ASC
)
GO
