
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MigrationsVersions]') AND type in (N'U'))
BEGIN
CREATE TABLE [MigrationsVersions](
	[VerId] [int] IDENTITY(1,1) NOT NULL,
	[VerName] [varchar](50) NULL,
	[VerDate] [datetime] NULL DEFAULT (getdate()),
	[VerPreview] [varchar](max) NULL,
	[VerDescription] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VerId] ASC
)
)
END
GO

