
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OBJS_ATTRS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OBJS_ATTRS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OBJ_UID] [int] NULL,
	[ATTR_ID] [int] NULL,
	[ATTR_VALUE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO
