
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OBJS_MOLS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OBJS_MOLS](
	[OBJ_TYPE] [varchar](8) NOT NULL,
	[OBJ_ID] [int] NOT NULL,
	[MOL_ID] [int] NOT NULL,
	[A_READ] [tinyint] NOT NULL CONSTRAINT [DF__OBJS_MOLS__A_REA__6A22A7C6]  DEFAULT ((1)),
	[A_UPDATE] [tinyint] NOT NULL CONSTRAINT [DF__OBJS_MOLS__A_UPD__6B16CBFF]  DEFAULT ((0)),
	[A_ACCESS] [tinyint] NOT NULL CONSTRAINT [DF__OBJS_MOLS__A_ACC__6C0AF038]  DEFAULT ((0)),
 CONSTRAINT [PK__OBJS_MOL__6C4B6815B921F24D] PRIMARY KEY CLUSTERED 
(
	[OBJ_TYPE] ASC,
	[OBJ_ID] ASC,
	[MOL_ID] ASC
)
)
END
GO

