
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OBJS_META_REFS]') AND type in (N'U'))
BEGIN
CREATE TABLE [OBJS_META_REFS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_OBJ_TYPE] [varchar](8) NULL,
	[TO_OBJ_TYPE] [varchar](30) NULL,
	[TO_OBJ_NAME] [varchar](100) NULL,
	[URL] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[OBJS_META_REFS]') AND name = N'IX_OBJS_META_REFS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_OBJS_META_REFS] ON [OBJS_META_REFS]
(
	[FROM_OBJ_TYPE] ASC,
	[TO_OBJ_TYPE] ASC
)
GO
