
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OBJS_MOLS_META]') AND type in (N'U'))
BEGIN
CREATE TABLE [OBJS_MOLS_META](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OBJ_TYPE] [varchar](8) NULL,
	[OBJ_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[MOL_NODE_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[A_READ] [tinyint] NOT NULL DEFAULT ((1)),
	[A_UPDATE] [tinyint] NOT NULL DEFAULT ((0)),
	[A_ACCESS] [tinyint] NOT NULL DEFAULT ((0)),
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

