IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[OBJS_LOGS]') AND type in (N'U'))
CREATE TABLE OBJS_LOGS
(
    ID BIGINT IDENTITY PRIMARY KEY,
    OBJ_TYPE VARCHAR(8),
    OBJ_ID INT,
    [ACTION] VARCHAR(50),
    [DATA] TEXT,
    USER_ID INT,
    ADD_DATE DATETIME DEFAULT (GETDATE()),
)
GO
