
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRODUCTS_UNITS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PRODUCTS_UNITS](
	[UNIT_ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
	[main_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIT_ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PRODUCTS_UNITS]') AND name = N'IX_PRODUCTS_UNITS_NAME')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PRODUCTS_UNITS_NAME] ON [PRODUCTS_UNITS]
(
	[NAME] ASC
)
GO
