
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRODUCTS_MAPS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PRODUCTS_MAPS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SLICE] [varchar](32) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PRODUCTS_MAPS]') AND name = N'IX_PRODUCTS_MAPS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PRODUCTS_MAPS] ON [PRODUCTS_MAPS]
(
	[SLICE] ASC,
	[NAME] ASC
)
GO
