
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAIN_ID] [int] NULL,
	[NAME] [varchar](255) NOT NULL,
	[NAME_PRINT] [nvarchar](max) NULL,
	[STATUS_ID] [int] NOT NULL DEFAULT ((0)),
	[MOL_ID] [int] NULL,
	[ADMIN_ID] [int] NULL,
	[NOTE] [varchar](max) NULL,
	[TAGS] [varchar](max) NULL,
	[GROUP1_ID] [int] NULL,
	[GROUP2_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[EXTERN_ID] [varchar](32) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[TYPE_ID] [int] NOT NULL DEFAULT ((0)),
	[CLASS_ID] [int] NULL,
	[PARENT_ID] [int] NULL,
	[UNIT_ID] [int] NULL,
	[ARTICLE_NUMBER] [varchar](50) NULL,
	[INNER_NUMBER] [varchar](50) NULL,
	[PLAN_GROUP_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PRODUCTS]') AND name = N'IX_PRODUCTS_NAME')
CREATE UNIQUE NONCLUSTERED INDEX [IX_PRODUCTS_NAME] ON [PRODUCTS]
(
	[NAME] ASC
)
GO
