
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[REGLAMENT_HIST]') AND type in (N'U'))
BEGIN
CREATE TABLE [REGLAMENT_HIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KEY] [varchar](256) NULL,
	[MOL_ID] [int] NULL,
	[ACTION] [varchar](512) NULL,
	[TEXT] [varchar](512) NULL,
	[NOTE] [varchar](max) NULL,
	[TAG] [xml] NULL,
	[D_DOC] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

