
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DRAFTS_DOCS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_DRAFTS_DOCS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRAFT_ID] [int] NOT NULL,
	[NUMBER] [varchar](100) NULL,
	[NAME] [varchar](255) NULL,
	[NOTE] [varchar](max) NULL,
	[URL] [varchar](1024) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_DRAFTS_DOCS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_DRAFTS_DOCS] FOR [SDOCS_MFR_DRAFTS_DOCS]
GO

