IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'SDOCS') AND type in (N'U'))
BEGIN
CREATE TABLE SDOCS(
	DOC_ID int IDENTITY(1,1) PRIMARY KEY CLUSTERED,
    EXTERN_ID varchar(100),
    SOURCE_ID int,
    ACC_REGISTER_ID int,
	TYPE_ID int,
	STATUS_ID int,
	SUBJECT_ID int,
    PRIORITY_ID int NOT NULL DEFAULT ((500)),
	PRIORITY_FINAL int,
	PRIORITY_SORT varchar(30),

	D_DOC datetime,
	D_SHIP date,
	D_DELIVERY datetime,
    D_DELIVERY_PLAN datetime,
	D_ISSUE datetime,
	D_ISSUE_PLAN datetime,
	D_ISSUE_CALC datetime,
	D_ISSUE_FORECAST datetime,
	D_CALC_CONTENTS datetime,
	D_CALC_LINKS datetime,
	D_CALC_JOBS datetime,
	D_CALC_JOBS_BUYS datetime,
    D_DOC_EXT date,

	NUMBER varchar(50),
	DEAL_ID int,
	DEAL_NUMBER varchar(50),
	AGENT_ID int,
	AGENT_DOGOVOR varchar(50),
	DOGOVOR_NUMBER varchar(50),
	DOGOVOR_DATE date,
	SPEC_NUMBER varchar(50),
	SPEC_DATE date,
    PRINCIPAL_DOGOVOR_ID int,
	
	PLAN_ID int,
    PLACE_ID int,
	PLACE_TO_ID int,
    STOCK_ID int,
	BUDGET_ID int,
	PROJECT_ID int,
	PROJECT_TASK_ID int,
    TALK_ID int,
	
    MOL_ID int,
	MOL_TO_ID int,
    EXECUTOR_ID int,

	PAY_CONDITIONS varchar(100),
	CCY_ID char(3) DEFAULT ('RUR'),
	CCY_RATE float DEFAULT ((1)),
	VALUE_CCY decimal(18, 2),
	VALUE_RUR decimal(18, 2),

	NOTE varchar(max),
	REFKEY varchar(100),
	CONTENT varchar(max),
	
    TEMPLATE_ID int,
	TEMPLATE_NAME varchar(50),
	TEMPLATE_NOTE varchar(max),

	D_SYNC_CHILDS datetime,
    SYNC_DIRTY bit,
	
	PARENT_ID int,
    PART_PARENT_ID int,
	PART_HAS_CHILDS bit,

	INVOICE_ID int,
	HAS_INVOICE int DEFAULT ((1)),
	CONSIGNEE_ID int,

	EXT_TYPE_ID int,
	EXT_PROBABILITY_ID int,
	EXT_STATUS_ID int,
	
	REPLICATE_DATE datetime,

    ADD_MOL_ID int,
	ADD_DATE datetime DEFAULT getdate(),
	UPDATE_DATE datetime,
	UPDATE_MOL_ID int,
 )
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SDOCS') AND name = N'IX_EXTERN')
CREATE NONCLUSTERED INDEX IX_EXTERN ON SDOCS
(
	EXTERN_ID
)
GO
SET ANSI_PADDING ON

GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SDOCS') AND name = N'IX_SDOCS_NUMBER')
CREATE NONCLUSTERED INDEX IX_SDOCS_NUMBER ON SDOCS
(
	NUMBER
)
GO
SET ANSI_PADDING ON

GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SDOCS') AND name = N'IX_SDOCS_PRIORITY_SORT')
CREATE NONCLUSTERED INDEX IX_SDOCS_PRIORITY_SORT ON SDOCS
(
	PRIORITY_SORT
)
GO
SET ANSI_PADDING ON

GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SDOCS') AND name = N'IX_SDOCS_REFKEY')
CREATE NONCLUSTERED INDEX IX_SDOCS_REFKEY ON SDOCS
(
	REFKEY,
	TYPE_ID
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SDOCS') AND name = N'IX_SDOCS_STATUS')
CREATE NONCLUSTERED INDEX IX_SDOCS_STATUS ON SDOCS
(
	STATUS_ID
)
INCLUDE (DOC_ID) 
GO

IF not EXISTS (SELECT * FROM sys.fulltext_indexes WHERE object_id = OBJECT_ID(N'SDOCS'))
CREATE FULLTEXT INDEX ON SDOCS([CONTENT] LANGUAGE 'English')
KEY INDEX PK_SDOCSON ([CATALOG], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = SYSTEM)
GO

if object_id('tiu_sdocs_content') is not null drop trigger tiu_sdocs_content
GO
create trigger tiu_sdocs_content on SDOCS
for insert, update as
begin
	
	if dbo.sys_triggers_enabled() = 0 return -- disabled

	set nocount on;

	if update(type_id)
		update sdocs
		set refkey = 
				case
					when type_id = 5 then concat('/mfrs/docs/', doc_id)
				end
		where doc_id in (select doc_id from inserted)

	update x
	set content = concat(
			x.number, '#'
			, ag.name, '#'
			, mols.name, '#'
			, abs(x.value_ccy), '#'
			, x.note
			)
	from sdocs x
		left join agents ag on ag.agent_id = x.agent_id
		left join mols on mols.mol_id = x.mol_id
	where doc_id in (
		select doc_id from inserted union select doc_id from deleted
		)
end
GO

if object_id('tiu_sdocs_mfr_number') is not null drop trigger tiu_sdocs_mfr_number
GO
create trigger tiu_sdocs_mfr_number on SDOCS
for insert, update as
begin

	set nocount on;
	if dbo.sys_triggers_enabled() = 0 return -- disabled

	if update(number)
		and	exists(
				select 1
				from sdocs
				where type_id = 5
					and number is not null
					and number in (select distinct number from inserted where number is not null)
					and number not in ('120504-094РЛ') -- исключение, поскольку с этим документом экспериментировал Васильев Дмитрий
				group by number
				having count(*) > 1
			)
	begin
		raiserror('Номера производственных заказов должны быть уникальны.', 16, 1)
		rollback
	end

end
GO

if object_id('tiu_sdocs_objs') is not null drop trigger tiu_sdocs_objs
GO
create trigger tiu_sdocs_objs on SDOCS
for insert, update as
begin

	set nocount on;

	if update(plan_id)
		update x set plan_id = mfr.plan_id
		from sdocs_mfr_contents x
			join inserted mfr on mfr.doc_id = x.mfr_doc_id
		where x.plan_id != mfr.plan_id

	if update(priority_id) or update(d_ship) or update(status_id)
	begin
		declare @priority_id int
		update sdocs
		set @priority_id = case when status_id = 100 then -1 else priority_id end,
			priority_final = @priority_id,
			priority_sort = concat(
				case when @priority_id = -1 then '*' else right(concat('00000', @priority_id), 5) end,
				':',
				left(convert(varchar, d_ship, 20), 10)
			)
		where doc_id in (select doc_id from inserted)
	end

	if not exists(
		select 1 from objs o
			join inserted i on o.owner_type = 'mfr' and i.doc_id = o.owner_id
		)
		insert into objs(owner_type, owner_id, owner_name)
		select 'mfr', doc_id, concat('Производственный заказ №', number)
		from inserted
		where type_id = 5
	
	else 
		update o set owner_name = concat('Производственный заказ №', number)
		from objs o
			join inserted i on o.owner_type = 'mfr' and i.doc_id = o.owner_id

	if dbo.sys_triggers_enabled() = 0 return -- disabled

	if update(project_task_id)
		update x
		set refkey = concat('/mfrs/docs/', i.doc_id)
		from projects_tasks x
			join inserted i on i.project_task_id = x.task_id

	if update(parent_id)
	begin
		-- Всё множество связанных документов с мастером и сам мастер-документ
		-- автоматически отключаются от репликации

		declare @parents as app_pkids
			insert into @parents 
			select doc_id from sdocs where doc_id in (
				select parent_id from inserted where parent_id is not null
				union select doc_id from deleted where parent_id is not null
				)

		update x set
			source_id = 
				case
					when exists(select 1 from sdocs where parent_id = x.doc_id)
						or parent_id is not null
							then 1 -- КИСП (т.е. отключаем от репликации)
					else
						2 -- Внешний источник
				end			
		from sdocs x
		where doc_id in (
			select id from @parents
			union select doc_id from sdocs where parent_id in (select id from @parents)
			)
	end

end
GO
