
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MILESTONES]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MILESTONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOC_ID] [int] NULL,
	[MILESTONE_ID] [int] NULL,
	[RATIO] [float] NULL,
	[RATIO_VALUE] [decimal](18, 2) NULL,
	[D_TO] [datetime] NULL,
	[D_TO_FACT] [datetime] NULL,
	[PROGRESS] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[DATE_LAG] [int] NULL,
 CONSTRAINT [PK_SDOCS_MILESTONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MILESTONES]') AND name = N'IX_SDOCS_MILESTONES')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SDOCS_MILESTONES] ON [SDOCS_MILESTONES]
(
	[DOC_ID] ASC,
	[MILESTONE_ID] ASC
)
GO


IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SUPPLY_INVOICES_MILESTONES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SUPPLY_INVOICES_MILESTONES] FOR [SDOCS_MILESTONES]
GO
