IF OBJECT_ID('SDOCS_R_STOCKS_TURNS_RESULTS') IS NOT NULL DROP TABLE SDOCS_R_STOCKS_TURNS_RESULTS
GO

CREATE TABLE SDOCS_R_STOCKS_TURNS_RESULTS(
	MOL_ID INT,
	PRODUCT_ID INT,
	UNIT_ID INT,
	Q_START FLOAT,
	Q_INPUT FLOAT,
	Q_OUTPUT FLOAT,
	Q_END FLOAT,
	D_CALC DATETIME NOT NULL DEFAULT (GETDATE())
)
GO

IF NOT EXISTS (SELECT * FROM SYS.INDEXES WHERE OBJECT_ID = OBJECT_ID(N'SDOCS_R_STOCKS_TURNS_RESULTS') AND NAME = N'IX_SDOCS_R_STOCKS_TURNS_RESULTS')
CREATE NONCLUSTERED INDEX IX_SDOCS_R_STOCKS_TURNS_RESULTS ON SDOCS_R_STOCKS_TURNS_RESULTS
(
	MOL_ID,
	PRODUCT_ID
)
GO
