
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_OPERS_RULES](
	[PLAN_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[PROJECT_ID] [int] NULL,
	[OPER_ID] [int] NOT NULL,
	[LAYER] [varchar](16) NOT NULL,
	[D_AFTER] [datetime] NULL,
	[D_BEFORE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OPER_ID] ASC,
	[LAYER] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND name = N'IX_SDOCS_MFR_OPERS_RULES1')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_RULES1] ON [SDOCS_MFR_OPERS_RULES]
(
	[PLAN_ID] ASC,
	[OPER_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND name = N'IX_SDOCS_MFR_OPERS_RULES2')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_RULES2] ON [SDOCS_MFR_OPERS_RULES]
(
	[MFR_DOC_ID] ASC,
	[OPER_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_RULES]') AND name = N'IX_SDOCS_MFR_OPERS_RULES3')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_RULES3] ON [SDOCS_MFR_OPERS_RULES]
(
	[PROJECT_ID] ASC,
	[OPER_ID] ASC
)
GO
