
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MFR_DOC_ID] [int] NULL,
	[STATUS_ID] [int] NULL,
	[ITEM_TOV_ID] [int] NULL,
	[ITEM_STATUS_ID] [int] NULL,
	[IS_MADE] [bit] NULL,
	[UNIT_ID] [int] NULL,
	[QUANTITY] [float] NULL,
	[D_FROM] [datetime] NULL,
	[D_TO] [datetime] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DETAILS]') AND name = N'IX_SDOCS_MFR_DETAILS')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_DETAILS] ON [SDOCS_MFR_DETAILS]
(
	[MFR_DOC_ID] ASC,
	[ITEM_TOV_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_SDOCS_MFR_DETAILS_MFR_DOC_ID]') AND parent_object_id = OBJECT_ID(N'[SDOCS_MFR_DETAILS]'))
ALTER TABLE [SDOCS_MFR_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SDOCS_MFR_DETAILS_MFR_DOC_ID] FOREIGN KEY([MFR_DOC_ID])
REFERENCES [SDOCS] ([DOC_ID])
ON DELETE CASCADE
GO

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_SDOCS_MFR_DETAILS_MFR_DOC_ID]') AND parent_object_id = OBJECT_ID(N'[SDOCS_MFR_DETAILS]'))
ALTER TABLE [SDOCS_MFR_DETAILS] CHECK CONSTRAINT [FK_SDOCS_MFR_DETAILS_MFR_DOC_ID]
GO
