IF OBJECT_ID('SDOCS_R_STOCKS_TURNS') IS NOT NULL DROP TABLE SDOCS_R_STOCKS_TURNS
GO

CREATE TABLE SDOCS_R_STOCKS_TURNS(
	MOL_ID INT,
	ACC_REGISTER_ID INT,
	PRINCIPAL_DOGOVOR_ID INT,
	PRODUCT_ID INT,
	STOCK_ID INT,
	ADDR_ID INT,
    TURN_TYPE_ID INT,
    DOC_ID INT,
    D_DOC DATE,
    NUMBER VARCHAR(100),
	UNIT_ID INT,
	Q_START FLOAT,
	Q_INPUT FLOAT,
	Q_OUTPUT FLOAT,
	Q_END FLOAT,
	D_CALC DATETIME NOT NULL DEFAULT (GETDATE())
)
GO

IF NOT EXISTS (SELECT * FROM SYS.INDEXES WHERE OBJECT_ID = OBJECT_ID(N'SDOCS_R_STOCKS_TURNS') AND NAME = N'IX_SDOCS_R_STOCKS_TURNS1')
CREATE NONCLUSTERED INDEX IX_SDOCS_R_STOCKS_TURNS2 ON SDOCS_R_STOCKS_TURNS
(
	MOL_ID,
	ACC_REGISTER_ID,
	PRINCIPAL_DOGOVOR_ID,
	PRODUCT_ID,
	STOCK_ID,
	ADDR_ID
)
GO

IF NOT EXISTS (SELECT * FROM SYS.INDEXES WHERE OBJECT_ID = OBJECT_ID(N'SDOCS_R_STOCKS_TURNS') AND NAME = N'IX_SDOCS_R_STOCKS_TURNS2')
CREATE NONCLUSTERED INDEX IX_SDOCS_R_STOCKS_TURNS2 ON SDOCS_R_STOCKS_TURNS
(
	MOL_ID,
	PRODUCT_ID,
    TURN_TYPE_ID,
    D_DOC
)
GO
