
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_LINKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_OPERS_LINKS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MFR_DOC_ID] [int] NULL,
	[CONTENT_ID] [int] NULL,
	[SOURCE_ID] [int] NOT NULL,
	[TARGET_ID] [int] NOT NULL,
	[IS_INPUT] [bit] NULL
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_LINKS]') AND name = N'IX_SDOCS_MFR_OPERS_LINKS')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_LINKS] ON [SDOCS_MFR_OPERS_LINKS]
(
	[MFR_DOC_ID] ASC,
	[CONTENT_ID] ASC
)
GO
