
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_GOALS_SUMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_GOALS_SUMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GOAL_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[GROUP_ID] [varchar](32) NULL,
	[ID_ORDER] [int] NULL,
	[D_ORDER] [datetime] NULL,
	[D_MFR] [datetime] NULL,
	[D_SHIP] [datetime] NULL,
	[Q_ORDER] [decimal](18, 2) NULL,
	[V_ORDER] [decimal](18, 2) NULL,
	[Q_MFR] [decimal](18, 2) NULL,
	[Q_ISSUE] [decimal](18, 2) NULL,
	[Q_SHIP] [decimal](18, 2) NULL,
	[NAME] [varchar](250) NULL,
	[PARENT_ID] [int] NULL,
	[NODE_ID] [int] NULL,
	[HAS_CHILDS] [bit] NULL,
	[NODE] [hierarchyid] NULL,
	[LEVEL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_GOALS_SUMS]') AND name = N'IX_NODE')
CREATE NONCLUSTERED INDEX [IX_NODE] ON [SDOCS_GOALS_SUMS]
(
	[NODE] ASC
)
GO
