
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_CACHE]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_CACHE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOL_ID] [int] NOT NULL,
	[DOC_ID] [int] NOT NULL,
	[D_ADD] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MOL_ID] ASC,
	[DOC_ID] ASC
)
)
END
GO
