
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_STOCKS_PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_STOCKS_PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STOCK_ID] [int] NULL,
	[ADDR_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_STOCKS_PRODUCTS]') AND name = N'IX_SDOCS_STOCKS_PRODUCTS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SDOCS_STOCKS_PRODUCTS] ON [SDOCS_STOCKS_PRODUCTS]
(
	[ADDR_ID] ASC,
	[PRODUCT_ID] ASC
)
GO
