
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_STOCKS_MOLS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_STOCKS_MOLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STOCK_ID] [int] NULL,
	[MOL_ID] [int] NULL,
	[IS_KEEPER] [bit] NULL,
	[IS_DISPATCH] [bit] NULL,
	[IS_MANAGER] [bit] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_STOCKS_MOLS]') AND name = N'IX_SDOCS_STOCKS_MOLS')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SDOCS_STOCKS_MOLS] ON [SDOCS_STOCKS_MOLS]
(
	[STOCK_ID] ASC,
	[MOL_ID] ASC
)
GO
