IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DRAFTS_OPERS_RESOURCES]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_DRAFTS_OPERS_RESOURCES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DRAFT_ID] [int] NULL,
	[OPER_ID] [int] NULL,
	[RESOURCE_ID] [int] NULL,
	[EQUIPMENT_ID] [int] NULL,
	[LOADING] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NULL,
	[LOADING_PRICE] [float] NULL,
	[LOADING_VALUE] [decimal](18, 2) NULL,
    CONSTRAINT [PK_SDOCS_MFR_DRAFTS_OPERS_RESOURCES] PRIMARY KEY NONCLUSTERED 
    (
        [ID] ASC
    )
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DRAFTS_OPERS_RESOURCES]') AND name = N'IX_SDOCS_MFR_DRAFTS_OPERS_RESOURCES')
CREATE CLUSTERED INDEX [IX_SDOCS_MFR_DRAFTS_OPERS_RESOURCES] ON [SDOCS_MFR_DRAFTS_OPERS_RESOURCES]
(
	[DRAFT_ID] ASC,
	[OPER_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DRAFTS_OPERS_RESOURCES]') AND name = N'IX_SDOCS_MFR_DRAFTS_OPERS_RESOURCES_OPER')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_DRAFTS_OPERS_RESOURCES_OPER] ON [SDOCS_MFR_DRAFTS_OPERS_RESOURCES]
(
	[OPER_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DRAFTS_OPERS_RESOURCES]') AND name = N'IX_SDOCS_MFR_DRAFTS_OPERS_RESOURCES_RESOURCE_ID')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_DRAFTS_OPERS_RESOURCES_RESOURCE_ID] ON [SDOCS_MFR_DRAFTS_OPERS_RESOURCES]
(
	[RESOURCE_ID] ASC
)
INCLUDE ( 	[OPER_ID],
	[LOADING_VALUE]) 
GO

IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_DRAFTS_OPERS_RESOURCES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_DRAFTS_OPERS_RESOURCES] FOR [SDOCS_MFR_DRAFTS_OPERS_RESOURCES]
GO

IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[tg_sdocs_mfr_drafts_opers_resources]'))
EXEC sp_executesql @statement = N'create trigger [tg_sdocs_mfr_drafts_opers_resources] on [SDOCS_MFR_DRAFTS_OPERS_RESOURCES]
for insert, update, delete as
begin

	set nocount on;
	if dbo.sys_triggers_enabled() = 0 return -- disabled

	update x
	set count_resources = xx.c_rows
	from sdocs_mfr_drafts_opers x
		left join (
			select oper_id, count(*) as c_rows
			from sdocs_mfr_drafts_opers_resources
			group by oper_id
		) xx on xx.oper_id = x.oper_id
	where x.oper_id in (
		select oper_id from inserted
		union select oper_id from deleted
		)
end' 
GO
