IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DRAFTS_ITEMS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_DRAFTS_ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DRAFT_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[ITEM_TYPE_ID] [int] NULL,
	[IS_BUY] [bit] NULL,
	[UNIT_NAME] [varchar](20) NULL,
	[Q_NETTO] [float] NULL,
	[Q_BRUTTO] [float] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[NUMBERS] [varchar](max) NULL,
	[PLACE_ID] [int] NULL,
	[IS_SWAP] [bit] NULL,
	[ITEM_VERSION] [varchar](30) NULL,
    CONSTRAINT [PK_SDOCS_MFR_DRAFTS_ITEMS] PRIMARY KEY NONCLUSTERED 
    (
        [ID] ASC
    )
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_DRAFTS_ITEMS]') AND name = N'IX_SDOCS_MFR_DRAFTS_ITEMS')
CREATE CLUSTERED INDEX [IX_SDOCS_MFR_DRAFTS_ITEMS] ON [SDOCS_MFR_DRAFTS_ITEMS]
(
	[DRAFT_ID] ASC,
	[ITEM_ID] ASC,
	[PLACE_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_DRAFTS_ITEMS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_DRAFTS_ITEMS] FOR [SDOCS_MFR_DRAFTS_ITEMS]
GO
