
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_LINKS_EXTRA]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_OPERS_LINKS_EXTRA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MFR_DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[SOURCE_CONTENT_ID] [int] NULL,
	[SOURCE_OPER_NUMBER] [int] NULL,
	[TARGET_CONTENT_ID] [int] NULL,
	[TARGET_OPER_NUMBER] [int] NULL,
	[EXCLUDE] [bit] NOT NULL DEFAULT ((0)),
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[IS_DELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_OPERS_LINKS_EXTRA]') AND name = N'IX_SDOCS_MFR_OPERS_LINKS_EXTRA')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_OPERS_LINKS_EXTRA] ON [SDOCS_MFR_OPERS_LINKS_EXTRA]
(
	[MFR_DOC_ID] ASC,
	[SOURCE_CONTENT_ID] ASC,
	[TARGET_CONTENT_ID] ASC
)
GO
