
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_GOALS_MOLS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_GOALS_MOLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GOAL_ID] [int] NOT NULL,
	[MOL_ID] [int] NOT NULL,
	[D_FROM] [datetime] NULL,
	[D_TO] [datetime] NULL,
	[STOCK_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO
