
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_MFR_CONTENTS](
	[CONTENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXTERN_ID] [varchar](64) NULL,
	[PLAN_ID] [int] NULL,
	[MFR_DOC_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[ITEM_TYPE_ID] [int] NULL,
	[STATUS_ID] [int] NOT NULL DEFAULT ((0)),
	[IS_BUY] [bit] NULL,
	[IS_HIDDEN] [bit] NOT NULL DEFAULT ((0)),
	[UNIT_NAME] [varchar](20) NULL,
	[Q_NETTO] [float] NULL,
	[Q_BRUTTO] [float] NULL,
	[Q_BRUTTO_PRODUCT] [float] NULL,
	[W_NETTO] [float] NULL,
	[W_BRUTTO] [float] NULL,
	[ITEM_PRICE0] [decimal](18, 2) NULL,
	[ITEM_VALUE0] [decimal](18, 2) NULL,
	[ITEM_VALUE0_PART] [decimal](18, 2) NULL,
	[OPERS_COUNT] [int] NULL,
	[OPERS_FROM] [datetime] NULL,
	[OPERS_TO] [datetime] NULL,
	[OPERS_DAYS] [float] NULL,
	[NOTE] [varchar](max) NULL,
	[PARENT_ID] [int] NULL,
	[CHILD_ID] [int] NULL,
	[NAME] [varchar](500) NULL,
	[NODE] [hierarchyid] NULL,
	[HAS_CHILDS] [bit] NULL,
	[LEVEL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[SORT_ID] [float] NULL,
	[WNC_ID] [varchar](500) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
	[ADD_MOL_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_MOL_ID] [int] NULL,
	[D_AFTER] [datetime] NULL,
	[D_BEFORE] [datetime] NULL,
	[DURATION_BUFFER] [int] NULL,
	[OPERS_FROM_PREDICT] [datetime] NULL,
	[OPERS_TO_PREDICT] [datetime] NULL,
	[DURATION_BUFFER_PREDICT] [int] NULL,
	[DRAFT_ID] [int] NULL,
	[OPERS_TO_FACT] [datetime] NULL,
	[OPERS_WK_HOURS] [float] NULL,
	[IS_MANUAL_PROGRESS] [bit] NULL,
	[TALK_ID] [int] NULL,
	[D_DOC] [datetime] NULL,
	[SUPPLIER_ID] [int] NULL,
	[MANAGER_ID] [int] NULL,
	[WORK_TYPE_1] [bit] NULL,
	[WORK_TYPE_2] [bit] NULL,
	[WORK_TYPE_3] [bit] NULL,
	[OPERS_FROM_PLAN] [datetime] NULL,
	[OPERS_TO_PLAN] [datetime] NULL,
	[LAST_TASK_ID] [int] NULL,
	[OPERS_FACT_Q] [float] NULL,
	[IS_MILESTONE] [bit] NULL,
	[PLACE_ID] [int] NULL,
	[Q_PROVIDED] [float] NULL,
	[Q_PROVIDED_MAX] [float] NULL,
	[IS_SWAP] [bit] NULL,
	[CANCEL_REASON_ID] [int] NULL,
	[CANCEL_NOTE] [varchar](100) NULL,
	[Q_NETTO_PRODUCT] [float] NULL,
	[OPERS_FROM_PLOPER] [date] NULL,
	[OPERS_TO_PLOPER] [date] NULL,
	[DURATION_BUFFER_PLOPER] [int] NULL,
	[SWAPPED_ITEM_ID] [int] NULL,
	[SWAP_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS_IS_BUY')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS_IS_BUY] ON [SDOCS_MFR_CONTENTS]
(
	[IS_BUY] ASC
)
INCLUDE ( 	[CONTENT_ID],
	[IS_MANUAL_PROGRESS]) 
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS_IS_BUY2')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS_IS_BUY2] ON [SDOCS_MFR_CONTENTS]
(
	[IS_BUY] ASC
)
INCLUDE ( 	[MFR_DOC_ID],
	[PRODUCT_ID],
	[NODE],
	[ITEM_PRICE0],
	[Q_BRUTTO_PRODUCT],
	[Q_PROVIDED_MAX]) 
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS_NAME')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS_NAME] ON [SDOCS_MFR_CONTENTS]
(
	[NAME] ASC
)
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS1')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS1] ON [SDOCS_MFR_CONTENTS]
(
	[EXTERN_ID] ASC
)
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS2')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS2] ON [SDOCS_MFR_CONTENTS]
(
	[MFR_DOC_ID] ASC,
	[PRODUCT_ID] ASC,
	[ITEM_ID] ASC
)
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS3')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS3] ON [SDOCS_MFR_CONTENTS]
(
	[MFR_DOC_ID] ASC,
	[CHILD_ID] ASC
)
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS4')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS4] ON [SDOCS_MFR_CONTENTS]
(
	[MFR_DOC_ID] ASC,
	[PARENT_ID] ASC
)
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS5')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS5] ON [SDOCS_MFR_CONTENTS]
(
	[MFR_DOC_ID] ASC,
	[PRODUCT_ID] ASC,
	[NODE] ASC
)
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_MFR_CONTENTS]') AND name = N'IX_SDOCS_MFR_CONTENTS6')
CREATE NONCLUSTERED INDEX [IX_SDOCS_MFR_CONTENTS6] ON [SDOCS_MFR_CONTENTS]
(
	[MFR_DOC_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID('SDOCS_MFR_CONTENTS') AND name = 'IX_SDOCS_MFR_CONTENTS7')
CREATE NONCLUSTERED INDEX IX_SDOCS_MFR_CONTENTS7 ON SDOCS_MFR_CONTENTS
(
	MFR_DOC_ID,
	PRODUCT_ID,
	EXTERN_ID
)
GO


IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[tu_sdocs_mfr_contents]'))
EXEC sp_executesql @statement = N'create trigger [tu_sdocs_mfr_contents] on [SDOCS_MFR_CONTENTS]
for update as
begin

	set nocount on;
	if dbo.sys_triggers_enabled() = 0 return -- disabled

	if update(is_deleted)
		update x
		set status_id = case when x.is_deleted = 1 then -1 else 0 end
		from sdocs_mfr_contents x
			join inserted i on i.content_id = x.content_id

	if update(status_id)
		update x
		set is_deleted = case when x.status_id = -1 then 1 else 0 end
		from sdocs_mfr_contents x
			join inserted i on i.content_id = x.content_id

	if update(d_after) or update(d_before)
		update x
		set d_after = i.d_after,
			d_before = i.d_before
		from sdocs_mfr_opers x
			join inserted i on i.content_id = x.content_id
end
' 
GO
