
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SDOCS_BY_DEPTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SDOCS_BY_DEPTS](
	[DOC_ID] [int] NOT NULL,
	[NAME] [varchar](250) NULL,
	[PARENT_ID] [int] NULL,
	[HAS_CHILDS] [bit] NULL DEFAULT ((0)),
	[NODE] [hierarchyid] NULL,
	[LEVEL_ID] [int] NULL,
	[IS_DELETED] [bit] NOT NULL DEFAULT ((0)),
	[SORT_ID] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SDOCS_BY_DEPTS]') AND name = N'IX_NODE')
CREATE NONCLUSTERED INDEX [IX_NODE] ON [SDOCS_BY_DEPTS]
(
	[NODE] ASC
)
GO
