
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SUPPLY_R_STOPLIST]') AND type in (N'U'))
BEGIN
CREATE TABLE [SUPPLY_R_STOPLIST](
	[MFR_DOC_ID] [int] NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SUPPLY_R_STOPLIST]') AND name = N'IX_MFR_DOC')
CREATE NONCLUSTERED INDEX [IX_MFR_DOC] ON [SUPPLY_R_STOPLIST]
(
	[MFR_DOC_ID] ASC
)
GO
