IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'SUPPLY_R_INVPAYS') AND type in (N'U'))
BEGIN
-- DROP TABLE SUPPLY_R_INVPAYS
CREATE TABLE SUPPLY_R_INVPAYS(
	ROW_ID INT IDENTITY PRIMARY KEY,
	ACC_REGISTER_ID INT NULL,
	PLAN_ID INT NULL,
	MFR_DOC_ID INT NOT NULL,
	PRODUCT_ID INT NULL,
	ITEM_ID INT NOT NULL,
	INV_ID INT NULL,
	INV_CONDITION VARCHAR(20) NULL,
	INV_CONDITION_PAY VARCHAR(20) NULL,
	INV_CONDITION_FUND VARCHAR(20) NULL,
	INV_DATE DATE NULL,
	INV_D_PLAN DATE NULL,
	INV_D_CONDITION DATE NULL,
	INV_MILESTONE_ID INT NULL,
	INV_MS_D_PLAN DATE NULL,
	INV_MS_D_FACT DATE NULL,
	INV_D_MFR DATE NULL,
	INV_D_MFR_TO DATE NULL,
	INV_VALUE FLOAT NULL,
	INV_FUND_VALUE FLOAT NULL,
	INV_Q FLOAT NULL,
	INV_Q_SHIP FLOAT NULL,
	PAYORDER_ID INT NULL,
	PAYORDER_DATE DATE NULL,
	PAYORDER_VALUE FLOAT NULL,
	FINDOC_ID INT NULL,
	FINDOC_DATE DATE NULL,
	FINDOC_VALUE FLOAT NULL,
	SLICE VARCHAR(16) NULL,
	NOTE VARCHAR(50) NULL,
	D_CALC DATETIME NULL DEFAULT GETDATE()
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SUPPLY_R_INVPAYS') AND name = N'IX_SUPPLY_R_INVPAYS1')
CREATE NONCLUSTERED INDEX IX_SUPPLY_R_INVPAYS1 ON SUPPLY_R_INVPAYS
(
	MFR_DOC_ID
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SUPPLY_R_INVPAYS') AND name = N'IX_SUPPLY_R_INVPAYS2')
CREATE NONCLUSTERED INDEX IX_SUPPLY_R_INVPAYS2 ON SUPPLY_R_INVPAYS
(
	MFR_DOC_ID,
	ITEM_ID
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SUPPLY_R_INVPAYS') AND name = N'IX_SUPPLY_R_INVPAYS3')
CREATE NONCLUSTERED INDEX IX_SUPPLY_R_INVPAYS3 ON SUPPLY_R_INVPAYS
(
	INV_ID
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SUPPLY_R_INVPAYS') AND name = N'IX_SUPPLY_R_INVPAYS4')
CREATE NONCLUSTERED INDEX IX_SUPPLY_R_INVPAYS4 ON SUPPLY_R_INVPAYS
(
	INV_ID,
	INV_MILESTONE_ID
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SUPPLY_R_INVPAYS') AND name = N'IX_SUPPLY_R_INVPAYS5')
CREATE NONCLUSTERED INDEX IX_SUPPLY_R_INVPAYS5 ON SUPPLY_R_INVPAYS
(
	PLAN_ID,
	INV_ID,
	MFR_DOC_ID,
	ITEM_ID
)
GO
