
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SUPPLY_PAYS]') AND type in (N'U'))
BEGIN
CREATE TABLE [SUPPLY_PAYS](
	[EXTERN_ID] [varchar](50) NULL,
	[SUBJECT_ID] [int] NULL,
	[PAY_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_DOC] [datetime] NULL,
	[NUMBER] [varchar](50) NULL,
	[SPEC_DATE] [datetime] NULL,
	[SPEC_NUMBER] [varchar](50) NULL,
	[AGENT_NAME] [varchar](150) NULL,
	[PAY_TYPE] [varchar](30) NULL,
	[PAY_PERCENTAGE] [float] NULL,
	[MFR_DOC_ID] [int] NULL,
	[ITEM_ID] [int] NULL,
	[UNIT_NAME] [varchar](20) NULL,
	[QUANTITY] [float] NULL,
	[VALUE_RUR] [decimal](18, 2) NULL,
	[ADD_DATE] [datetime] DEFAULT getdate(),
PRIMARY KEY CLUSTERED 
(
	[PAY_ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SUPPLY_PAYS]') AND name = N'IX_SUPPLY_PAYS1')
CREATE NONCLUSTERED INDEX [IX_SUPPLY_PAYS1] ON [SUPPLY_PAYS]
(
	[EXTERN_ID] ASC
)
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SUPPLY_PAYS]') AND name = N'IX_SUPPLY_PAYS2')
CREATE NONCLUSTERED INDEX [IX_SUPPLY_PAYS2] ON [SUPPLY_PAYS]
(
	[MFR_DOC_ID] ASC
)
GO
