IF OBJECT_ID('SUPPLY_R_INVPAYS_TOTALS') IS NOT NULL DROP TABLE SUPPLY_R_INVPAYS_TOTALS
-- DROP TABLE SUPPLY_R_INVPAYS_TOTALS
CREATE TABLE SUPPLY_R_INVPAYS_TOTALS(
	ROW_ID INT PRIMARY KEY,
	--
    ACC_REGISTER_ID INT,
    INV_ID INT,
    INV_MILESTONE_ID INT, -- Веха счёта
    MFR_DOC_ID INT NOT NULL,
    PRODUCT_ID INT,
	ITEM_ID INT NOT NULL,
    --    
    INV_DATE DATE, -- Дата счёта
    INV_CONDITION VARCHAR(20),
    INV_CONDITION_PAY VARCHAR(20),
    INV_CONDITION_FUND VARCHAR(20),
    INV_D_MFR DATE, -- Дата контрактации
    INV_D_MFR_TO DATE, -- Дата выдачи в производство
    INV_D_PLAN DATE, -- Дата оплаты (план)
    INV_MS_D_PLAN DATE, -- Дата по счёта (план)
    INV_Q FLOAT,
    INV_Q_SHIP FLOAT,
    --
    INV_VALUE FLOAT, -- сумма счёта
	FINDOC_VALUE FLOAT, -- оплачено
	PAYORDER_VALUE FLOAT, -- сумма заявок на оплату
    INV_FUND_VALUE FLOAT, -- финансировано
    --
    D_CALC DATETIME DEFAULT GETDATE(),
    --
    INDEX IX_SUPPLY_R_INVPAYS_TOTALS (INV_ID, INV_MILESTONE_ID, MFR_DOC_ID, ITEM_ID)
)
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'SUPPLY_R_INVPAYS_TOTALS') AND name = N'IX_SUPPLY_R_INVPAYS_TOTALS')
CREATE NONCLUSTERED INDEX IX_SUPPLY_R_INVPAYS_TOTALS ON SUPPLY_R_INVPAYS_TOTALS
(
	INV_ID,
	INV_MILESTONE_ID,
	MFR_DOC_ID,
	ITEM_ID
)
GO
