
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_DICTIONARY]') AND type in (N'U'))
BEGIN
CREATE TABLE [SYS_DICTIONARY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SLICE] [varchar](20) NOT NULL DEFAULT ('default'),
	[TERM] [varchar](50) NULL,
	[TRANSLATE] [varchar](50) NULL,
	[NOTE] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

