
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SYS_PROCS_STATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [SYS_PROCS_STATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOL_ID] [int] NULL,
	[PROC_NAME] [sysname] NOT NULL,
	[PROC_PARAMS] [varchar](250) NULL,
	[PROGRESS_MESSAGE] [varchar](max) NULL,
	[PROGRESS] [decimal](18, 2) NULL,
	[CANCELED] [bit] NULL,
	[DATE_START] [datetime] NULL DEFAULT (getdate()),
	[DATE_END] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[SYS_PROCS_STATES]') AND name = N'IX_SYS_PROCS_STATES')
CREATE UNIQUE NONCLUSTERED INDEX [IX_SYS_PROCS_STATES] ON [SYS_PROCS_STATES]
(
	[MOL_ID] ASC,
	[PROC_NAME] ASC,
	[PROC_PARAMS] ASC
)
GO
