
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TRACE_LOG]') AND type in (N'U'))
BEGIN
CREATE TABLE [TRACE_LOG](
	[TRACE_ID] [int] NULL,
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRACE_NAME] [varchar](64) NULL,
	[DATE_START] [datetime] NULL DEFAULT (getdate()),
	[DATE_END] [datetime] NULL,
	[NOTE] [varchar](max) NULL,
	[ECHO] [bit] NULL,
	[IS_ALERT] [bit] NULL,
	[DATE_ALERT] [datetime] NULL,
 CONSTRAINT [PK_TRACE_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)
)
END
GO


IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[TRACE_LOG]') AND name = N'IX_TRACE_LOG')
CREATE NONCLUSTERED INDEX [IX_TRACE_LOG] ON [TRACE_LOG]
(
	[TRACE_ID] ASC
)
GO
