if object_id('app_registry_value') is not null drop function app_registry_value
go
create function app_registry_value(@registry_id varchar(64))
returns sql_variant as
begin
    declare @return sql_variant;

    set @return = (
        select top 1 
            isnull(cast(val_number as sql_variant), cast(val_date as sql_variant))
		from app_registry where dbname = db_name() and registry_id = @registry_id
        );

    if @return is null begin
        set @return = (
            select top 1 
                isnull(cast(val_number as sql_variant), cast(val_date as sql_variant))
            from app_registry where dbname = '-' and registry_id = @registry_id
            );
    end;

	return @return;
end
GO
