/****** Object:  Synonym [ACCOUNTS_LEVELS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'ACCOUNTS_LEVELS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [ACCOUNTS_LEVELS] FOR [CISP_SHARED].[DBO].[ACCOUNTS_LEVELS]
GO
