/****** Object:  Synonym [AGENTS_CATEGORIES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'AGENTS_CATEGORIES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [AGENTS_CATEGORIES] FOR [CISP_SHARED].[DBO].[AGENTS_CATEGORIES]
GO
