/****** Object:  Synonym [APP_DATABASES_SUBJECTS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'APP_DATABASES_SUBJECTS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [APP_DATABASES_SUBJECTS] FOR [CISP_SHARED].[DBO].[APP_DATABASES_SUBJECTS]
GO
