/****** Object:  Synonym [BDR_PERIODS_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'BDR_PERIODS_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [BDR_PERIODS_TYPES] FOR [CISP_SHARED].[DBO].[BDR_PERIODS_TYPES]
GO
