/****** Object:  Synonym [CCY_RATES_CROSS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'CCY_RATES_CROSS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [CCY_RATES_CROSS] FOR [CISP_SHARED].[DBO].[CCY_RATES_CROSS]
GO
