/****** Object:  Synonym [DEALS_CREDITS_MOVES_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'DEALS_CREDITS_MOVES_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [DEALS_CREDITS_MOVES_TYPES] FOR [CISP_SHARED].[DBO].[DEALS_CREDITS_MOVES_TYPES]
GO
