/****** Object:  Synonym [DEALS_DOCS_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'DEALS_DOCS_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [DEALS_DOCS_TYPES] FOR [CISP_SHARED].[DBO].[DEALS_DOCS_TYPES]
GO
