/****** Object:  Synonym [DOCUMENTS_DICT_RESPONSIBLES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'DOCUMENTS_DICT_RESPONSIBLES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [DOCUMENTS_DICT_RESPONSIBLES] FOR [CISP_SHARED].[DBO].[DOCUMENTS_DICT_RESPONSIBLES]
GO
