/****** Object:  Synonym [DOCUMENTS_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'DOCUMENTS_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [DOCUMENTS_TYPES] FOR [CISP_SHARED].[DBO].[DOCUMENTS_TYPES]
GO
