/****** Object:  Synonym [EVENTS_FEEDS_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'EVENTS_FEEDS_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [EVENTS_FEEDS_TYPES] FOR [CISP_SHARED].[DBO].[EVENTS_FEEDS_TYPES]
GO
