/****** Object:  Synonym [MFR_PDM_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_PDM_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_PDM_STATUSES] FOR [CISP_SHARED].[DBO].[MFR_PDM_STATUSES]
GO
