/****** Object:  Synonym [MFR_ITEMS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_ITEMS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_ITEMS_STATUSES] FOR [CISP_SHARED].[DBO].[MFR_ITEMS_STATUSES]
GO
