/****** Object:  Synonym [MFR_PDMS_REGLAMENTS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_PDMS_REGLAMENTS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_PDMS_REGLAMENTS] FOR [CISP_SHARED].[DBO].[MFR_PDMS_REGLAMENTS]
GO
