/****** Object:  Synonym [MFR_SDOCS_MILESTONES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_SDOCS_MILESTONES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_SDOCS_MILESTONES] FOR [SDOCS_MFR_MILESTONES]
GO
