/****** Object:  Synonym [MFR_EQUIPMENTS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_EQUIPMENTS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_EQUIPMENTS_STATUSES] FOR [CISP_SHARED].[DBO].[MFR_EQUIPMENTS_STATUSES]
GO
