/****** Object:  Synonym [MFR_EXT_PROBABILITIES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'MFR_EXT_PROBABILITIES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [MFR_EXT_PROBABILITIES] FOR [CISP_SHARED].[DBO].[MFR_EXT_PROBABILITIES]
GO
