/****** Object:  Synonym [OBJS_FOLDERS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'OBJS_FOLDERS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [OBJS_FOLDERS_STATUSES] FOR [CISP_SHARED].[DBO].[OBJS_FOLDERS_STATUSES]
GO
