/****** Object:  Synonym [PAYORDERS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PAYORDERS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PAYORDERS_STATUSES] FOR [CISP_SHARED].[DBO].[PAYORDERS_STATUSES]
GO
