/****** Object:  Synonym [PAYORDERS_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PAYORDERS_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PAYORDERS_TYPES] FOR [CISP_SHARED].[DBO].[PAYORDERS_TYPES]
GO
