/****** Object:  Synonym [PERIODICITY]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PERIODICITY' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PERIODICITY] FOR [CISP_SHARED].[DBO].[PERIODICITY]
GO
