/****** Object:  Synonym [PLAN_PAYS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PLAN_PAYS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PLAN_PAYS_STATUSES] FOR [CISP_SHARED].[DBO].[PLAN_PAYS_STATUSES]
GO
