/****** Object:  Synonym [PLAN_PAYS_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PLAN_PAYS_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PLAN_PAYS_TYPES] FOR [CISP_SHARED].[DBO].[PLAN_PAYS_TYPES]
GO
