/****** Object:  Synonym [PLISTS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PLISTS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PLISTS_STATUSES] FOR [CISP_SHARED].[DBO].[PLISTS_STATUSES]
GO
