/****** Object:  Synonym [PROJECTS_DURATIONS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_DURATIONS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_DURATIONS] FOR [CISP_SHARED].[DBO].[PROJECTS_DURATIONS]
GO
