/****** Object:  Synonym [PROJECTS_TAGS_TYPES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_TAGS_TYPES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_TAGS_TYPES] FOR [CISP_SHARED].[DBO].[PROJECTS_TAGS_TYPES]
GO
