/****** Object:  Synonym [PROJECTS_RESOURCES_DISTRIBUTIONS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RESOURCES_DISTRIBUTIONS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RESOURCES_DISTRIBUTIONS] FOR [CISP_SHARED].[DBO].[PROJECTS_RESOURCES_DISTRIBUTIONS]
GO
