/****** Object:  Synonym [PROJECTS_RISKS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RISKS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RISKS_STATUSES] FOR [CISP_SHARED].[DBO].[PROJECTS_RISKS_STATUSES]
GO
