/****** Object:  Synonym [PROJECTS_SECTIONS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_SECTIONS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_SECTIONS] FOR [CISP_SHARED].[DBO].[PROJECTS_SECTIONS]
GO
