/****** Object:  Synonym [PROJECTS_RESULTS_CATEGORIES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_RESULTS_CATEGORIES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_RESULTS_CATEGORIES] FOR [CISP_SHARED].[DBO].[PROJECTS_RESULTS_CATEGORIES]
GO
