/****** Object:  Synonym [PROJECTS_GROUPS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PROJECTS_GROUPS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [PROJECTS_GROUPS] FOR [CISP_SHARED].[DBO].[PROJECTS_GROUPS]
GO
