/****** Object:  Synonym [SDOCS_PROVIDES_GROUPS]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SDOCS_PROVIDES_GROUPS' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SDOCS_PROVIDES_GROUPS] FOR [CISP_SHARED].[DBO].[SDOCS_PROVIDES_GROUPS]
GO
