/****** Object:  Synonym [SDOCS_GOALS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SDOCS_GOALS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SDOCS_GOALS_STATUSES] FOR [CISP_SHARED].[DBO].[SDOCS_GOALS_STATUSES]
GO
