/****** Object:  Synonym [SDOCS_MFR_DRAFTS_STATUSES]    Script Date: 9/18/2024 3:28:00 PM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'SDOCS_MFR_DRAFTS_STATUSES' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [SDOCS_MFR_DRAFTS_STATUSES] FOR [CISP_SHARED].[DBO].[SDOCS_MFR_DRAFTS_STATUSES]
GO
