IF NOT EXISTS(SELECT 1 FROM SYS.ASSEMBLIES WHERE NAME = 'Messages')
CREATE ASSEMBLY [Messages]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010400FD1302530000000000000000E00002210B010B000044000000080000000000001E63000000200000008000000000001000200000000200000400000000000000040000000000000000E000000004000000000000020040850000100000100000000010000010000000000000100000000000000000000000C46200005700000000A00000A80200000000000000000000000000000000000000C000000C000000008000001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000024430000002000000044000000040000000000000000000000000000200000602E7364617461000038010000008000000002000000480000000000000000000000000000400000C02E72737263000000A802000000A0000000040000004A0000000000000000000000000000400000402E72656C6F6300000C00000000C0000000020000004E000000000000000000000000000040000042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000630000000000004800000002000500C02C00000436000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001E02280100000A2A1E02280400000A2AA6730600000A8001000004730700000A8002000004730800000A8003000004730900000A80040000042A0000133001000B000000010000117E010000046F0A00000A2A00133001000B000000020000117E020000046F0B00000A2A00133001000B000000030000117E030000046F0C00000A2A00133001000B000000040000117E040000046F0D00000A2A0013300200180000000500001102027B05000004280100002B7D05000004027B050000042A13300200180000000600001102027B06000004280200002B7D06000004027B060000042A13300200180000000700001102027B07000004280300002B7D07000004027B070000042A9603027B0500000433012A032C0B7201000070731100000A7A02027C050000046F0400002B2A00009603027B0600000433012A032C0B7201000070731100000A7A02027C060000046F0500002B2A00009603027B0700000433012A032C0B7201000070731100000A7A02027C070000046F0600002B2A0000133002000D000000080000110203281200000A281300000A2A00000013300100070000000900001102281400000A2A00133001000B0000000A000011D005000002281500000A2A0013300100070000000B00001102281600000A2A0013300100100000000C000011028C0100001B2D06280700002B2A022A13300200100000000D000011031200FE150200001B06810200001B2A1E02281800000A2A13300200280000000E000011027B1A00000A6F1B00000A0B078C0300001B2D12280800002B0B027B1A00000A076F1C00000A072A4A02281800000A02731D00000A7D1A00000A2A004A02281F00000A0272490000706F2000000A2A0013300500210000000F0000110272BF000070198D030000010A061603A2061704A2061805A2066F2100000A262A0000001E02281800000A2A133001000700000010000011027B0A0000042A002202037D0A0000042A000000133001000700000011000011027B0B0000042A002202037D0B0000042A000000133001000700000012000011027B0C0000042A002202037D0C0000042A000000133001000700000013000011027B0D0000042A002202037D0D0000042A000000133001000700000014000011027B0E0000042A002202037D0E0000042A000000133001000700000015000011027B0F0000042A002202037D0F0000042A000000133001000700000016000011027B100000042A002202037D100000042A000000133001000700000017000011027B110000042A002202037D110000042A0000001E02281800000A2A133001000700000018000011027B120000042A002202037D120000042A000000133001000700000019000011027B130000042A002202037D130000042A00000013300100070000001A000011027B140000042A002202037D140000042A00000013300100070000001B000011027B150000042A002202037D150000042A0000001E02281800000A2A13300100070000001C000011027B160000042A002202037D160000042A00000013300100070000001D000011027B170000042A002202037D170000042A00000013300100070000001E000011027B180000042A002202037D180000042A0000001E02281800000A2A13300100070000001F000011027B190000042A002202037D190000042A000000133001000700000020000011027B1A0000042A002202037D1A0000042A000000133001000700000021000011027B1B0000042A002202037D1B0000042A000000133001000700000022000011027B1C0000042A002202037D1C0000042A000000133001000700000023000011027B1D0000042A002202037D1D0000042A0000001E02281800000A2A13300500230000002400001173590000060A06156F2B00000A0672D70000706F2000000A06020304056F5A0000062A0013300500230000002500001173590000060A06156F2B00000A0672570100706F2000000A06020304056F5A0000062A0036020304050E041428490000062A000013300600410000002600001173590000060A0E05282C00000A2C0772D1010070100506156F2B00000A0672ED0100700E05282D00000A6F2000000A06020304056F2E00000A0E046F5B0000062A0000001B3004005A03000027000011026F2F00000A2C012A733000000A0A026F3100000A0C06086F3200000A73170000060D0672590200706F3300000A6F3400000A131238FB02000011126F3500000A7426000001130473190000060B1104726D0200706F3600000A2C17071104726D0200706F3600000A6F3700000A6F230000061104727D0200706F3600000A2C2C732A000006130E110E110472870200706F3600000A6F3800000A283900000A6F2C00000607110E6F1D000006733A00000A130D110472A10200706F3300000A6F3400000A13132B7011136F3500000A7426000001130F732A000006130B110B110F6F3B00000A72A70200706F3C00000A6F3D00000A283900000A6F2C000006110F6F3B00000A72B50200706F3C00000A2C1D110B110F6F3B00000A72B50200706F3C00000A6F3D00000A6F30000006110D110B6F3E00000A11136F3F00000A2D87DE161113752F0000012C0C1113752F0000016F4000000ADC110D6F4100000A16310D07110D6F4200000A6F1F000006733A00000A1307110472BF0200706F3300000A6F3400000A13142B7011146F3500000A74260000011310732A0000061306110611106F3B00000A72A70200706F3C00000A6F3D00000A283900000A6F2C00000611106F3B00000A72B50200706F3C00000A2C1D110611106F3B00000A72B50200706F3C00000A6F3D00000A6F30000006110711066F3E00000A11146F3F00000A2D87DE161114752F0000012C0C1114752F0000016F4000000ADC11076F4100000A16310D0711076F4200000A6F21000006110472C90200706F3600000A2C1707110472C90200706F3600000A6F4300000A6F2500000672D3020070130C110472130300706F3600000A2C13110472130300706F3600000A6F3700000A130C161305110472250300706F3600000A2C03171305161308110472310300706F3600000A2C031713087E4400000A13091104723D0300706F3600000A2C131104723D0300706F3600000A6F3700000A13097245030070130A110472BB0300706F3600000A2C13110472BB0300706F3600000A6F3700000A130A09110A6F2000000A09110907110C6F18000006DE2625284500000A131111116F4600000A72CB03007011046F4300000A284700000A734800000A7A11126F3F00000A3AF9FCFFFFDE161112752F0000012C0C1112752F0000016F4000000ADC2A00004164000002000000B4000000900000004401000016000000000000000200000078010000900000000802000016000000000000000000000048000000C70200000F0300002600000028000001020000002300000020030000430300001600000000000000133003001A00000028000011734D0000060A0672D10300706F4F0000060602036F520000062A0000133002001900000029000011734D0000060A0672D10300706F4F00000606026F550000062A000000DE02281F00000A0272D10300706F4F00000602026F4E0000066F580000062C1002176F5100000602167D1E0000042B0702177D1E0000042A13300100070000002A00001102284B00000A2A00BA0202284B00000A6F580000062C18027B1E0000042D1002036F580000062D070216284C00000A0203282000000A2A0013300100070000002B00001102284D00000A2A003E0203284C00000A02177D1E0000042A13300500220000002C000011027258040070188D030000010A0616038C32000001A2061704A2066F2100000A262A000013300500290000002D000011027258040070188D030000010B0716038C32000001A2071704A207050E04281200000A6F4E00000A2A0000002602036F4F00000A262A0000133005001E0000002E000011027262040070178D030000010A0616038C08000001A2066F2100000A262A000013300500240000002F000011027262040070178D030000010B0716038C08000001A2070405281200000A6F4E00000A2A2602036F4F00000A262A0000133003003900000030000011032C08037E4400000A3302162A03735000000A0B076F5100000A20000400003216076F5200000A72760400701B285300000A163302172A162A0000004A02281F00000A0272D70000706F2000000A2A001330050026000000310000110272620400701A8D030000010A061603A2061704A2061805A206190E04A2066F2100000A262A0000133005002B0000003200001102728A0400701B8D030000010A061603A2061704A2061805A206190E04A2061A0E05A2066F2100000A262A0042534A4201000100000000000C00000076322E302E35303732370000000005006C00000094110000237E000000120000980F000023537472696E67730000000098210000A4040000235553003C2600001000000023475549440000004C260000B80F000023426C6F6200000000000000020000015715A209090E000000FA25330016000001000000380000000E000000200000005B0000004C000000560000005C00000032000000080000001E000000370000000A000000010000000600000002000000030000000800000000008B0F0100000000000A004E0124010A0082016401060092018B010A00EA01240106001F038B010A00A10377030E00F803DA0306004B048B011200BE07A90706009F088B010600AC088B010600690958091600E109CB091600FA09CB091600270A0F0A0600510A3E0A0A00900A690A0A00A80A13001600DD0AC00A0600F20A8B010600240B040B0600420B8B010600660B8B010A007F0B13000600B90B9A0B0E00CD0BDA030E00E60BC6031600010CCB0906001B0C3E0A0E00380CDA031A00780C5F0C06008C0C8B011A00A20C5F0C1A00B80C5F0C0600D50C8B011A00F10C540C1A00FD0C540C1A00070D540C06002D0D120D0600340D8B010600510D3E0D1A007A0D540C1A00820D540C0A00D30D690A1A00E90D540C1A000F0E540C0600340E8B010A006D0E690A1200C90EAE0E0600DF0E8B011600FB0E8B010600110F8B0106002A0F3E0AD7003E0F000006004D0F040B06006D0F040B000000000100000000000100010000000000290037000500010001000000000043003700090001000200000110004E0037000D000100030005010000580000000D000500080005010000660000000D00080015000100000081008D001D0009001700012000009F008D000D000A00190001200000A7008D000D0012002A0001200000AF008D000D001600330001200000BE008D000D0019003A0001000000C900DA000D001E00450001000000E300F7001D001E004D00010000001301DA001D001F0059003100AD0120003100D6012D003100F8013A0031001D02470006009002720006009E0276000600B4027A002100B003CC0001000F04D90001005404E40001005E04E80001006804EC0001007004EC0001007A04F10001008704F10001009104F4000100A104F9000100AA0560010100B605F1000100C005F1000100CA05F10001003406F10001004406F10001005406F1000100DB0660010100B605F1000100E806F1000100F20660010100CA056C0101000F04D90001007C09E10101009809E10150200000000006185E011300010058200000000006185E011300010060200000000011189901170001008C20000000001308A0011B000100A420000000001308C60128000100BC20000000001308EF0135000100D4200000000013080D0242000100EC20000000000608530263000100102100000000060863026800010034210000000006087B026D0001005821000000000608C7027E0001008021000000000608DD0284000200A821000000000608F5028A000300D0210000000046020A0390000400EC21000000004602130395000500002200000000830024039900050018220000000046022C039E0005002C220000000011003503A500050048220000000001005303AD00060064220000000006185E01130007006C220000000003086703C7000700A0220000000006185E0113000700B4220000000006185E0113000700C8220000000006003204DC000700F8220000000006185E0113000A000023000000000608B604FE000A001423000000000608BF0403010A002023000000000608CE0409010B003423000000000608D7040E010B004023000000000608E00414010C005423000000000608E7041A010C006023000000000608EE0414010D007423000000000608F7041A010D00802300000000060800059E000E0094230000000006080C0521010E00A02300000000060818059E000F00B423000000000608210521010F00C0230000000006082A0526011000D42300000000060839052C011000E023000000000608480533011100F4230000000006085C053901110000240000000006185E01130012000824000000000608D505950012001C24000000000608E005630112002824000000000608EB059E0013003C24000000000608F405210113004824000000000608FD059E0014005C2400000000060806062101140068240000000006080F069E0015007C2400000000060819062101150088240000000006185E0113001600902400000000060863069E001600A424000000000608720621011600B02400000000060881069E001700C424000000000608900621011700D0240000000006089F069E001800E424000000000608AD0621011800F0240000000006185E0113001900F824000000000608FC06950019000C250000000006080807630119001825000000000608EB059E001A002C25000000000608F40521011A00382500000000060814079E001B004C250000000006081D0721011B005825000000000608260795001C006C250000000006082F0763011C0078250000000006080F0670011D008C25000000000608190675011D0098250000000006185E0113001E00A0250000000016004A0780011E00D0250000000016008807800122000026000000001600C507880126001026000000001600E40792012B00602600000000160032049D0131002C2A0000000016000708A3013200542A0000000016002A08A90134007C2A0000000006185E0113003500B42A0000000006084B089E003500C82A000000000608530821013500F82A0000000006085B08AF0136000C2B0000000006087508B30136001C2B0000000006008F08B80137004C2B000000000600BA08BE013900842B000000000600D808C8013D00902B000000000600EC0803013E00BC2B0000000006000209CE013F00EC2B0000000006001109C8014200F82B0000000001001E09D8014300402C0000000006185E0113004400542C000000000600EC08E5014400882C000000000600BE09ED01480000000100D70200000100D70200000100D702000001001103000001004A03000001004A03000001003E04000002009F0000000300420400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C80400000100C804000001005907000002006507000003007307000004007E07000001005907000002006507000003007307000004007E0700000100590700000200D10700000300730700000400DA07000005007E0700000100590700000200D10700000300730700000400DA07000005007E0700000600F40700000100FF07000001001A0800000200230800000100420800000100D70200000100D702000001001A08000002009408000001001A0800000200940800000300C40800000400CD0800000100E00800000100F60800000100F60800000200C40800000300CD0800000100E008000001003A0900000100590700000200650700000300B709000004007E0700000100590700000200D10700000300B70900000400DA07000005007E0709005E01130069005E01F60179005E01050211005E01130081005E01130024005E0113002C005E01130034005E0113003C005E01130024006703C7002C006703C70034006703C7003C006703C70089005E01130091005E01130099005E012101A1005E012101A900330BBC0219000A0390001900130395002900540BC90219002C039E00B900700BD90219005E011300C1005E01E5014400B003CC004C000F06C7004C0019065E034C005E011300C9005E01B30139005E011300D100530821013900DF0B7303D9005E011300E1005E012101E9005E011300F1005E012101F9005E01130001015E011300F9005E01210109015E01130011015E011300D100C90C63011901DC0C47061901EA0C4C0649000F069E0049005D0DAF0121015E0113004900680D52062101750D580651018E0D5F0659019A0D66064901A80D6C065101B40D70065101C50D9E0051010F069E006101DF0D770654005E0113003101000E840669011C0E8A0671010F069E005400270E5E0349012B0EAF017901400E13005400480E95005400520E910651015A0E9E001901670EF1008101790E97064101890E9E001901950E9E0641015E01210181019C0E170089015E011300D1004B089E00D1007508B301D1005B08AF013900E50EA9073900F10EBB0799015E0121019901FF0E95009901080F9E001901220FC207A9015E01800FB9015E016301C1015E0113002900830058022E00A302870F2E00AB02900F2E00B302990F40001300FC0140002B00230243001B000B0243001300FC01490083007D0263001B000B0263001300FC0169008300910280002B00230283001B000B0283007B002302830073002302890083006902A0002B002302A300CB00E902A3001300FC01C0002B002302C3001300FC01C300F3006D03E0002B002302E3001B00C603E30013018003E30023012302E3001B01BC0303011B01BC0303012301230203011B00CF0504013301930523011B01BC0323011B00CF0523012301230243012301230243011B00CF0543011B01BC0363011B01BC0363012301230263011B00CF0569014301F80589014301EE05A3011B00C603A3011301D207A3011B01BC03A30123012302C0011300FC01C0012B002302C3011B01BC03C30123012302C3011B00980BC3011301570BE0012B002302E0011300FC01E9014301000600021300FC0100022B00230209024301100620022B00230220021300FC0129024B01230240022B00230249024B01230260022B00230269024B01230280021300FC0180022B002302890253012302A0022B002302A9024B012302C0022B002302C0021300FC01C9024B012302E9024B01230200032B01EE0309034B01230229034B01230249034B01230269034B012302890353012A06C00853025907E0085302E006000953020107200953021907400953027407600953028A07800953023507400A2B01B909A00A2B011608400B2B01930D600B2B01B20B440249024E025302A302AD02B702C102C502D002D502E402E40264037B03B305B805BD05BD05D502D502C305C905C502D502D502D502D502D502D502C502D502D502C5022506B702B702B702A506AD02AD02D502C1027B03B4077B03B407CB077B037B0304000100050005000600080008000900090011000A0015000B0018000D001D00000082014F0000003B0254000000EA015900000047025E0000008100B5000000E300BA0000001301BF000000BA03D40000007005400100007505450100007A054A0100007D054A0100008205500100008A05500100008F05540100009A055A0100002306680100002A06500100002F0650010000D70250010000BB0650010000C60650010000D106500100003807680100002A0650010000400750010000450768010000D7027B0100003E09500100004209DD01020004000300020005000500020006000700020007000900020008000B0001000B000B00020009000D0001000C000D0001000D000F0002000A000F0002001500110002001A00130001001B00130002001C00150001001D00150001001F00170002001E001700020020001900010021001900010023001B00020022001B00020024001D00010025001D00020026001F00010027001F0002002800210001002900210002002B00230001002C00230001002E00250002002D00250002002F002700010030002700010032002900020031002900020034002B00010035002B00020036002D00010037002D00020038002F00010039002F0002003B00310001003C00310001003E00330002003D00330002003F00350001004000350001004200370002004100370002004300390001004400390002004E003B0001004F003B00020050003D00010051003D00A200A200C40028022F0236023D024B0352037C06048000000000000000000000000000000000DA00000002000000000000000000000001000A00000000000800000000000000000000000A001300000000000200000000000000000000000A00C6030000000002000000000000000000000001009D070000000002000000000000000000000001008B01000000000200000000000000000000000100540C000000000500040006000400000010000C0048030000100025004803000000002700480324009E022400A8022400B20226009E022600A8022600B2022F00DF022F00590300000000003C4D6F64756C653E006D73636F726C6962004D6963726F736F66742E56697375616C4261736963004D794170706C69636174696F6E004D657373616765732E4D79004D79436F6D7075746572004D7950726F6A656374004D79576562536572766963657300546872656164536166654F626A65637450726F76696465726031004D61696C53657276696365004D657373616765732E5365727669636573004D4553534147450041646472657373004C696E6B65645265736F75726365004174746163686D656E740053746F72656450726F63656475726573004D6573736167657300506D745265676C616D656E7453657276696365004D657373616765732E53616C65732E506C616E4D6F6C73546F7673005265676C616D656E7453657276696365004D6963726F736F66742E56697375616C42617369632E4170706C69636174696F6E5365727669636573004170706C69636174696F6E42617365002E63746F72004D6963726F736F66742E56697375616C42617369632E4465766963657300436F6D70757465720053797374656D004F626A656374002E6363746F72006765745F436F6D7075746572006D5F436F6D70757465724F626A65637450726F7669646572006765745F4170706C69636174696F6E006D5F4170704F626A65637450726F76696465720055736572006765745F55736572006D5F557365724F626A65637450726F7669646572006765745F5765625365727669636573006D5F4D7957656253657276696365734F626A65637450726F7669646572004170706C69636174696F6E005765625365727669636573006765745F4D61696C53657276696365006765745F506D745265676C616D656E7453657276696365006765745F5265676C616D656E7453657276696365006D5F4D61696C53657276696365006D5F506D745265676C616D656E7453657276696365006D5F5265676C616D656E7453657276696365007365745F4D61696C536572766963650056616C7565007365745F506D745265676C616D656E7453657276696365007365745F5265676C616D656E745365727669636500457175616C73006F0047657448617368436F64650054797065004765745479706500546F537472696E67004372656174655F5F496E7374616E63655F5F005400696E7374616E636500446973706F73655F5F496E7374616E63655F5F006765745F476574496E7374616E6365004D6963726F736F66742E56697375616C42617369632E4D7953657276696365732E496E7465726E616C00436F6E7465787456616C75656031006D5F436F6E7465787400476574496E7374616E63650053797374656D2E5765622E53657276696365730053797374656D2E5765622E53657276696365732E50726F746F636F6C7300536F617048747470436C69656E7450726F746F636F6C0075736544656661756C7443726564656E7469616C735365744578706C696369746C790053656E644D657373616765004B65790074656D706C617465004461746554696D6500644154454669656C640066524F4D4669656C6400746F4669656C6400634F50594669656C64007355424A4543544669656C6400624F44594669656C64006154544143484D454E544669656C64006C494E4B45445F5245534F555243454669656C64006765745F44415445007365745F444154450076616C7565006765745F46524F4D007365745F46524F4D006765745F544F007365745F544F006765745F434F5059007365745F434F5059006765745F5355424A454354007365745F5355424A454354006765745F424F4459007365745F424F4459006765745F4154544143484D454E54007365745F4154544143484D454E54006765745F4C494E4B45445F5245534F55524345007365745F4C494E4B45445F5245534F5552434500444154450046524F4D00544F00434F5059005355424A45435400424F4459004154544143484D454E54004C494E4B45445F5245534F55524345006D4F4C5F49444669656C64006E414D454669656C64006C494E4B4669656C640076616C75654669656C64006765745F4D4F4C5F4944007365745F4D4F4C5F4944006765745F4E414D45007365745F4E414D45006765745F4C494E4B007365745F4C494E4B006765745F56616C7565007365745F56616C7565004D4F4C5F4944004E414D45004C494E4B00634F4E54454E545F49444669656C64006D454449415F545950454669656C640066494C455F4E414D454669656C64006765745F434F4E54454E545F4944007365745F434F4E54454E545F4944006765745F4D454449415F54595045007365745F4D454449415F54595045006765745F46494C455F4E414D45007365745F46494C455F4E414D4500434F4E54454E545F4944004D454449415F545950450046494C455F4E414D450066494C455F49444669656C6400745950454669656C640073495A454669656C64006765745F46494C455F4944007365745F46494C455F4944006765745F54595045007365745F54595045006765745F53495A45007365745F53495A450046494C455F494400545950450053495A4500617370785F7265676C616D656E74005669727475616C50617468005265676C616D656E7454797065004D6574686F644E616D65004E616D654C6F676F6E00617370785F7265676C616D656E745F6173796E630053797374656D2E446174610053797374656D2E446174612E53716C54797065730053716C586D6C00617370785F696E766F6B6500547970654E616D6500506172616D6574657200617370785F696E766F6B655F737276005365727665724E616D65004D65737361676500706D745F7265676C616D656E745F7369676E00506572696F64496400416374696F6E00706D745F7265676C616D656E745F6175746F61646D696E004375727244617465006765745F55726C007365745F55726C006765745F55736544656661756C7443726564656E7469616C73007365745F55736544656661756C7443726564656E7469616C73005369676E00416374696F6E4E616D6500494173796E63526573756C74004173796E6343616C6C6261636B00426567696E5369676E0063616C6C6261636B006173796E63537461746500456E645369676E006173796E63526573756C74004175746F41646D696E0043757272656E744461746500426567696E4175746F41646D696E00456E644175746F41646D696E0049734C6F63616C46696C6553797374656D576562536572766963650075726C0055726C0055736544656661756C7443726564656E7469616C730053797374656D2E546872656164696E670053656E644F72506F737443616C6C6261636B004175746F41646D696E4F7065726174696F6E436F6D706C6574656400496E766F6B654D6574686F644F7065726174696F6E436F6D706C65746564004D6574686F6400496E766F6B654D6574686F640053797374656D2E436F6D706F6E656E744D6F64656C00456469746F7242726F777361626C6541747472696275746500456469746F7242726F777361626C6553746174650053797374656D2E436F6465446F6D2E436F6D70696C65720047656E657261746564436F64654174747269627574650053797374656D2E446961676E6F737469637300446562756767657248696464656E417474726962757465004D6963726F736F66742E56697375616C42617369632E436F6D70696C65725365727669636573005374616E646172644D6F64756C6541747472696275746500486964654D6F64756C654E616D654174747269627574650053797374656D2E436F6D706F6E656E744D6F64656C2E44657369676E0048656C704B6579776F726441747472696275746500417267756D656E74457863657074696F6E0053797374656D2E52756E74696D652E436F6D70696C657253657276696365730052756E74696D6548656C70657273004765744F626A65637456616C75650052756E74696D655479706548616E646C65004765745479706546726F6D48616E646C6500416374697661746F7200437265617465496E7374616E6365004D7947726F7570436F6C6C656374696F6E4174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500576562436C69656E7450726F746F636F6C00496E766F6B65005765625365727669636542696E64696E674174747269627574650044657369676E657243617465676F7279417474726962757465004465627567676572537465705468726F75676841747472696275746500536F6170446F63756D656E744D6574686F644174747269627574650053797374656D2E586D6C0053797374656D2E586D6C2E53657269616C697A6174696F6E00586D6C456C656D656E744174747269627574650053657269616C697A61626C6541747472696275746500586D6C41747472696275746541747472696275746500586D6C54657874417474726962757465007365745F54696D656F757400537472696E670049734E756C6C4F72456D70747900466F726D617400586D6C446F63756D656E7400586D6C52656164657200586D6C456C656D656E740053797374656D2E436F6C6C656374696F6E732E47656E65726963004C697374603100457863657074696F6E0053797374656D2E436F6C6C656374696F6E730049456E756D657261746F72006765745F49734E756C6C00437265617465526561646572004C6F616400586D6C4E6F646500586D6C4E6F64654C6973740053656C6563744E6F64657300476574456E756D657261746F72006765745F43757272656E740053656C65637453696E676C654E6F6465006765745F496E6E65725465787400436F6E76657273696F6E7300546F496E746567657200586D6C417474726962757465436F6C6C656374696F6E006765745F4174747269627574657300586D6C417474726962757465006765745F4974656D4F6600416464004D6F76654E6578740049446973706F7361626C6500446973706F7365006765745F436F756E7400546F4172726179006765745F4F75746572586D6C00456D7074790050726F6A656374446174610053657450726F6A6563744572726F72006765745F4D65737361676500436F6E63617400436C65617250726F6A6563744572726F72004D6963726F736F66742E53716C5365727665722E5365727665720053716C50726F63656475726541747472696275746500496E74333200426567696E496E766F6B6500456E64496E766F6B6500557269006765745F506F7274006765745F486F737400537472696E67436F6D70617269736F6E00436F6D706172650044656275676761626C6541747472696275746500446562756767696E674D6F64657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465004D657373616765732E646C6C000047500072006F00700065007200740079002000630061006E0020006F006E006C0079002000620065002000730065007400200074006F0020004E006F007400680069006E006700007568007400740070003A002F002F0063006900730070002E00730073006E00610062002E00720075002F00530053002F0043006F006E00740072006F006C0073002F00530065007200760069006300650073002F004D00610069006C0053006500720076006900630065002E00610073006D0078000017530065006E0064004D00650073007300610067006500007F68007400740070003A002F002F0063006900730070002E00730073006E00610062002E00720075002F00530053002F0043006F006E00740072006F006C0073002F00530065007200760069006300650073002F005200650067006C0061006D0065006E00740053006500720076006900630065002E00610073006D007800007968007400740070003A002F002F0063006900730070002E00730073006E00610062002E00720075002F0043006F006E00740072006F006C0073002F00530065007200760069006300650073002F005200650067006C0061006D0065006E00740053006500720076006900630065002E00610073006D007800001B63006900730070002E00730073006E00610062002E0072007500006B68007400740070003A002F002F007B0030007D002F00530053002F0043006F006E00740072006F006C0073002F00530065007200760069006300650073002F005200650067006C0061006D0065006E00740053006500720076006900630065002E00610073006D00780000132F002F004D00450053005300410047004500000F5300550042004A004500430054000009460052004F004D000019460052004F004D002F0040004D004F004C005F0049004400000554004F00000D4D004F004C005F004900440000094C0049004E004B00000943004F0050005900000942004F0044005900003F2F00530073002F0043006F006E00740072006F006C0073002F004D0065007300730061006700650073002F004D00610069006C002E0061007300700078000011540045004D0050004C00410054004500000B4100530059004E004300000B4400450042005500470000074B0045005900007568007400740070003A002F002F0063006900730070002E00730073006E00610062002E00720075002F00530073002F0043006F006E00740072006F006C0073002F00530065007200760069006300650073002F004D00610069006C0053006500720076006900630065002E00610073006D007800000F530045005200560049004300450000052000200000808568007400740070003A002F002F0063006900730070002E00730073006E00610062002E00720075002F00530053002F0043006F006E00740072006F006C0073002F00530065007200760069006300650073002F0050006D0074005200650067006C0061006D0065006E00740053006500720076006900630065002E00610073006D00780000095300690067006E0000134100750074006F00410064006D0069006E0000136C006F00630061006C0048006F0073007400001949006E0076006F006B0065004D006500740068006F006400009D66B8EFA92747439795CB7545F45E7A0008B77A5C561934E08908B03F5F7F11D50A3A0320000103000001040000120C070615121801120C040000120807061512180112080400001211070615121801121104000012140706151218011214040800120C040800120804080012110408001214042000121C042000123404200012380306121C030612340306123805200101121C052001011234052001011238042001021C0320000804200012150320000E021E00071001011E001E000730010101101E00042800121C04280012340428001238021300042000130007061512190113000428001300020602072003010E12200E030611210306122404061D122402060E04061D122C04061D1228042000112105200101112104200012240520010112240520001D1224062001011D1224042001010E0520001D122C062001011D122C0520001D1228062001011D1228042800112104280012240528001D12240328000E0528001D122C0528001D122802060804200101080328000803061D050420001D05052001011D050428001D05070004010E0E0E0E090005010E0E0E12250E0A0006010E0E0E12250E0E05000101122505000201080E05000101112103200002042001010205200201080E0920041229080E122D1C05200101122909200312291121122D1C042001020E0328000203061231072004010E0E0E0E082005010E0E0E0E0E052001011139080100010000000000052002010E0E1701000A4D7954656D706C61746507382E302E302E30000004010000000615121801120C061512180112080615121801121106151218011214040701120C0407011208040701121104070112141001000B4D792E436F6D707574657200001301000E4D792E576562536572766963657300001301000E4D792E4170706C69636174696F6E00000C0100074D792E557365720000040A01121C040701121C040A0112340407011234040A01123804070112380400011C1C03070102030701080600011215115904070112150307010E051001001E00040A011E000407011E006101003453797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F617048747470436C69656E7450726F746F636F6C124372656174655F5F496E7374616E63655F5F13446973706F73655F5F496E7374616E63655F5F0000000615121801130006151219011300040A0113000520010113000807031300130013000501000000000720021D1C0E1D1C0407011D1C3B01000200540E044E616D650F4D61696C53657276696365536F6170540E094E616D65737061636513687474703A2F2F74656D707572692E6F72672F09010004636F646500002701001353797374656D2E5765622E53657276696365730E322E302E35303732372E33303533000081A301001E687474703A2F2F74656D707572692E6F72672F53656E644D6573736167650400540E10526571756573744E616D65737061636513687474703A2F2F74656D707572692E6F72672F540E11526573706F6E73654E616D65737061636513687474703A2F2F74656D707572692E6F72672F5455808653797374656D2E5765622E53657276696365732E4465736372697074696F6E2E536F617042696E64696E675573652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336103557365020000005455808853797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F6170506172616D657465725374796C652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623033663566376631316435306133610E506172616D657465725374796C65020000001F01000200540E094E616D6573706163650054020A49734E756C6C61626C6501040701112104070112240507011D12240507011D122C0507011D12281E01000A53797374656D2E586D6C0E322E302E35303732372E33303533000009010004434F5059000007010002544F00000F01000A4154544143484D454E5400001401000F4C494E4B45445F5245534F5552434500000407011D051C01000100540E0844617461547970650C62617365363442696E617279040001020E0500020E0E1C052000128095062001011280950620011280AD0E0520001280A50320001C0620011280A90E040001080E071512809D0112240520001280B50620011280B90E0520001D1300060001011280A10600030E0E0E0E3A07151280911220128095121C1280990212241512809D011224020E0E12240E1512809D01122412241280991280991280A11280A51280A51280A52001000100540E044E616D6514617370785F7265676C616D656E745F6173796E631701000100540E044E616D650B617370785F696E766F6B651B01000100540E044E616D650F617370785F696E766F6B655F7372762301000100540E044E616D6517706D745F7265676C616D656E745F6175746F61646D696E1A01000100540E044E616D650E617370785F7265676C616D656E741501000100540E044E616D6509617370785F6D61696C1E01000100540E044E616D6512706D745F7265676C616D656E745F7369676E0A200412290E1D1C122D1C06070212291D1C0620011D1C1229080003080E0E1180D1060702021280CD4301000200540E044E616D6517506D745265676C616D656E7453657276696365536F6170540E094E616D65737061636513687474703A2F2F74656D707572692E6F72672F81A101001C687474703A2F2F74656D707572692E6F72672F4175746F41646D696E0400540E10526571756573744E616D65737061636513687474703A2F2F74656D707572692E6F72672F540E11526573706F6E73654E616D65737061636513687474703A2F2F74656D707572692E6F72672F5455808653797374656D2E5765622E53657276696365732E4465736372697074696F6E2E536F617042696E64696E675573652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336103557365020000005455808853797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F6170506172616D657465725374796C652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623033663566376631316435306133610E506172616D657465725374796C6502000000819C010017687474703A2F2F74656D707572692E6F72672F5369676E0400540E10526571756573744E616D65737061636513687474703A2F2F74656D707572692E6F72672F540E11526573706F6E73654E616D65737061636513687474703A2F2F74656D707572692E6F72672F5455808653797374656D2E5765622E53657276696365732E4465736372697074696F6E2E536F617042696E64696E675573652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336103557365020000005455808853797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F6170506172616D657465725374796C652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623033663566376631316435306133610E506172616D657465725374796C65020000004001000200540E044E616D65145265676C616D656E7453657276696365536F6170540E094E616D65737061636513687474703A2F2F74656D707572692E6F72672F190100047773646C0F342E302E33303331392E3137363236000081DF010019687474703A2F2F74656D707572692E6F72672F496E766F6B650600540E1252657175657374456C656D656E744E616D6506496E766F6B65540E10526571756573744E616D65737061636513687474703A2F2F74656D707572692E6F72672F540E13526573706F6E7365456C656D656E744E616D650E496E766F6B65526573706F6E7365540E11526573706F6E73654E616D65737061636513687474703A2F2F74656D707572692E6F72672F5455808653797374656D2E5765622E53657276696365732E4465736372697074696F6E2E536F617042696E64696E675573652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336103557365020000005455808853797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F6170506172616D657465725374796C652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623033663566376631316435306133610E506172616D657465725374796C650200000081EB01001D687474703A2F2F74656D707572692E6F72672F4175746F41646D696E320600540E1252657175657374456C656D656E744E616D650A4175746F41646D696E32540E10526571756573744E616D65737061636513687474703A2F2F74656D707572692E6F72672F540E13526573706F6E7365456C656D656E744E616D65124175746F41646D696E32526573706F6E7365540E11526573706F6E73654E616D65737061636513687474703A2F2F74656D707572692E6F72672F5455808653797374656D2E5765622E53657276696365732E4465736372697074696F6E2E536F617042696E64696E675573652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D6230336635663766313164353061336103557365020000005455808853797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F6170506172616D657465725374796C652C2053797374656D2E5765622E53657276696365732C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623033663566376631316435306133610E506172616D657465725374796C6502000000062001011180D90801000300000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301EC62000000000000000000000E630000002000000000000000000000000000000000000000000000006300000000000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FD13025300000000020000001C0100001C8000001C4800005253445393EDF992D0664242A92459208CE14BC401000000433A5C50726F6A656374735C53716C536572766572536F6C7574696F6E5C4D657373616765735C6F626A5C52656C656173655C4D657373616765732E7064620000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058A000004C02000000000000000000004C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004AC010000010053007400720069006E006700460069006C00650049006E0066006F0000008801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000003C000D00010049006E007400650072006E0061006C004E0061006D00650000004D0065007300730061006700650073002E0064006C006C00000000002800020001004C006500670061006C0043006F00700079007200690067006800740000002000000044000D0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004D0065007300730061006700650073002E0064006C006C0000000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000C000000203300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
