IF NOT EXISTS(SELECT 1 FROM SYS.TYPES WHERE NAME = 'FIFO_REQUEST')
CREATE TYPE [FIFO_REQUEST] AS TABLE(
	[ROW_ID] [int] NOT NULL,
	[GROUP_ID] [int] NULL,
	[VALUE] [float] NULL,
	PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
