IF NOT EXISTS(SELECT 1 FROM SYS.TYPES WHERE NAME = 'TREE_NODES')
CREATE TYPE [TREE_NODES] AS TABLE(
	[NODE_ID] [int] NOT NULL,
	[PARENT_ID] [int] NULL,
	[NUM] [int] NULL,
	[NODE] [hierarchyid] NULL,
	[LEVEL_ID] [int] NULL,
	PRIMARY KEY CLUSTERED 
(
	[NODE_ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
