
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[BUDGETS_SHARES_META]'))
EXEC sp_executesql @statement = N'CREATE VIEW [BUDGETS_SHARES_META] AS
	SELECT
		BUDGET_ID = O.OWNER_ID,
		OS.MOL_ID,
		OS.MOL_NODE_ID,
		OS.A_READ,
		OS.A_UPDATE,
		OS.A_ACCESS
	FROM OBJS_SHARES OS
		JOIN OBJS O ON O.OBJ_UID = OS.OBJ_UID
	WHERE O.OWNER_TYPE = ''BDG''' 
GO
