
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[BUDGETS_NAMES]'))
EXEC sp_executesql @statement = N'
CREATE VIEW [BUDGETS_NAMES] AS
	SELECT BUDGET_ID, NAME FROM DBO.BUDGETS
' 
GO
