
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[DIRECTIONS]'))
EXEC sp_executesql @statement = N'
CREATE VIEW [DIRECTIONS]
AS 
SELECT 
	DEPT_ID AS DIRECTION_ID, 
	ISNULL(SHORT_NAME, NAME) AS NAME,
	CHIEF_ID
FROM depts

' 
GO
