IF OBJECT_ID('DOCS_PRINCIPALS_DOGOVORS') IS NOT NULL DROP VIEW DOCS_PRINCIPALS_DOGOVORS
GO
CREATE VIEW DOCS_PRINCIPALS_DOGOVORS
AS 
SELECT 
    D.DOCUMENT_ID, 
    NAME = CONCAT(A.NAME, ' №', D.NAME, ' от ', CONVERT(VARCHAR, D.D_DOC, 104)),
    D.D_DOC, D.NUMBER, D.SUBJECT_ID, D.AGENT_ID
FROM DOCUMENTS D
    JOIN AGENTS A ON A.AGENT_ID = D.AGENT_ID
WHERE D.TYPE_ID = 2
    AND D.STATUS_ID >= 0
    AND TAGS LIKE '%договор с принципалом%'
GO
