IF EXISTS (SELECT * FROM SYS.VIEWS WHERE OBJECT_ID = OBJECT_ID(N'DOCUMENTS_NAMES'))
    DROP VIEW DOCUMENTS_NAMES;
GO
CREATE VIEW DOCUMENTS_NAMES AS SELECT DOCUMENT_ID, DOCUMENT_ID AS NODE_ID, NAME FROM DOCUMENTS WHERE IS_DELETED = 0
GO
