
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[MFR_RESOURCES_REFS]'))
EXEC sp_executesql @statement = N'CREATE VIEW [MFR_RESOURCES_REFS] AS SELECT RESOURCE_ID, NAME FROM MFR_RESOURCES' 
GO
