IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID('MFR_ATTRS_REFS'))
EXEC sp_executesql @statement = N'CREATE VIEW [MFR_ATTRS_REFS] AS
    SELECT ATTR_ID, NAME FROM PRODMETA_ATTRS X' 
GO
