
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[MFR_PDM_OPTIONS_REFS]'))
EXEC sp_executesql @statement = N'CREATE VIEW [MFR_PDM_OPTIONS_REFS] AS SELECT PDM_OPTION_ID, GROUP_NAME, NAME FROM MFR_PDM_OPTIONS
' 
GO
