
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[PRODUCTS_REFS]'))
EXEC sp_executesql @statement = N'CREATE VIEW [PRODUCTS_REFS] AS SELECT PRODUCT_ID, NAME, NAME_PRINT FROM PRODUCTS
' 
GO
