IF OBJECT_ID('PROJECTS_TASKS_COMMENTS') IS NOT NULL DROP VIEW PROJECTS_TASKS_COMMENTS
GO

CREATE VIEW PROJECTS_TASKS_COMMENTS
WITH SCHEMABINDING
AS

SELECT
	T.PROJECT_ID,
	0 as REP_ID,
	T.TASK_ID,
	T.TASK_NUMBER,
	TH.HIST_ID as ID,
	TH.PARENT_ID as TALK_ID,
	TH.MOL_ID,
	TH.D_ADD AS D_DOC,
	TH.BODY AS NOTE
FROM DBO.PROJECTS_TASKS T
	JOIN DBO.TALKS_HISTS TH ON TH.PARENT_ID = T.TALK_ID
where isnull(th.body, '') != ''
GO

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'PROJECTS_TASKS_COMMENTS') AND name = N'IX_PROJECTS_TASKS_COMMENTS')
CREATE UNIQUE CLUSTERED INDEX IX_PROJECTS_TASKS_COMMENTS ON PROJECTS_TASKS_COMMENTS
(
	TASK_ID,
	ID
)
GO
