
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[SDOCS_MFR]'))
EXEC sp_executesql @statement = N'-- SELECT TOP 10 * FROM SDOCS_MFR
CREATE VIEW [SDOCS_MFR]
AS
SELECT 
	DOC_ID,	
	TYPE_ID,
    EXT_TYPE_ID, EXT_PROBABILITY_ID, EXT_STATUS_ID,
	ACC_REGISTER_ID,
	PLAN_ID,
	PRIORITY_ID,
	PART_PARENT_ID,
	SUBJECT_ID,	
	STATUS_ID,
	SOURCE_ID,
	STOCK_ID,
	AGENT_ID,
	DEAL_ID,
	PROJECT_TASK_ID,
	MOL_ID,
	D_DOC, D_DELIVERY, D_SHIP, D_ISSUE, D_ISSUE_PLAN, D_ISSUE_FORECAST, D_SYNC_CHILDS,
	NUMBER,
	CCY_ID, VALUE_CCY,
	NOTE,
	PARENT_ID, TALK_ID, REFKEY,
	TEMPLATE_NAME, TEMPLATE_NOTE,
	SYNC_DIRTY,
	ADD_MOL_ID, ADD_DATE, UPDATE_MOL_ID, UPDATE_DATE
FROM SDOCS
WHERE TYPE_ID = 5' 
GO
