
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[SDOCS_TYPE8_MILESTONES]'))
EXEC sp_executesql @statement = N'CREATE VIEW [SDOCS_TYPE8_MILESTONES] AS
	SELECT MILESTONE_ID = ID, NAME, SHORT_NAME FROM OPTIONS_LISTS WHERE L_GROUP = ''SdocType1Milestones''
' 
GO
