
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[SDOCS_STOCKS_REFS]'))
EXEC sp_executesql @statement = N'CREATE VIEW [SDOCS_STOCKS_REFS] AS
    SELECT STOCK_ID, NAME FROM SDOCS_STOCKS' 
GO
